## ***Pandas*** üêº

### **Importando Pandas**
```python
import pandas as pd:
```
Importa a biblioteca pandas e a apelida de pd. O pandas √© uma biblioteca poderosa para manipula√ß√£o e an√°lise de dados em Python.

In [ ]:
pip install --upgrade pip

In [20]:
import pandas as pd

###**pd.Series**

```Python
pd.Series(...):
```

Converte a lista em uma S√©rie do pandas. Uma S√©rie √© uma estrutura de dados unidimensional que pode armazenar qualquer tipo de dado. Cada elemento na S√©rie possui um r√≥tulo, chamado de √≠ndice.

```Python
list('abcdef'):
```
Cria uma lista contendo os caracteres 'a', 'b', 'c', 'd', 'e' e 'f'. A fun√ß√£o list() converte a string em uma lista de caracteres.

Veja:

```python
s1 = pd.Series(list('abcdef'))
s1
```

***Exemplo Serie 1:***

A S√©rie s1 foi criada com os valores 'a', 'b', 'c', 'd', 'e' e 'f', e os √≠ndices s√£o automaticamente atribu√≠dos de 0 a 5.

In [ ]:
s1 = pd.Series(list('abcdef'))
s1

***Exemplo Serie 2:***

`pd.Series([...]):` Cria uma S√©rie no pandas.

`[2, 4, 6, 8]:` Os valores que ser√£o armazenados na S√©rie.

 A S√©rie s2 ter√° automaticamente √≠ndices atribu√≠dos de 0 a 3, e voc√™ pode realizar diversas opera√ß√µes e an√°lises de dados utilizando os recursos oferecidos pelo pandas para manipula√ß√£o de S√©ries e DataFrames.

In [ ]:
s2 = pd.Series([2,4,6,8])
s2

***Exemplo Serie 3:***

`pd.Series([...], index=['a', 'b', 'c', 'd']):`

Cria uma S√©rie no pandas com valores espec√≠ficos e √≠ndices associados.

A principal diferen√ßa em rela√ß√£o √† S√©rie anterior (s2) √© que, desta vez, os √≠ndices s√£o especificados manualmente como `['a', 'b', 'c', 'd']`, em vez de serem gerados automaticamente. Isso permite associar r√≥tulos personalizados aos elementos da S√©rie, facilitando a refer√™ncia aos valores por meio desses r√≥tulos.

In [ ]:
s3 = pd.Series([2,4,6,8], index = ['a','b','c','d'])
s3

***Exemplo Serie 3.1:***

`s3['b']`: Acessa o valor na S√©rie s3 correspondente ao √≠ndice 'b'.

Neste caso espec√≠fico, a S√©rie s3 foi criada com √≠ndices personalizados, onde 'b' √© um desses √≠ndices. Portanto, a express√£o `s3['b']` retornar√° o valor associado ao √≠ndice 'b', que √© 4. Esse tipo de indexa√ß√£o baseada em r√≥tulos √© uma caracter√≠stica poderosa das estruturas de dados do pandas.

In [ ]:
s3['b']

***Exemplo Serie 3.2:***

`s3[['b', 'c']]`: Seleciona os valores da S√©rie s3 correspondentes aos √≠ndices 'b' e 'c', resultando em uma nova S√©rie.

A express√£o retorna uma S√©rie contendo os valores 4 e 6, que est√£o associados aos √≠ndices 'b' e 'c', respectivamente. O uso de uma lista `['b', 'c']` na indexa√ß√£o permite selecionar m√∫ltiplos valores ao mesmo tempo. Essa √© uma funcionalidade flex√≠vel do pandas que facilita a manipula√ß√£o de dados em conjuntos.

In [ ]:
s3[['b','c']]

***Exemplo Serie 4:***

O c√≥digo `s4 = pd.Series(range(10), index=list('ababcedded'))` cria uma S√©rie no pandas chamada s4 com valores de 0 a 9 e √≠ndices associados √†s letras 'a', 'b', 'a', 'b', 'c', 'e', 'd', 'd', 'e' e 'd'.

Em resumo:
`pd.Series(range(10), index=list('ababcedded'))`: Cria uma S√©rie no pandas com valores de 0 a 9 e √≠ndices espec√≠ficos.

Os √≠ndices s√£o baseados na lista de caracteres 'ababcedded'. Cada letra na lista √© associada a um valor na S√©rie. Por exemplo, 'a' est√° associado a 0, 'b' est√° associado a 1, 'c' est√° associado a 4, e assim por diante.

In [ ]:
s4 = pd.Series(range(10), index = list('ababcedded'))
s4

***Exemplo Serie 4:***

A express√£o s4['a'] realiza uma opera√ß√£o de indexa√ß√£o na S√©rie s4, retornando uma nova S√©rie que cont√©m os valores associados ao √≠ndice 'a'. Em resumo:

`s4['a']`: Seleciona os valores da S√©rie s4 associados ao √≠ndice 'a'.

Se a S√©rie s4 for definida como no exemplo anterior, onde os √≠ndices 'a' est√£o associados aos valores 0 e 2, ent√£o `s4['a']` resultar√° em uma S√©rie contendo esses valores.

Esta S√©rie resultante mostra os valores 0 e 2 associados aos √≠ndices 'a'. Note que, como os √≠ndices n√£o s√£o √∫nicos, a opera√ß√£o de indexa√ß√£o pode retornar m√∫ltiplos valores.

In [ ]:
s4['a']

***Exemplo Serie 4.1:***

s4['d']: Seleciona os valores da S√©rie s4 associados ao √≠ndice 'd', resultando em uma nova S√©rie.

[0]: Seleciona o primeiro elemento dessa nova S√©rie.

Assumindo que a S√©rie s4 tenha sido definida conforme mencionado anteriormente, onde os √≠ndices 'd' est√£o associados aos valores 6, 7 e 9, ent√£o s4['d'][0] resultar√° em:

In [ ]:
s4['d'][1]

In [ ]:
# Imprime a Serie 4
s4

a    0
b    1
a    2
b    3
c    4
e    5
d    6
d    7
e    8
d    9
dtype: int64

***Exemplo Serie 4.2:***

A express√£o `s4[s4 < 2]` realiza uma opera√ß√£o de filtragem na S√©rie s4, retornando uma nova S√©rie contendo apenas os elementos cujos valores s√£o menores que 2. Em resumo:

`s4 < 2`: Cria uma S√©rie de valores booleanos indicando se cada elemento na S√©rie s4 √© menor que 2.

`s4[s4 < 2]`: Seleciona apenas os elementos da S√©rie s4 onde a condi√ß√£o √© verdadeira, ou seja, onde o valor √© menor que 2.

Assumindo que a S√©rie s4 tenha sido definida conforme mencionado anteriormente, onde os primeiros tr√™s valores s√£o associados aos √≠ndices 'a', 'b' e 'a', e assim por diante, ent√£o `s4[s4 < 2]` resultar√° em:

In [ ]:
s4[s4<2]

In [ ]:
s4[s4>3]

***Exemplo Serie 4.3:***

In [ ]:
s4>3

a    False
b    False
a    False
b    False
c     True
e     True
d     True
d     True
e     True
d     True
dtype: bool

In [ ]:
s4+2

In [ ]:
s4*2

a     0
b     2
a     4
b     6
c     8
e    10
d    12
d    14
e    16
d    18
dtype: int64

In [ ]:
dicio = {'a':100, 'b':200, 'c':300}
s5 = pd.Series(dicio)
s5

a    100
b    200
c    300
dtype: int64

In [ ]:
dicio2 = {'nome':'Maria', 'idade':'50','sexo':'feminino'}
s6 = pd.Series(dicio2)
s6

nome        Maria
idade          50
sexo     feminino
dtype: object

In [ ]:
dicionario = {'b': 100, 'c': 150, 'd': 200}
s = pd.Series(dicionario)
s

b    100
c    150
d    200
dtype: int64

In [ ]:
s = pd.Series(dicionario, list('abcd'))
s

a      NaN
b    100.0
c    150.0
d    200.0
dtype: float64

In [ ]:
s6 = pd.Series([1,2,3], index = ['c','b','a'])
s6

c    1
b    2
a    3
dtype: int64

In [ ]:
s*s6

a      NaN
b    200.0
c    150.0
d      NaN
dtype: float64

### ***ATIVIDADE: PRIMEIRA S√âRIE***

####PRIMEIRA S√âRIE

**O QUE FAZER?**
1. Criar duas series pandas com 4 posi√ß√µes cada, realizar as quatro opera√ß√µes matem√°ticas
b√°sicas entre as series e mostrar o resultado;
2. Criar uma terceira serie pandas com apenas 3 posi√ß√µes, realizar as quatro opera√ß√µes
matem√°ticas b√°sicas com uma das series do exerc√≠cio anterior e explicar o resultado.
‚ûî **COMO FAZER?**

Em grupos de 3 a 4 pessoas.
‚ûî **FECHAMENTO**
Compartilhar as impress√µes gerais da atividade e d√∫vidas.

In [ ]:
import pandas as pd

In [ ]:
Sa = pd.Series([3,6,9,12])
Sa

In [ ]:
Sb = pd.Series([5,10,15,20])
Sb

In [ ]:
Sa+Sb

In [ ]:
Sa*Sb

In [ ]:
Sa-Sb

In [ ]:
Sa/Sb

In [ ]:
Sc = pd.Series([1,2,3])
Sc

In [ ]:
Sc+Sa

In [ ]:
Sc-Sb

In [ ]:
Sc*Sa

In [ ]:
Sc/Sb

#### ATIVIDADE 2

cfriar s√©ries para guardar as seguintes informa√ß√µes sobre notas de alunos.
aluna maria tirou 7 no teste 10 na prova
aluno bruno tirou 6 no teste 8 na prova
aluno Lucas tirou 6 no teste e 10 na prova

In [ ]:
# prompt: criar s√©ries para guardar as seguintes informa√ß√µes sobre notas de alunos. aluna maria tirou 7 no teste 10 na prova aluno bruno tirou 6 no teste 8 na prova aluno Lucas tirou 6 no teste e 10 na prova

notas = pd.Series({'Maria': [7, 10], 'Bruno': [6, 8], 'Lucas': [6, 10]})
notas

## ***Importando CSV do Google Drive***

In [ ]:
import os
from google.colab import drive
import pandas as pd

# Montar o Google Drive
drive.mount ('/content/drive', force_remount=True)

#Caminho para o arquivo .csv no google drive
csv_path = '/content/drive/MyDrive/ANALISTA DE DADOS/PROJETOS SENAC ANALISTA DE DADOS/PROJETO EM GRUPO - MODULO 4/precos-semestrais-ca-2022-01.csv'

# Ler o arquivo .csv usando Pandas
df = pd.read_csv(csv_path, encoding='utf-8', sep=';')

display(df)

Mounted at /content/drive

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,GASOLINA,03/01/2022,"6,99",NaN,R$ / litro,VIBRA ENERGIA
1,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,ETANOL,03/01/2022,"5,99",NaN,R$ / litro,VIBRA ENERGIA
2,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,DIESEL,03/01/2022,"6,09",NaN,R$ / litro,VIBRA ENERGIA
3,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,GASOLINA ADITIVADA,03/01/2022,"7,05",NaN,R$ / litro,VIBRA ENERGIA
4,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,DIESEL S10,03/01/2022,"6,12",NaN,R$ / litro,VIBRA ENERGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529419,CO,MT,CUIABA,OZ REVENDEDORA DE COMBUSTIVEIS LTDA,36.757.198/0001-08,AVENIDA SENADOR METELLO,868,NaN,CENTRO-SUL,78020-600,GASOLINA,30/06/2022,"6,49",NaN,R$ / litro,BRANCA
529420,NE,MA,CAXIAS,POSTAO COMERCIO DE COMBUSTIVEIS LTDA,31.597.569/0001-00,RODOVIA BR-316,S/N,KM 552 SALA A,VOLTA REDONDA,65606-525,GASOLINA ADITIVADA,30/06/2022,"6,99",NaN,R$ / litro,BRANCA
529421,NE,MA,CAXIAS,POSTAO COMERCIO DE COMBUSTIVEIS LTDA,31.597.569/0001-00,RODOVIA BR-316,S/N,KM 552 SALA A,VOLTA REDONDA,65606-525,DIESEL S10,30/06/2022,"7,59",NaN,R$ / litro,BRANCA
529422,NE,MA,CAXIAS,POSTAO COMERCIO DE COMBUSTIVEIS LTDA,31.597.569/0001-00,RODOVIA BR-316,S/N,KM 552 SALA A,VOLTA REDONDA,65606-525,DIESEL,30/06/2022,"7,55",NaN,R$ / litro,BRANCA
529423,NE,MA,CAXIAS,POSTAO COMERCIO DE COMBUSTIVEIS LTDA,31.597.569/0001-00,RODOVIA BR-316,S/N,KM 552 SALA A,VOLTA REDONDA,65606-525,GASOLINA,30/06/2022,"6,99",NaN,R$ / litro,BRANCA

## ***Importando CSV do SAMPLE_DATA***

In [ ]:
import pandas as pd

csv_path = '/content/Pre√ßos semestrais - AUTOMOTIVOS_2023.01.1.csv'
df_csv = pd.read_csv(csv_path, encoding='utf-8', sep=';')

print('\nConte√∫do do arquivo .csv:')
print(df_csv)