<a href="https://colab.research.google.com/github/alsantosad/ANALISTA_DE_DADOS/blob/main/DEV_%3C/%3E_ANALISE_DE_DADOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**PYTHON**üêçCOM O APP **MIMO**ü§ñ

###**Dicion√°rio .dict()üìã**

Para acessar um valor dentro de um dicion√°rio, precisamos informar a "chave", veja o exemplo a seguir;

In [ ]:
# Exemplo 1 - Acessando Dicion√°rio:
bio_ator = {
"name" : "Bill Murray",
"conhecido por" : ["Perdidos no Espa√ßo", "Hora do Rush"]
}
print(bio_ator["name"])

#Podemos tamb√©m armazenar o valor que acessamos em uma vari√°vel, veja:
nome_ator = bio_ator["name"]
print(nome_ator)

Podemos iterar atr√°s das chaves do dicion√°rio pelo loop 'For'. Lemos assim, Para cada(for) player(chaves) dentro(in) do dicionario(pontos_jogadores):
Mostre(print()) jogadores(chave) dentro do dicion√°rio.

In [ ]:
# Exemplo
pontos_jogadores = {
"Ailton":35,
"Weliton":60,
"Fabiana":100
}
for jogadores in pontos_jogadores:
  print(pontos_jogadores[jogadores])

In [ ]:
#Dicion√°rio
passagem = {
"Barca":11,
"Primeira Classe": False
}
#Acessando Valor
passagem["Primeira Classe"]

#Agora vamos atualizar o valor da chave igual fazemos com uma vari√°vel
passagem["Primeira Classe"] = True
print(passagem)


**1. Question√°rio:**

Execute o c√≥digo

In [ ]:
# Criamos uma lista com as Perguntas
pergunta = [
    "1. Pelo nome da sua chave",
    "2. Pelo seu √≠ndice"
]

#Criamos uma lista vazia para armazenar pontos do resultado das perguntas
score = []

def pergunta_1():
    print("1 - Como acessamos um valor associado a uma determinada chave em um dicion√°rio?")

    for i in pergunta:
        print(i)

    resposta = int(input("R: "))
    resultado(resposta)

def resultado(resposta):
    if resposta == 1:
        print("Acertou!")
        score.append(100)
    elif resposta == 2:
        print("Errou")
        score.append(0)
    else:
        print("Inv√°lido. Digite 1 ou 2")

pergunta_1()
print(f"Sua pontua√ß√£o total √©: {sum(score)}")

***Acessando Chave-Valor de forma separada com o loop For.***

In [ ]:
# Dicion√°rio
glossario = {
    "fruta": "banana",
    "numero": "um",
    "objeto": "tesoura",
    "adjetivo": "belo",
    "criatura": "humano",
}
#Apresentando pelo Loop For as Chaves
for item in glossario.keys():
  print(item)
#Apresentando pelo Loop For os Valores
for item in glossario.values():
  print(item)

***Adicionando um novo item no dicion√°rio vazio.***

In [ ]:
# Dicionario vazio
dic ={}

#Adicionando uma nova chave "nome" seguido de uma tupla com o nome e sobrenome como valor
dic["nome"]=input("Digite seu nome "),input("Digite seu sobrenome ")

# Mostrando o conte√∫do do dicionario
print(dic)

#Mostrando somente as chaves do dicionario
print(dic.keys())

#Mostrando somente os valores do dicionario
print(dic.values())

***Verificando no dicionario se cont√©m uma determinada chave. Pra isso, usamos o operador 'in', veja o Exemplo:***

In [ ]:
# Dicionario vazio
dic = {
        'nome': 'S√£o Paulo',
        'estado': 'S√£o Paulo',
        'populacao': 12300000,
        'praia': False,
        'regiao': 'Sudeste',
        'gentilico': 'paulista'
}

#Utilizando o operador in para verificar se 'estado' esta dentro do dicion√°rio.
print('estado' in dic)
# Ao verificar se existe a chave "nome" dentro do dicion√°rio, ele retorna um valor booleano 'True ou 'False'.

#Podemos salvar esse resultado em uma vari√°vel
#Por exemplo
verificar_dic = 'estado' in dic
print(verificar_dic)

***2. Question√°rio***

Execute o c√≥digo e responda.

In [ ]:
print("O que nos d√° se verificarmos uma palavra no dicionario com o operador 'in'? ")
questoes =[
"1. Um valor booleano que indica se a chave est√° presente.",
"2. O valor da chave se a chave estiver presente."
]

while True:
  for p in questoes:
    print(p)
  pergunta = int(input("R: "))
  if pergunta == 1:
    print("Parab√©ns, Acertou!")
    break
  elif pergunta == 2:
    print("Resposta errada, tente novamente.")
    continue
  else:
    print("Digite novamente os n√∫meros correspondentes a Resposta.")
    continue


***Removendo chave-valor no dicion√°rio***

Para remover um par de chave-valor de forma semelhante a lista, chamamos o dicion√°rio seguido pela instru√ß√£o ".pop()"

In [ ]:

#Criamos o Dicion√°rio
stock = {
 "dresses": 25,
 "t-shirts": 50,
 "jeans": 1
}

'''Chamamos o dicion√°rio em seguida
a fun√ß√£o e dentro dos par√™nteses
o nome da chave a qual queremos remover 'stock.pop("jeans")'
'''
#stock.pop("jeans")
#Podemos tamb√©m armazenar o valor da chave removida para uma vari√°vel
jeans_stock = stock.pop("jeans") #para executar √© s√≥ remover o '#'
print(stock)
print(jeans_stock)

**üö©BOAS PR√ÅTICAS**üö©

Para evitar erros ao remover uma chave, √© importante que seja utilizado o operador condicional "if" para verificar se a chave existe.

In [ ]:
estoque = {
"vestido":25,
"camisa":50,
"jeans":1
}
if "jeans" in estoque:
  estoque.pop("jeans")

***3. Questionario***


***O que esse c√≥digo exibe?***

```def get_profile_info(user_data):
  age = user_data[2]
  name = user_data[0]
  return age, name```

```user = ["Ann", "Davis", 35]info = get_profile_info(user)
print(info)```

In [ ]:
opcoes ={
"1. ger_profile_info(user)":0,
"2. age, name":0,
"3. 35, 'Ann'":100
}

score =0

for item in opcoes.keys():
  print(item)

resposta = int(input("R: "))
if resposta == 1:
  score += opcoes["1. ger_profile_info(user)"]
  print("Errou, tente outra vez.")
elif resposta ==2:
  score += opcoes["2. age, name"]
  print("Errou, tente outra vez")
elif resposta ==3:
  score += opcoes["3. 35, 'Ann'"]
  print("Acertou! Parabens")
else:
  print("Inv√°lido, digite o n√∫mero corretamente")

print(f'Seu Score √© {score}')

###**Conjuntos 'Set'**üìö

Conjuntos como 'codigo_postal ={}', s√£o cole√ß√µes de valores como listas, mas n√£o permitem valores duplicados.

Diferente do dicionario, o 'set' utiliza a virgula para separar cada valor como em listas.

O que s√£o Conjuntos?
Cole√ß√£o de valores que s√£o √∫nicos.

In [ ]:

#Exemplo de Conjunto ou "Set"
codigo_postal = {"SW1A","SY3","B44"}
print(codigo_postal)

{'SW1A', 'SY3', 'B44'}

***Adicionando um novo valor ao Conjunto***

In [ ]:
resposta ={"sim","nao"}
resposta.add("talvez")
print(resposta)

{'talvez', 'sim', 'nao'}

***Valores iguais dentro do conjunto s√£o exclu√≠dos***

Veja o exemplo abaixo:

In [ ]:
# Criamos o conjunto
conjunto = {"sim","n√£o"}

# Adicionamos 'com add.()' o valor 'talvez'
conjunto.add("talvez")

# Aqui adicionamos um valor j√° existente no conjunto
# Vemos ao executar o c√≥digo que ele n√£o duplica o valor.
conjunto.add("sim")

print(conjunto)

{'talvez', 'sim', 'n√£o'}

**Os conjuntos n√£o s√£o ordenados ou seja, n√£o possuem √≠ndice como em lista.**

Dito isso, s√≥ conseguimos verificar se existe um valor no conjunto da seguinte forma:

**‚ùó- Verificando se existe um elemento no Conjunto**

üö©**O Resultado sempre √© um valor BOOLEANO.**

In [ ]:
# Criamos o conjunto
conjunto = {"sim","n√£o"}

# Para verificar se existe um valor em um conjunto
# utilizamos o operador 'in'
print("n√¢o" in conjunto)

# Sempre que verificamos se existe um valor, ele retorna um valor booleano

False


**Como iterar um Conjunto**

Vamos agora iterar pelos elementos do nosso conjunto com o loop 'for'.
Veja o exemplo:

In [ ]:
# Criamos o conjunto
conjunto = {"sim","n√£o","talvez"}
# Criando um loop 'for' para iterar nos elementos
# Ler: Para cada(for) opcao(valor/variavel) dentro(in)  do conjunto(set):
for opcao in conjunto:
  print(f"Op√ß√£o: {opcao}")

Op√ß√£o: talvez
Op√ß√£o: sim
Op√ß√£o: n√£o

***1. Question√°rio***
Como podemos acessar os elementos de um conjunto, j√° que os conjuntos n√£o possuem indices?

_Mostre um c√≥digo que resolva essa quest√£o._

***Removendo um elemento do conjunto***

In [ ]:

# Criando um conjunto
classes = {
"rico","pobre","classe m√©dia",
"Classe alta"
}

# Removendo um elemento do conjunto com a fun√ß√£o 'remove()' e o valor entre parenteses
classes.remove("pobre")
print(classes)

{'classe m√©dia', 'rico', 'Classe alta'}

***O que acontece se removemos um elemento do nosso conjunto que nao existe?***
_Veja:_

In [ ]:
# Se tentarmos remover um elemento que n√£o existe no nosso conjunto, o c√≥digo apresenta um erro 'key error'
classes.remove("mendingo")
print(classes)

KeyError: ignored

***üö©Boas Pr√°ticasüö©***

Para evitar erros, primeiro verifique se um elemento est√° dentro 'in' de um conjunto antes de remove-lo com uma condi√ß√£o de valida√ß√£o. Veja:

In [ ]:
classes = {"Geometry", "Music", "French"}

if "History" in classes:
  classes.remove("History")

print(classes)

***Transformando uma lista em conjunto***
Utilizamos em uma lista, ele nos retorna os valores exclusivos de uma lista, sem duplicidades.

In [ ]:

# Criando uma lista
ingredientes_lista = [
"brocolis", "leite",
"cereais", "leite"
]
# Transformando em um conjunto com a fun√ß√£o 'set()' e entre parenteses o nome da lista.
print(set(ingredientes_lista))

# Salvando o resultado em uma vari√°vel
conj_ingredientes = set(ingredientes_lista)
print (conj_ingredientes)

In [ ]:
# Exemplo 2, eliminando duplicidade da lista
carro = ["gol", "voyagem", "corsa", "gol", "voyagem"]

# Transformando lista em conjunto 'set()'
nome_carros=set(carro)
print(nome_carros)

# Transformando o conjunto em lista 'list()'
carro_lista=list(nome_carros)
print(carro_lista)

**Utilizando a instru√ß√£o 'len()'**

Podemos saber o tamanho do conjunto com a instru√ß√£o 'len()' com o conjunto entre parenteses. Veja:

In [ ]:

friends = {"Emma", "Jen", "Rob", "Ed"}
print(len(friends))

amigos = {"pri", "handsson", "hudson", "davi", "felipe", "cesar", "meire", "stefani", "taiane", "cassio", "bololo"}
#utilizando a instru√ß√£o 'len()' no print().
print(len(amigos))

# Exemplos de utiliza√ß√£o da instru√ß√£o 'len()'.
quant_amigos=len(amigos)
print(quant_amigos)

#Verificando o tipo do valor
quant = type(quant_amigos)
print(quant)

**‚ùóSubConjuntos do Conjunto**

Quando todos os elementos de um conjunto como 'chat', est√£o presentes em outro conjunto como 'amigos', dizemos que ele √© um 'SubConjunto' de 'amigos'. Veja

‚ùóUtilizando a instru√ß√£o **'issubset()'**. **chat.issubset(amigos)**
_SubConjunto.issubset(Conjunto)_

üö©**O resultado √© um valor BOOLEANO.**
Veja:

In [ ]:
amigos = {"davi", "diego", "alex"}
chat = {"davi", "diego"}
print(chat.issubset(amigos))

‚ùó**Utilizando a instru√ß√£o '.difference()'**

Para obter um conjunto de elementos que est√£o presente no conjunto 'colega_classe', mas n√£o no conjunto 'amigos', usamos a instru√ß√£o '.difference()'.

In [ ]:
colega_classe ={"Carlos", "Adriano", "Diego", "Davi", "Rafael", "Felipe"}
amigos ={"Carlos", "Adriano", "Diego"}
diferente=colega_classe.difference(amigos)
print(diferente)

##**Compress√£o de Listas** üóú

***Obs: S√≥ podemos utilizar *fun√ß√£o* que possuem a instru√ß√£o *Return****

###**Compress√£o de lista** com o loop **FOR**

In [ ]:

#EXEMPLO DE LISTA NORMAL

#Lista com valores
precos = [10,20,30,40,50,60,70,80,90,100]

#Lista vazia que receber√° os valores divididos
resultado_precos=[]

#Loop para percorrer a lista 'precos'
for preco in precos:
  divisao = preco/2 #Dividindo cada valor recebido da lista 'precos' e salvando na vari√°vel 'divisao'.
  resultado_precos.append(divisao) #Enviando cada valor armazenado na vari√°vel 'divisao' na lista 'resultado_precos'.

#Exibindo a lista 'resultado_precos
print(resultado_precos)

‚ùó**Exemplo 1** - Lista comprimida

In [ ]:
#EXEMPLO DE LISTA COMPRIMIDA
#Lista com valores
precos = [10,20,30,40,50,60,70,80,90,100]

#Comprimindo dentro da lista 'resultado_precos'
#Dentro da lista primeiro dividimos por 2 a vari√°vel 'preco' criada na opera√ß√£o
#iteramos 'for' cada valor da lista para 'preco'
#Lemos - Dividir pre√ßo por 2 pra cada pre√ßo na lista pre√ßos e armazenamos na lista.
resultado_precos = [preco / 2 for preco in precos]


#Exibindo a lista 'resultado_precos
print(resultado_precos)

**Exemplo 2** - Compress√£o de lista

In [ ]:
temperatura =[20,35,24,38,39,30]
bangu_temp = [termometro + 4 for termometro in temperatura]
print(bangu_temp)

**Exemplo 3 -** Compress√£o de Lista
Retirando o lucro de uma lista de produtos.

In [ ]:
info_produtos = {
    "mouse": 15,
    "Teclado": 25,
    "Monitor": 150,
    "Placa de video": 300
}
valores = list(info_produtos.values())
lucro = [preco * 0.20 for preco in valores]

for produto, lucro in lucros.items():
  print(f"O valor do lucro do {produto} √© R${lucro:.2f}")

info_produtos = {
    "mouse": 15,
    "Teclado": 25,
    "Monitor": 150,
    "Placa de v√≠deo": 300
}

# Calculando o lucro de cada produto
lucros = {produto: preco * 0.20 for produto, preco in info_produtos.items()}

# Exibindo os lucros de cada produto
for produto, lucro in lucros.items():
  print(f"O valor do lucro do {produto} √© R${lucro:.2f}")

O valor do lucro do mouse √© R$3.00
O valor do lucro do Teclado √© R$5.00
O valor do lucro do Monitor √© R$30.00
O valor do lucro do Placa de v√≠deo √© R$60.00
O valor do lucro do mouse √© R$3.00
O valor do lucro do Teclado √© R$5.00
O valor do lucro do Monitor √© R$30.00
O valor do lucro do Placa de v√≠deo √© R$60.00

‚ùó**Exemplo 4** - Compress√£o com *Fun√ß√£o*‚ùó
>Podemos escolher as opera√ß√µes que podemos utilizar a cada valor de pre√ßo com a fun√ß√£o e usala como uma express√£o.

In [ ]:
#Criamos uma lista com precos
precos = [10,22,30,40,58,62]

#Criamos uma Fun√ß√£o de Divis√£o
def dividir(numero):
  return numero/2

#Comprimimos a lista que ser√° dividida com a fun√ß√£o de divisao
#Lemos: Dentro da Lista 'Divisao' a gente chama a fun√ß√£o dividir com o par√¢metro preco e depois iteramos o loop for para cada preco 'in' na lista pre√ßos.
divisao = [dividir(preco) for preco in precos]
print(divisao)

**Exemplo 5** - Usando fun√ß√µes para descontar **IMPOSTO**.
> Fun√ß√µes tamb√©m s√£o √∫teis quando queremos aplicar mais express√µes, como retirar o valor do imposto antes de reduzir o pre√ßo pela metade.

In [ ]:
#Criamos uma lista com precos
precos = [10,22,30,40,58,62]

#Criamos uma Fun√ß√£o de Divis√£o
def dividir(numero):
#Express√£o para Descontar o valor de 8,5% de imposto antes de dividir pela metade.
#Descontamos a porcentagem e armazenamos em uma vari√°vel e depois retornamos a vari√°vel.
  no_tax = 0.85 * numero
  return no_tax/2

#Comprimimos a lista que ser√° dividida com a fun√ß√£o de divisao
#Lemos: Dentro da Lista 'Divisao' a gente chama a fun√ß√£o dividir com o par√¢metro preco e depois iteramos o loop for para cada preco 'in' na lista pre√ßos.
divisao = [dividir(preco) for preco in precos]
print(divisao)

[4.25, 9.35, 12.75, 17.0, 24.65, 26.349999999999998]

**Exemplo 6** - Utilizando o Fatiamento **'split(" ")**

In [ ]:
autor = ["Juan vincent","Frederic Stephan"]

#Criando uma fun√ß√£o que fatia uma lista e adiciona (, )
def adicionar_carac (nome):
# Dividir o nome em uma lista com a fun√ß√£o .split("")
  parts = nome.split(" ")
  return parts[1] + ", " + parts[0]

#Comprimindo a lista e iterando e fatiado.
atualizar_atores =[adicionar_carac(nome) for nome in autor]
print (atualizar_atores)

**Exemplo 7** - Utilizando a fun√ß√£o **.count()** para verificar se existe determinado valor.

In [ ]:
palavras = ["maca","pera","uva","banana","jaca"]

#Fun√ß√£o para verificar se tem 2 "a's". Com o par√¢metro palavra para receber um valor e operar.
def tem_dois_a(palavra):
#Salvamos o resultado de ".count()" que √© contar quantos determinados elementos tem o valor.
  quant = palavra.count("a")
#Retornamos o valor para fun√ß√£o sempre que queremos utilizar esse resultado em outro lugar.
  return quant == 2
#Compress√£o da lista com a fun√ß√£o de contagem.
duplo_a=[tem_dois_a(palavra) for palavra in palavras]
print (duplo_a)

[True, False, False, False, True]

**Exemplo 8** - Utilizando do operador **>** para verificar se o valor √© maior que.

In [ ]:
pontuacao = [50,60,70,80,85]

def bonus(pontos):
  com_bonus = pontos+10
  return com_bonus > 90

tem_bonus=[bonus(pontos) for pontos in pontuacao]
print(tem_bonus)

[False, False, False, False, True]

###**Compress√£o de lista** com loop **FOR** e com Condicional **IF**.
>Podemos usar a compressao de lista para criar uma nova lista e filtrando elementos de uma lista existente.

**Exemplo 1** - comprimindo, iterando e utilizando o operador **IF** para filtrar elemento e criar uma nova lista.

In [ ]:
pontuacao = [10,20,30,40,50,60,70]
#Criando uma nova lista com as pontua√ß√µes altas.
#Variavel do loop, para cada vari√°vel do loop em(in) pontuacao se(if) vari√°vel do loop for maior que(>) 30.
alta_pontuacao = [pontos for pontos in pontuacao if pontos > 30]

print(alta_pontuacao)

**Exemplo 2** - Condicionais **IF** e Operadores **AND** e **>=**.

In [ ]:
humidity_percent = [40, 35, 20, 70]
ideal = [level for level in humidity_percent if level >= 30 and level <= 50]
print(ideal)

humanidade_porcento = [40,35,20,70]
 = [n√≠vel for n√≠vel in humanidade_porcento if level >= 30 and level <=50]
print(ideal)

[40, 35]

NameError: ignored

###üö©***EXERCICIOS E PRATICAS VARIADAS***üö©

***Exemplo de Divis√£o e manipula√ß√£o de Listas e Loop 'for'***

In [ ]:

#Lista com valores
precos = [10,20,30,40,50,60,70,80,90,100]

#Lista vazia que receber√° os valores divididos
resultado_precos=[]

#Loop para percorrer a lista 'precos'
for preco in precos:
  divisao = preco/2 #Dividindo cada valor recebido da lista 'precos' e salvando na vari√°vel 'divisao'.
  resultado_precos.append(divisao) #Enviando cada valor armazenado na vari√°vel 'divisao' na lista 'resultado_precos'.

#Exibindo a lista 'resultado_precos
print(resultado_precos)

##**Lambda**

#**SQL** com o App **MIMOü§ñ**

##***SQL B√ÅSICO*** üìÅ

###**Linhas e Colunas**

***SQL, ou Structured Query Language***, √© uma linguagem de programa√ß√£o projetada para gerenciar e manipular bancos de dados relacionais. Ela permite que voc√™ execute opera√ß√µes como *inser√ß√£o*, *atualiza√ß√£o*, *exclus√£o* e *consulta de dados* em um banco de dados.

***Linhas e colunas*** s√£o conceitos fundamentais em bancos de *dados relacionais*. Uma tabela em um banco de dados √© organizada em linhas e colunas. Cada linha representa uma entrada ou registro √∫nico na tabela, enquanto cada coluna cont√©m um tipo espec√≠fico de informa√ß√£o sobre esses registros.

Por exemplo, se tivermos uma tabela "*Clientes*", cada linha pode representar um cliente individual, e as colunas podem incluir informa√ß√µes como "*Nome*", "*Idade*", "*Endere√ßo*" e assim por diante. Dessa forma, as linhas cont√™m dados espec√≠ficos para cada **entidade**, e as colunas representam os diferentes **atributos** ou caracter√≠sticas desses dados.

###***Selecionando Dados*** ‚úî
_SELECT_ - Seleciona

_FROM_ - Seleciona a Tabela

Selecionar dados em SQL √© como pedir informa√ß√µes espec√≠ficas de uma tabela em um banco de dados. Para isso, utilizamos a cl√°usula `SELECT`. Vamos usar um exemplo simples:

Suponha que temos uma tabela chamada "Produtos" com as colunas "Nome", "Pre√ßo" e "Categoria". Se quisermos selecionar o nome e o pre√ßo de todos os produtos, a consulta seria assim:

```sql
SELECT Nome, Pre√ßo FROM Produtos;
```

Essa consulta diz ao banco de dados para nos dar os dados das colunas "Nome" e "Pre√ßo" da tabela "Produtos". O resultado seria uma lista desses dados.

Se quisermos todos os dados de todas as colunas, podemos simplesmente usar:

```sql
SELECT * FROM Produtos;
```

O asterisco (`*`) significa "todas as colunas". Essa consulta nos traria todos os produtos com todas as informa√ß√µes dispon√≠veis na tabela.

Ent√£o, a ideia √© que voc√™ especifica quais colunas deseja ver e de qual tabela, usando o `SELECT`. √â como pedir ao banco de dados para mostrar apenas as informa√ß√µes que voc√™ precisa.

####***Selecionando Dados***


**Tabela Produtos**

| ID | Nome       | Preco | Categoria   |
|----|------------|-------|-------------|
| 1  | Produto A  | 19.99 | Eletr√¥nicos |
| 2  | Produto B  | 29.99 | Roupas      |
| 3  | Produto C  | 9.99  | Alimentos   |

**SELECT** - Seleciona

**nome, preco** - S√£o as colunas

**FROM** - Selecionando a tabela

**produtos** - nome da tabela

```sql
SELECT nome, preco
FROM produtos;
```

###***Dados de Pedidos***
***ORDER BY***

‚ùóOrganiza texto em ordem alfabetica.

‚ùóOdganiza n√∫meros em ordem num√©rica.

***ASC*** - Ordem Crescente.

***DESC*** - Ordem Descresente.

A compreens√£o dos Dados √© mais f√°cil quando os itens est√£o organizados utilizando a fun√ß√£o ORDER BY.

**Tabela Pacientes**

| ID | Nome       | Idade |
|----|------------|-------|
| 1  | Brito      |  19   |
| 2  | Santos     |  60   |
| 3  | Ale        |  25   |

***Exemplo***

**SELECT** - Seleciona

**`*`**- Selecionando todos os itens da tabela pacientes.

**FROM** - Selecionando a tabela

**produtos** - nome da tabela

**ORDER BY** - Ordenando, organizando a sele√ß√£o

**nome** - Selecionando a coluna que desejamos ordenar.


```sql
SELECT *
FROM pacientes
ORDER BY nome;
```

| ID | Nome       | Idade |
|----|------------|-------|
| 1  | Ale        |  19   |
| 2  | Brito      |  60   |
| 3  | Santos     |  25   |



Para ordenar de tamb√©m podemos utilizar a palavra chave `ASC` no final.
Dando o mesmo Resultado da consulta acima. Veja aqui o ***Exemplo de utiliza√ß√£o:***

```sql
SELECT *
FROM pascientes
ORDER BY nome ASC;
```

Para ordenar os item em ordem *Decrescente* utilizamos a palavra chave `DESC` no final.
Veja aqui o ***Exemplo de utiliza√ß√£o:***

```sql
SELECT *
FROM pacientes
ORDER BY nome DESC;
```

| ID | Nome       | Idade |
|----|------------|-------|
| 1  | Santos     |  19   |
| 2  | Brito      |  60   |
| 3  | Ale        |  25   |

###***Filtrando Dados***
***WHERE*** - √â usado para aplicar condi√ß√µes a uma consulta SQL, limitando os resultados √†s linhas que atendem a essas condi√ß√µes.

- Pode ser usado em comandos como `SELECT`, `UPDATE`, `DELETE`, etc.
- Condi√ß√µes podem incluir compara√ß√µes, operadores l√≥gicos e fun√ß√µes.

**Exemplo:**
Considere uma tabela "pessoa" com colunas `id`, `nome`, e `idade`. Vamos usar a cl√°usula `WHERE` para selecionar apenas as pessoas com idade superior a 25 anos.

```sql
-- Exemplo de SELECT com WHERE
SELECT id, nome, idade
FROM pessoa
WHERE idade > 25;
```

Este comando SQL retorna todas as colunas (`id`, `nome`, e `idade`) da tabela "pessoa" apenas para as linhas em que a idade √© maior que 25. A cl√°usula `WHERE` √© fundamental para filtrar dados conforme necess√°rio em consultas SQL.

***Exemplo de utiliza√ß√£o***

**Tabela Membros**

| nome           | email                     | tipo         |
| -------------- | ------------------------- | -----------  |
| Jo√£o Silva     | joao.silva@example.com    | Regular      |
| Maria Oliveira | maria.oliveira@example.com | Premium     |
| Carlos Lima    | carlos.lima@example.com    | Regular     |
| Ana Santos     | ana.santos@example.com     | Premium     |

Filtrando com a palavra-chave com `WHERE`.

```sql
SELECT *
FROM membros
WHERE tipo = 'regular';
```

### ***DISTINCT***
`DISTINCT` √© usado para obter valores √∫nicos em uma consulta *SQL*. Ele opera em uma ou mais colunas especificadas ap√≥s a palavra-chave `SELECT`.Remove duplicatas dos resultados retornados pela consulta.

.- Remove duplicatas dos resultados retornados pela consulta.

**Exemplos:**
Considere uma tabela "frutas" com uma coluna chamada "nome". Vejamos alguns exemplos:

1. **Selecionar valores √∫nicos de uma coluna:**
   ```sql
   SELECT DISTINCT nome FROM frutas;
   ```
   Isso retorna todos os valores √∫nicos da coluna "nome" na tabela "frutas".

2. **Selecionar valores √∫nicos de m√∫ltiplas colunas:**
   ```sql
   SELECT DISTINCT nome, cor FROM frutas;
   ```
   Isso retorna combina√ß√µes √∫nicas de valores das colunas "nome" e "cor" na tabela "frutas".

Lembre-se de que `DISTINCT` opera nas colunas espec√≠ficas que voc√™ fornece ap√≥s `SELECT`. Se voc√™ usar `DISTINCT` em v√°rias colunas, ele considerar√° a combina√ß√£o √∫nica dessas colunas para determinar a unicidade.

###***OPERADORES***

Os operadores em SQL s√£o utilizados em consultas para realizar opera√ß√µes em valores ou express√µes. Aqui est√£o alguns dos operadores mais comuns em SQL:

1. **Operadores Aritm√©ticos:**
   - `+` (adi√ß√£o)
   - `-` (subtra√ß√£o)
   - `*` (multiplica√ß√£o)
   - `/` (divis√£o)

   Exemplo:
   ```sql
   SELECT salario + bonus AS salario_total FROM funcionarios;
   ```

2. **Operadores de Compara√ß√£o:**
   - `=` (igual)
   - `<>` ou `!=` (diferente)
   - `<` (menor que)
   - `>` (maior que)
   - `<=` (menor ou igual a)
   - `>=` (maior ou igual a)

   Exemplo:
   ```sql
   SELECT nome FROM clientes WHERE idade >= 18;
   ```

3. **Operadores L√≥gicos:**
   - `AND` (e l√≥gico)
   - `OR` (ou l√≥gico)
   - `NOT` (nega√ß√£o l√≥gica)

   Exemplo:
   ```sql
   SELECT nome, idade FROM funcionarios WHERE departamento = 'Vendas' AND salario > 50000;
   ```

4. **Operadores de Concatena√ß√£o:**
   - `||` (no PostgreSQL e alguns outros sistemas)
   - `CONCAT()` (no MySQL, SQL Server, etc.)

   Exemplo:
   ```sql
   SELECT CONCAT(primeiro_nome, ' ', ultimo_nome) AS nome_completo FROM clientes;
   ```

5. **Operador LIKE (para padr√µes de string):**
   - `LIKE` (para buscar padr√µes em strings, pode incluir `%` como curinga)

   Exemplo:
   ```sql
   SELECT nome FROM produtos WHERE nome LIKE 'Camisa%';
   ```

6. **Operador IN (para correspond√™ncia em uma lista):**
   - `IN`

   Exemplo:
   ```sql
   SELECT nome FROM produtos WHERE categoria IN ('Eletr√¥nicos', 'Roupas', 'Cal√ßados');
   ```

Esses s√£o apenas alguns dos operadores dispon√≠veis em SQL. A escolha do operador depende da opera√ß√£o espec√≠fica que voc√™ deseja realizar em seus dados.

##***Gerenciamento de Tabelas***

### **Adicionando e Removendo Dados**

**`INSERT INTO`**

√© usado para adicionar dados a uma tabela. A cl√°usula `VALUES` especifica os valores a serem inseridos nas colunas correspondentes. Exemplo:

```sql
INSERT INTO nome_tabela (coluna1, coluna2) VALUES ('valor1', 'valor2');
```

Isso adiciona uma nova linha √† tabela "nome_tabela" com os valores 'valor1' na coluna1 e 'valor2' na coluna2.

**`DELETE FROM`**

√© usado para remover dados de uma tabela no MySQL. A cl√°usula `WHERE` especifica a condi√ß√£o para determinar quais registros devem ser exclu√≠dos. Exemplo:

```sql
DELETE FROM nome_tabela WHERE condi√ß√£o;
```

Isso exclui os registros da tabela "nome_tabela" que atendem √† condi√ß√£o especificada. Tenha cuidado ao usar o `DELETE`, pois ele pode resultar na perda permanente de dados.

***Tabela Pessoa***

| id | nome   | idade |
|----|--------|-------|
| 1  | Jo√£o   | 25    |
| 2  | Maria  | 30    |
| 3  | Carlos | 22    |
| 4  | Ana    | 28    |

```sql
DELETE FROM pessoa
WHERE idade > 22;

SELECT *FROM pessoa
```

###***Atualiza√ß√µes***

####**```UPDATE```**
A instru√ß√£o ```UPDATE``` sempre come√ßa pela palavra chave ```UPDATE``` seguida pelo nome da tabela. Em seguida o nome da tabela √© seguido pela palavra chave ```SET``` e uma express√£o que define uma coluna para um valor especificado.

√â usada para modificar os dados existentes em uma tabela. Ela permite que voc√™ atualize valores em uma ou mais colunas com novos dados, baseados em condi√ß√µes espec√≠ficas definidas pela cl√°usula WHERE. Isso permite realizar altera√ß√µes controladas nos registros de uma tabela.


**Tabela Funcion√°rios**

| nome      | salario | cargo     |
|-----------|---------|-----------|
| Jo√£o      | 5000    | Analista  |
| Maria     | 6000    | Gerente   |
| Pedro     | 4500    | Analista  |
| Ana       | 7000    | Diretor   |
| Carlos    | 5500    | Analista  |

Vamos considerar uma tabela chamada "funcionarios" com colunas "nome", "salario" e "cargo". Se quisermos aumentar o sal√°rio em 5% para todos os funcion√°rios que t√™m o cargo de "Analista", podemos usar a seguinte instru√ß√£o UPDATE:

```sql
UPDATE funcionarios
SET salario = salario * 1.05
WHERE cargo = 'Analista';
```

Neste exemplo, a coluna "salario" √© multiplicada por 1.05 apenas para os registros onde o cargo √© "Analista". Isso demonstra como o UPDATE pode ser aplicado seletivamente com base em condi√ß√µes espec√≠ficas na tabela.

‚ùó```UPDATE``` N√£o pode ser usado para inserir novas entradas em uma tabela.

***Exemplo 1***


```sql
UPDATE flights --Atualize a tabela Flights
SET mealservice True -- na coluna Mealservice para TRUE
WHERE durariam >= 6; -- onde na coluna Duration seja igual ou maior que 6
```

| flight_id | origem | destino | duracao | partida           | chegada           | mealservice |
|-----------|--------|---------|---------|-------------------|-------------------|-------------|
| 1         | JFK    | LAX     | 5       | 2023-01-01 08:00  | 2023-01-01 13:00  | False       |
| 2         | LAX    | ORD     | 7       | 2023-01-02 12:00  | 2023-01-02 19:00  | True        |
| 3         | ORD    | SFO     | 4       | 2023-01-03 15:00  | 2023-01-03 19:00  | False       |
| 4         | ATL    | MIA     | 8       | 2023-01-04 10:00  | 2023-01-04 18:00  | True        |
| 5         | SFO    | JFK     | 6       | 2023-01-05 14:00  | 2023-01-05 20:00  | False       |

###***Cria√ß√£o de Tabelas***

√â realizada usando a instru√ß√£o ```CREATE TABLE```. Aqui est√° um resumo da sintaxe b√°sica:

```sql
CREATE TABLE nome_da_tabela (
    nome_coluna1 tipo_dado1,
    nome_coluna2 tipo_dado2,
    ...,
    CONSTRAINT nome_da_restricao PRIMARY KEY (nome_coluna_primaria)
);
```

Explica√ß√£o:
- `CREATE TABLE`: Inicia a declara√ß√£o de cria√ß√£o de tabela.
- `nome_da_tabela`: Especifica o nome da tabela que est√° sendo criada.
- `(nome_coluna1 tipo_dado1, nome_coluna2 tipo_dado2, ...)`: Define as colunas da tabela, cada uma com um nome e um tipo de dado associado.
- `CONSTRAINT nome_da_restricao PRIMARY KEY (nome_coluna_primaria)`: Opcionalmente, voc√™ pode adicionar restri√ß√µes, como uma chave prim√°ria (PRIMARY KEY) para identificar exclusivamente cada linha na tabela.

Exemplo:

```sql
CREATE TABLE funcionarios (
    id INT PRIMARY KEY,
    nome VARCHAR(50),
    salario DECIMAL(10, 2),
    cargo VARCHAR(30)
);
```

Neste exemplo, uma tabela chamada "funcionarios" √© criada com colunas para ID, nome, sal√°rio e cargo. A coluna "id" √© definida como chave prim√°ria.

###***Altera√ß√£o de Tabelas***
‚ùó**COMO ALTERAR UMA TABELA PARA AUTO INCREMENTE**‚ùó

```sql
ALTER TABLE sua_tabela AUTO_INCREMENT = 1;
```

####***SINTAXE MYSQL WORKBENCH***

Se voc√™ j√° est√° conectado ao MySQL Workbench, voc√™ pode executar a altera√ß√£o de nome da coluna usando uma consulta SQL. Parece que voc√™ j√° est√° no caminho certo com o comando `ALTER TABLE`. No entanto, a sintaxe correta seria a seguinte:

```sql
ALTER TABLE tb_cliente
CHANGE COLUMN enderececo endereco TIPO_DE_DADOS;
```

Substitua `TIPO_DE_DADOS` pelo tipo de dados atual da coluna que voc√™ est√° renomeando. Se voc√™ n√£o souber o tipo de dados, voc√™ pode consultar a estrutura da tabela usando o comando `DESCRIBE` ou `SHOW COLUMNS` para obter informa√ß√µes sobre as colunas.

Ent√£o, o comando completo seria algo assim:

```sql
ALTER TABLE tb_cliente
CHANGE COLUMN enderececo endereco VARCHAR(255);
```

Este exemplo assume que a coluna `enderececo` √© do tipo `VARCHAR(255)`. Certifique-se de ajustar o tipo de dados de acordo com a sua tabela.

Ap√≥s executar essa consulta, o nome da coluna ser√° alterado de `enderececo` para `endereco`.

####***SINTAXE SQLITE***

`ALTER TABLE` permite adicionar, modificar ou excluir colunas, √≠ndices e restri√ß√µes.

Exemplo 1: Adicionar uma coluna √† tabela "clientes":

```sql
ALTER TABLE clientes
ADD COLUMN data_nascimento DATE;
```

Exemplo 2: Modificar o tipo de dados de uma coluna na tabela "produtos":

```sql
ALTER TABLE produtos
ALTER COLUMN preco DECIMAL(10,2);
```

Exemplo 3: Excluir uma coluna da tabela "funcionarios":

```sql
ALTER TABLE funcionarios
DROP COLUMN telefone;
```

Exemplo 4 : Renomeando uma coluna com o comando `RENAME TO`.

```sql
ALTER TABLE compra
RENAME real TO dollar
```

Esses s√£o apenas exemplos b√°sicos, e a sintaxe exata pode variar dependendo do sistema de gerenciamento de banco de dados que voc√™ est√° utilizando.

###***Comando SHOW***

O comando `SHOW` √© utilizado para exibir informa√ß√µes sobre bancos de dados, tabelas, colunas, entre outros. Aqui est√£o alguns exemplos:

1. **Listar Bancos de Dados:**
   ```sql
   SHOW DATABASES;
   ```
   Isso exibir√° uma lista de todos os bancos de dados dispon√≠veis.

2. **Listar Tabelas em um Banco de Dados:**
   ```sql
   SHOW TABLES FROM nome_do_banco;
   ```
   Isso mostra as tabelas dentro do banco de dados especificado.

3. **Descri√ß√£o de uma Tabela:**
   ```sql
   SHOW COLUMNS FROM nome_da_tabela;
   ```
   Isso fornece informa√ß√µes sobre as colunas de uma tabela espec√≠fica.

4. **Visualizar Status do Servidor:**
   ```sql
   SHOW STATUS;
   ```
   Apresenta informa√ß√µes detalhadas sobre o estado do servidor MySQL.


###***Comando `DROP`***

**Comando DROP:**

O comando `DROP` √© utilizado para excluir objetos como bancos de dados, tabelas, √≠ndices e outros no MySQL.

**Sintaxe B√°sica:**

1. **Drop de uma Tabela:**
   ```sql
   DROP TABLE nome_da_tabela;
   ```
   Exclui permanentemente a tabela especificada.

2. **Drop de um Banco de Dados:**
   ```sql
   DROP DATABASE nome_do_banco;
   ```
   Exclui permanentemente o banco de dados especificado, incluindo todas as suas tabelas.

3. **Drop de um √çndice:**
   ```sql
   DROP INDEX nome_do_indice ON nome_da_tabela;
   ```
   Exclui um √≠ndice espec√≠fico de uma tabela.

4. **Drop de uma Vis√£o:**
   ```sql
   DROP VIEW nome_da_visao;
   ```
   Exclui permanentemente uma vis√£o especificada.

5. **Drop de uma Procedure:**
   ```sql
   DROP PROCEDURE nome_da_procedure;
   ```
   Exclui uma stored procedure espec√≠fica.

**Exemplo Pr√°tico:**

```sql
-- Exemplo: Drop de uma tabela
DROP TABLE IF EXISTS produtos;

-- Exemplo: Drop de um banco de dados
DROP DATABASE IF EXISTS loja;

-- Exemplo: Drop de um √≠ndice
DROP INDEX IF EXISTS idx_nome_na_tabela;

-- Exemplo: Drop de uma vis√£o
DROP VIEW IF EXISTS vw_relatorio_vendas;

-- Exemplo: Drop de uma procedure
DROP PROCEDURE IF EXISTS calcular_total_vendas;
```

Certifique-se de usar `IF EXISTS` para evitar erros caso o objeto que voc√™ est√° tentando excluir n√£o exista. O comando `DROP` √© irrevers√≠vel e deve ser usado com cuidado.

N√£o √© necess√°rio utilizar o comando `ALTER TABLE` ao usar o comando `DROP` diretamente. O comando `ALTER TABLE` √© geralmente utilizado para fazer modifica√ß√µes na estrutura de uma tabela, como adicionar, renomear ou excluir colunas. Por outro lado, o comando `DROP` √© utilizado para excluir objetos, como tabelas, bancos de dados, √≠ndices, etc.

Ao utilizar `DROP`, voc√™ especifica diretamente o objeto que deseja excluir. Por exemplo:

- Para excluir uma tabela: `DROP TABLE nome_da_tabela;`
- Para excluir um banco de dados: `DROP DATABASE nome_do_banco;`
- Para excluir um √≠ndice: `DROP INDEX nome_do_indice ON nome_da_tabela;`

Portanto, n√£o h√° necessidade de usar `ALTER TABLE` em conjunto com o comando `DROP` para excluir objetos. Eles servem para prop√≥sitos diferentes na administra√ß√£o do banco de dados.

##***FILTROS***

###***BETWEEN***

`BETWEEN` √© utilizada para filtrar resultados dentro de um intervalo espec√≠fico. Vamos considerar um exemplo com uma tabela chamada `produtos` que possui uma coluna de pre√ßos chamada `preco`.

1. Para selecionar todos os produtos com pre√ßo entre 50 e 100:

```sql
SELECT * FROM produtos
WHERE preco BETWEEN 50 AND 100;
```

Isso retornar√° os registros onde o pre√ßo est√° entre 50 e 100, incluindo ambos os limites.

2. Se voc√™ quiser excluir os limites e selecionar produtos com pre√ßo superior a 50 e inferior a 100:

```sql
SELECT * FROM produtos
WHERE preco > 50 AND preco < 100;
```

Essas consultas s√£o equivalentes, mas a cl√°usula `BETWEEN` √© uma maneira mais concisa de expressar intervalos.

Lembre-se de que a cl√°usula `BETWEEN` inclui os valores de limite, enquanto as compara√ß√µes diretas (`>`, `<`, etc.) podem ser ajustadas conforme a necessidade.

**EX:**
```sql
SELECT *
FROM inventario
WHERE year BETWEEN 1950 AND 1960
AND manufacturer LIKE 'f%';
```

###***Filtrando por padr√µes***

####***OPERADORES DE FILTRAGEM POR PADR√ÉO***

#####***OPERADORES***

Ao filtrar dados em SQL, voc√™ geralmente utiliza a cl√°usula `WHERE` para especificar as condi√ß√µes de filtragem. Os operadores mais comuns utilizados em express√µes condicionais incluem:

1. **Igual (=):** Usado para comparar se dois valores s√£o iguais.
   ```sql
   SELECT * FROM tabela WHERE coluna = valor;
   ```

2. **Diferente (!= ou <>):** Verifica se dois valores n√£o s√£o iguais.
   ```sql
   SELECT * FROM tabela WHERE coluna != valor;
   ```

3. **Maior que (>), Menor que (<):** Compara se um valor √© maior ou menor que outro.
   ```sql
   SELECT * FROM tabela WHERE coluna > valor;
   ```

4. **Maior ou igual (>=), Menor ou igual (<=):** Compara se um valor √© maior ou igual, ou menor ou igual, a outro.
   ```sql
   SELECT * FROM tabela WHERE coluna >= valor;
   ```

5. **LIKE:** Utilizado para buscar padr√µes em uma coluna usando caracteres curinga (% para representar zero ou mais caracteres, _ para representar um caractere).
   ```sql
   SELECT * FROM tabela WHERE coluna LIKE 'padr√£o%';
   ```

6. **IN:** Verifica se um valor est√° contido em uma lista de valores.
   ```sql
   SELECT * FROM tabela WHERE coluna IN (valor1, valor2, valor3);
   ```

7. **NOT:** Negativa uma condi√ß√£o.
   ```sql
   SELECT * FROM tabela WHERE NOT coluna = valor;
   ```

Estes s√£o alguns dos operadores b√°sicos em SQL. Eles s√£o combinados para formar condi√ß√µes mais complexas, permitindo filtrar dados de acordo com crit√©rios espec√≠ficos.

Vamos criar uma situa√ß√£o fict√≠cia com uma tabela de funcion√°rios e sal√°rios.

```markdown
An√°lise de Sal√°rios dos Funcion√°rios
```

Nesta an√°lise, vamos examinar os sal√°rios dos funcion√°rios de uma empresa.

**Tabela de Funcion√°rios**

A tabela de funcion√°rios possui as seguintes colunas:

| Funcion√°rioID | Nome           | Cargo          | Sal√°rio  |
| ------------- | -------------- | -------------- | -------- |
| 1             | Jo√£o Silva     | Analista       | 5000     |
| 2             | Maria Oliveira | Gerente        | 8000     |
| 3             | Carlos Santos  | Desenvolvedor  | 6000     |
| 4             | Ana Souza      | Analista       | 5500     |

***Consultas SQL***

Funcion√°rios com Sal√°rio Superior a 6000

```sql
SELECT * FROM funcionarios
WHERE salario > 6000;
```

***Funcion√°rios por Cargo***

```sql
SELECT cargo, COUNT(*) as quantidade
FROM funcionarios
GROUP BY cargo;
```


Sim, al√©m dos operadores mencionados anteriormente, existem outros que oferecem maior flexibilidade ao criar condi√ß√µes de filtragem em consultas SQL. Aqui est√£o alguns operadores adicionais:

1. **AND:** Combina duas ou mais condi√ß√µes e retorna registros apenas se todas as condi√ß√µes forem verdadeiras.
   ```sql
   SELECT * FROM tabela WHERE coluna1 = valor1 AND coluna2 = valor2;
   ```

2. **OR:** Retorna registros se pelo menos uma das condi√ß√µes especificadas for verdadeira.
   ```sql
   SELECT * FROM tabela WHERE coluna1 = valor1 OR coluna2 = valor2;
   ```

3. **BETWEEN:** Seleciona valores dentro de um intervalo espec√≠fico.
   ```sql
   SELECT * FROM tabela WHERE coluna BETWEEN valor1 AND valor2;
   ```

4. **IS NULL, IS NOT NULL:** Verifica se um valor √© nulo ou n√£o nulo.
   ```sql
   SELECT * FROM tabela WHERE coluna IS NULL;
   ```

5. **EXISTS:** Verifica a exist√™ncia de registros em uma subconsulta.
   ```sql
   SELECT * FROM tabela1 WHERE EXISTS (SELECT * FROM tabela2 WHERE condi√ß√£o);
   ```

6. **ANY, ALL:** Usados em conjunto com subconsultas para comparar valores com qualquer valor ou todos os valores retornados pela subconsulta.
   ```sql
   SELECT * FROM tabela WHERE coluna > ANY (SELECT coluna FROM outra_tabela);
   ```

Estes operadores adicionais fornecem mais op√ß√µes e permitem construir condi√ß√µes de filtro mais complexas em consultas SQL, adaptando-se a uma variedade de cen√°rios.

***EXEMPLOS PR√ÅTICOS***

Agora vamos criar exemplos de consultas utilizando os operadores `IS NULL`, `IS NOT NULL`, `BETWEEN`, `OR`, `AND`, `EXISTS`, `ANY` e `ALL` com a tabela fict√≠cia de funcion√°rios e sal√°rios:

```sql
-- Funcion√°rios com sal√°rio superior a 6000 ou cujo cargo √© 'Gerente'
SELECT *
FROM funcionarios
WHERE salario > 6000 OR cargo = 'Gerente';
```

```sql
-- Funcion√°rios com sal√°rio entre 5500 e 8000
SELECT *
FROM funcionarios
WHERE salario BETWEEN 5500 AND 8000;
```

```sql
-- Funcion√°rios com sal√°rio nulo
SELECT *
FROM funcionarios
WHERE salario IS NULL;
```

```sql
-- Funcion√°rios com sal√°rio n√£o nulo
SELECT *
FROM funcionarios
WHERE salario IS NOT NULL;
```

```sql
-- Funcion√°rios que s√£o Analistas e t√™m sal√°rio superior a 5000
SELECT *
FROM funcionarios
WHERE cargo = 'Analista' AND salario > 5000;
```

```sql
-- Funcion√°rios que possuem pelo menos um registro na tabela de avalia√ß√µes
SELECT *
FROM funcionarios f
WHERE EXISTS (
    SELECT 1
    FROM avaliacoes a
    WHERE a.funcionario_id = f.funcionario_id
);
```

```sql
-- Funcion√°rios com sal√°rio maior que qualquer sal√°rio da tabela de refer√™ncia
SELECT *
FROM funcionarios
WHERE salario > ANY (SELECT salario FROM tabela_referencia);
```

```sql
-- Funcion√°rios com sal√°rio maior que todos os sal√°rios da tabela de refer√™ncia
SELECT *
FROM funcionarios
WHERE salario > ALL (SELECT salario FROM tabela_referencia);
```

#####***LIKE***

O comando `LIKE` √© usado para realizar correspond√™ncias de padr√µes em dados de texto. Os curingas principais s√£o:

1. `%` (porcentagem): Representa zero ou mais caracteres em uma string.
2. `_` (sublinhado): Representa um √∫nico caractere em uma string.


Exemplo 1: Usando `%`

- **Consulta:** Encontrar todos os registros onde a coluna "nome" come√ßa com "Jo":

  ```sql
  SELECT *
FROM clientes
WHERE nome LIKE 'Jo%';
  ```

  Isso retornar√° registros com nomes como "John", "Jordan", etc.

- **Consulta:** Encontrar registros onde a coluna "email" termina com "@gmail.com":

  ```sql
  SELECT *
FROM usuarios
WHERE email LIKE '%@gmail.com';
  ```

  Isso retornar√° registros com endere√ßos de e-mail que terminam com "@gmail.com".

Exemplo 2: Usando `_`

- **Consulta:** Encontrar todos os registros onde a segunda letra do nome √© "a":

  ```sql
  SELECT *
FROM pessoas
WHERE nome LIKE '_a%';
  ```

  Isso retornar√° registros com nomes como "Ana", "Sara", etc.

- **Consulta:** Encontrar registros onde a terceira letra do c√≥digo postal √© um n√∫mero espec√≠fico:

  ```sql
  SELECT *
FROM enderecos
WHERE cep LIKE '__3%';
  ```

  Isso retornar√° registros com c√≥digos postais onde o terceiro d√≠gito √© "3".

Esses s√£o exemplos b√°sicos, mas o comando `LIKE` pode ser combinado com outros operadores e fun√ß√µes para realizar consultas mais complexas e espec√≠ficas em dados de texto.

######***Exemplos dos curingas `_`, `%`***

**Curinga (`_`)**

Certamente, aqui est√£o mais alguns exemplos de utiliza√ß√£o do curinga `_` em combina√ß√£o com o comando `LIKE` em SQL:

1. **Consulta:** Encontrar registros onde o segundo caractere √© uma vogal:

    ```sql
    SELECT * FROM palavras WHERE palavra LIKE '_[aeiou]%';
    ```

    Isso retorna registros onde a primeira letra √© seguida por uma vogal.

2. **Consulta:** Encontrar registros onde o quarto caractere √© um n√∫mero:

    ```sql
    SELECT * FROM codigo WHERE codigo LIKE '___[0-9]%';
    ```

    Isso retorna registros onde os primeiros tr√™s caracteres s√£o seguidos por um n√∫mero.

3. **Consulta:** Encontrar registros onde o quinto caractere √© uma letra min√∫scula:

    ```sql
    SELECT * FROM texto WHERE frase LIKE '_____[a-z]%';
    ```

    Isso retorna registros onde os primeiros quatro caracteres s√£o seguidos por uma letra min√∫scula.

O uso do curinga `_` permite criar padr√µes espec√≠ficos onde um caractere em uma posi√ß√£o espec√≠fica na string atende a condi√ß√µes definidas na consulta. Esses s√£o exemplos para ilustrar a ideia, e voc√™ pode adapt√°-los conforme necess√°rio para atender aos requisitos espec√≠ficos do seu banco de dados.


**Curinga( `%`)**

Certamente, aqui est√£o mais alguns exemplos de utiliza√ß√£o do curinga `%` em combina√ß√£o com o comando `LIKE` em SQL:

1. **Consulta:** Encontrar registros onde a palavra cont√©m "ar":

    ```sql
    SELECT * FROM dicionario WHERE palavra LIKE '%ar%';
    ```

    Isso retorna registros onde a sequ√™ncia "ar" aparece em qualquer lugar na palavra.

2. **Consulta:** Encontrar registros onde o endere√ßo de e-mail cont√©m "domain.com":

    ```sql
    SELECT * FROM usuarios WHERE email LIKE '%domain.com%';
    ```

    Isso retorna registros onde a sequ√™ncia "@domain.com" aparece em qualquer parte do endere√ßo de e-mail.

3. **Consulta:** Encontrar registros onde o n√∫mero de telefone termina com "5678":

    ```sql
    SELECT * FROM contatos WHERE telefone LIKE '%5678';
    ```

    Isso retorna registros onde a sequ√™ncia "5678" aparece no final do n√∫mero de telefone.

O uso do curinga `%` √© flex√≠vel e pode ser adaptado para atender a uma variedade de padr√µes em diferentes partes da string. Lembre-se de que o `LIKE` √© sens√≠vel a mai√∫sculas e min√∫sculas, a menos que seja especificado o contr√°rio, dependendo das configura√ß√µes do banco de dados.

#####***OPERADOR IN***

***`IN` Avan√ßado***

### Exemplo 1: Filtragem Din√¢mica com Subconsulta

Suponha que voc√™ tenha uma tabela de produtos e deseje encontrar todos os pedidos que contenham produtos de uma determinada categoria.

```sql
SELECT * FROM pedidos
WHERE id_produto IN (SELECT id_produto FROM produtos WHERE categoria = 'Eletr√¥nicos');
```

Neste exemplo, a subconsulta din√¢mica fornece os IDs dos produtos na categoria 'Eletr√¥nicos', e o operador `IN` √© usado para encontrar pedidos que contenham produtos dessa categoria.

### Exemplo 2: Combina√ß√£o de M√∫ltiplas Condi√ß√µes

Imagine que voc√™ queira encontrar clientes que fizeram pedidos de produtos espec√≠ficos e que est√£o em um determinado pa√≠s.

```sql
SELECT * FROM clientes
WHERE id_cliente IN (
    SELECT id_cliente FROM pedidos
    WHERE id_produto IN (SELECT id_produto FROM produtos WHERE categoria = 'Roupas')
) AND pais = 'Brasil';
```

Neste exemplo, o `IN` √© usado para filtrar clientes com base nos IDs de clientes que fizeram pedidos de produtos na categoria 'Roupas'. A condi√ß√£o adicional `AND pais = 'Brasil'` refina ainda mais a busca.

### Exemplo 3: Uso de Valores Constantes

√Äs vezes, voc√™ pode usar o `IN` com valores constantes para simplificar consultas. Suponha que voc√™ deseje encontrar pedidos de um conjunto espec√≠fico de clientes.

```sql
SELECT * FROM pedidos
WHERE id_cliente IN (101, 205, 308, 410);
```

Aqui, o operador `IN` √© utilizado com valores fixos para encontrar pedidos associados a clientes espec√≠ficos.

### Exemplo 4: Uso de Tuplas

O operador `IN` tamb√©m pode ser aplicado a tuplas. Suponha que voc√™ queira encontrar produtos com base em pares espec√≠ficos de categoria e pre√ßo.

```sql
SELECT * FROM produtos
WHERE (categoria, preco) IN (('Eletr√¥nicos', 500), ('Roupas', 50), ('Livros', 20));
```

Neste exemplo, ele retorna produtos que correspondem a diferentes categorias e pre√ßos.

Estes exemplos ilustram a versatilidade do operador `IN` ao lidar com diferentes situa√ß√µes de filtragem e subconsultas no MySQL.

##***Fun√ß√µes Agregadas***
‚ùóN√£o permite a utiliza√ß√£o de `WHERE`, em fun√ß√µes agregadas √© utilizado o `HAVING`.‚ùó

###***Aliases***

O comando `ALIAS` √© usado para atribuir um nome alternativo a uma tabela ou coluna em consultas SQL. Isso pode tornar consultas mais leg√≠veis e fornecer apelidos mais curtos para referenciar objetos. J√° o `AS` √© utilizado para renomear temporariamente uma tabela ou coluna em uma consulta.

Aqui est√£o alguns exemplos:

1. **ALIAS para coluna:**
   ```sql
   SELECT nome_cliente AS nome FROM clientes;
   ```
   Neste exemplo, a coluna "nome_cliente" da tabela "clientes" √© renomeada temporariamente como "nome" na consulta.

2. **ALIAS para tabela:**
   ```sql
   SELECT c.nome, p.nome AS nome_produto
   FROM clientes AS c
   JOIN pedidos AS p ON c.id = p.cliente_id;
   ```
   Aqui, a tabela "clientes" √© renomeada como "c" e a tabela "pedidos" √© renomeada como "p" para facilitar a refer√™ncia.

3. **ALIAS para resultado de express√£o:**
   ```sql
   SELECT quantidade * preco_unitario AS total
   FROM itens_pedido;
   ```
   A express√£o `quantidade * preco_unitario` √© temporariamente renomeada como "total" na consulta.

O uso de ALIAS e AS torna o c√≥digo SQL mais compreens√≠vel e leg√≠vel, especialmente em consultas complexas envolvendo v√°rias tabelas e express√µes.

###***Encontrando `MIN`, `MAX` e `M√âDIA`***

- **M√≠nimo (MIN):** Em SQL, a fun√ß√£o `MIN` √© usada para encontrar o valor m√≠nimo em uma coluna espec√≠fica de uma tabela. Por exemplo, se voc√™ tiver uma tabela de pre√ßos, pode usar `MIN` para encontrar o pre√ßo m√≠nimo.

    Exemplo em SQL:
    ```sql
    SELECT MIN(preco) AS menor_preco
    FROM tabela_precos;
    ```

- **M√°ximo (MAX):** A fun√ß√£o `MAX` √© usada para encontrar o valor m√°ximo em uma coluna. Por exemplo, se voc√™ estiver acompanhando a pontua√ß√£o de alunos, pode usar `MAX` para encontrar a pontua√ß√£o mais alta.

    Exemplo em SQL:
    ```sql
    SELECT MAX(pontuacao) AS pontuacao_maxima
    FROM tabela_alunos;
    ```

- **M√©dia (AVG):** A fun√ß√£o `AVG` calcula a m√©dia aritm√©tica dos valores em uma coluna. Por exemplo, se voc√™ tiver uma tabela de vendas, `AVG` pode ser usado para encontrar a m√©dia das quantidades vendidas.

    Exemplo em SQL:
    ```sql
    SELECT AVG(quantidade) AS media_vendas
    FROM tabela_vendas;
    ```

Essas fun√ß√µes s√£o √∫teis para resumir e analisar dados em bancos de dados SQL, proporcionando insights sobre os conjuntos de dados armazenados.

####***`MIN, MAX e M√âDIA`, exemplo mais avan√ßado.***

- **M√≠nimo (MIN):** A fun√ß√£o `MIN` em SQL √© essencial em consultas que buscam identificar valores extremamente baixos em conjuntos de dados. Em um cen√°rio de an√°lise financeira, por exemplo, poder√≠amos usar `MIN` para encontrar o valor m√≠nimo de transa√ß√µes em uma s√©rie temporal, identificando poss√≠veis anomalias ou transa√ß√µes at√≠picas.

    Exemplo Contextualizado:
    ```sql
    SELECT MIN(valor_transacao) AS menor_transacao
    FROM tabela_transacoes
    WHERE data_transacao BETWEEN '2023-01-01' AND '2023-12-31';
    ```

- **M√°ximo (MAX):** A fun√ß√£o `MAX` √© crucial para identificar pontos altos em s√©ries temporais ou conjuntos de dados. Em um contexto de monitoramento de desempenho de servidores, poder√≠amos utilizar `MAX` para encontrar o pico m√°ximo de utiliza√ß√£o de CPU ao longo do tempo.

    Exemplo Contextualizado:
    ```sql
    SELECT MAX(utilizacao_CPU) AS pico_CPU
    FROM tabela_desempenho_servidores
    WHERE data_registro BETWEEN '2023-01-01' AND '2023-12-31';
    ```

- **M√©dia (AVG):** A fun√ß√£o `AVG` desempenha um papel fundamental em an√°lises estat√≠sticas mais avan√ßadas. Em um contexto de ci√™ncia de dados, por exemplo, poder√≠amos usar `AVG` para calcular a pontua√ß√£o m√©dia de usu√°rios em um jogo ao longo de v√°rias itera√ß√µes.

    Exemplo Contextualizado:
    ```sql
    SELECT AVG(pontuacao) AS pontuacao_media
    FROM tabela_jogo
    WHERE iteracao <= 10;
    ```

Essas fun√ß√µes n√£o apenas fornecem estat√≠sticas b√°sicas, mas tamb√©m s√£o ferramentas poderosas em an√°lises avan√ßadas para identificar padr√µes, tend√™ncias e anomalias em conjuntos de dados complexos.

###***COUNT()***

O termo `COUNT` √© frequentemente utilizado como uma fun√ß√£o de agrega√ß√£o para contar o n√∫mero de linhas que atendem a uma condi√ß√£o espec√≠fica em uma tabela.

**Exemplo 1: Contando todas as linhas em uma tabela:**
```sql
SELECT COUNT(*) AS total_rows FROM nome_da_tabela;
```
Este exemplo conta o n√∫mero total de linhas na tabela especificada.

**Exemplo 2: Contando linhas com uma condi√ß√£o:**
```sql
SELECT COUNT(*) AS total_pessoas_adultas
FROM tabela_pessoas
WHERE idade >= 18;
```
Neste caso, a fun√ß√£o `COUNT` √© usada para contar o n√∫mero de pessoas na tabela "tabela_pessoas" cuja idade √© igual ou superior a 18.

**Exemplo 3: Contando valores distintos:**
```sql
SELECT COUNT(DISTINCT categoria) AS categorias_distintas
FROM produtos;
```
Aqui, `COUNT` √© usado com `DISTINCT` para contar o n√∫mero de categorias distintas na tabela "produtos".

**Exemplo 4: Contando com GROUP BY:**
```sql
SELECT departamento, COUNT(*) AS total_funcionarios
FROM funcionarios
GROUP BY departamento;
```
Neste exemplo, a fun√ß√£o `COUNT` √© usada em conjunto com `GROUP BY` para contar o n√∫mero de funcion√°rios em cada departamento.

Estes exemplos ilustram como o `COUNT` pode ser aplicado de maneira avan√ßada no SQL Workbench para realizar contagens espec√≠ficas e an√°lises em conjuntos de dados em um banco de dados relacional.

###***SUM()***

A fun√ß√£o `SUM()` √© uma fun√ß√£o agregada que soma os valores de uma coluna espec√≠fica em um conjunto de dados. Aqui est√° um exemplo de utiliza√ß√£o:

Suponha que voc√™ tenha uma tabela chamada `vendas` com as colunas `produto` e `quantidade_vendida`. Para calcular a quantidade total de produtos vendidos, voc√™ usaria a fun√ß√£o `SUM()` da seguinte forma:

```sql
SELECT produto, SUM(quantidade_vendida) AS total_vendido
FROM vendas
GROUP BY produto;
```

Neste exemplo, a fun√ß√£o `SUM(quantidade_vendida)` soma a quantidade vendida para cada produto individualmente. A cl√°usula `GROUP BY produto` agrupa os resultados por produto. O resultado mostrar√° cada produto com a quantidade total vendida.

###***Agrupando Fun√ß√µes Agregadas***

Vamos considerar um exemplo pr√°tico usando uma tabela fict√≠cia de pedidos. Suponha que tenhamos uma tabela chamada `pedidos` com as colunas `cliente`, `produto` e `quantidade`.

***Tabela `pedidos`***

| cliente | produto | quantidade |
| ------- | ------- | ---------- |
| ClienteA | Produto1 | 5 |
| ClienteA | Produto2 | 3 |
| ClienteB | Produto1 | 2 |
| ClienteB | Produto3 | 4 |
| ClienteA | Produto1 | 2 |

Agora, se quisermos calcular a quantidade total de produtos vendidos por cliente, podemos usar o agrupamento de fun√ß√µes agregadas. Aqui est√° a consulta:

```sql
SELECT cliente, SUM(quantidade) AS total_vendido
FROM pedidos
GROUP BY cliente;
```

O resultado seria:

| cliente | total_vendido |
| ------- | ------------- |
| ClienteA | 9 |
| ClienteB | 6 |

Neste exemplo, usamos `GROUP BY cliente` para agrupar os resultados por cliente. A fun√ß√£o agregada `SUM(quantidade)` √© ent√£o aplicada a cada grupo, fornecendo a quantidade total de produtos vendidos para cada cliente.

Essa √© uma maneira poderosa de resumir e analisar dados em conjuntos de registros espec√≠ficos.

####***Exercicios para Praticar***

***Tabela `pedidos`***

| cliente | produto | quantidade |
| ------- | ------- | ---------- |
| ClienteA | Produto1 | 5 |
| ClienteA | Produto2 | 3 |
| ClienteB | Produto1 | 2 |
| ClienteB | Produto3 | 4 |
| ClienteA | Produto1 | 2 |


1. **Total de Produtos por Cliente:**
   - Escreva uma consulta para calcular o total de produtos distintos vendidos por cada cliente.

```sql
SELECT cliente, COUNT(produto)
FROM pedidos
GROUP BY cliente;
```

2. **M√©dia de Quantidade por Produto:**
   - Calcule a m√©dia da quantidade de cada produto vendido.

```sql
SELECT AVG(quantidade) AS media_produto
FROM pedidos
```

3. **Clientes que Compraram Produto1:**
   - Liste os clientes que compraram o produto chamado "Produto1".

```sql
SELECT cliente
FROM pedidos
WHERE produto = 'produto1'
GROUP BY cliente;
```

4. **Total Geral de Produtos Vendidos:**
   - Determine o total geral de produtos vendidos.

```sql
SELECT SUM(quantidade) AS total_produtos
FROM pedidos;
```

5. **Produtos com Quantidade Superior a 3:**
   - Liste os produtos e suas quantidades apenas para aqueles em que a quantidade vendida √© superior a 3.

```sql
SELECT produto, quantidade
FROM pedidos
WHERE quantidade > 3;
```

Lembre-se de usar as fun√ß√µes agregadas apropriadas (como `SUM`, `AVG`, etc.) e a cl√°usula `GROUP BY` quando necess√°rio. Isso deve ajudar a consolidar os conceitos de agrupamento e fun√ß√µes agregadas em consultas SQL.

####***Exercicio para praticar n√≠vel 2***

Certamente! Aqui est√£o mais cinco exerc√≠cios com um pouco mais de complexidade:

6. **M√©dia de Quantidade por Cliente:**
   - Escreva uma consulta para calcular a m√©dia da quantidade de produtos vendidos por cada cliente.

```sql
SELECT cliente, AVG(quantidade) AS media_quantidade_produto
FROM pedidos
GROUP BY cliente;
```
7. **Clientes que Compraram Todos os Produtos:**
   - Identifique os clientes que compraram todos os produtos dispon√≠veis.
```sql
Minha resposta.
# Seleciona a coluna cliente
SELECT cliente,
# Da tabela pedidos
FROM pedidos
WHERE pedido LIKE '%1' AND '%2' AND '%3';
GROUP BY cliente
HAVING COUNT(DISTINCT produto)

Resposta chatg
SELECT cliente,
FROM pedidos
WHERE pedido IN('produto1','produto2','produto3')
GROUP BY cliente
HAVING COUNT(DISTINCT produto) = 3;
```

Extra. **Produtos Mais Vendidos:**
   - Liste os tr√™s produtos mais vendidos, ordenados pelo total vendido.

8. **Quantos clientes obtiveram cada item:**

```sql
SELECT quantidade, COUNT(*)
FROM pedido
GROUP BY cliente;


9. **Total de Produtos por Cliente por M√™s:**
   - Considere uma nova coluna na tabela de pedidos chamada `data` representando a data da compra. Escreva uma consulta para calcular o total de produtos vendidos por cada cliente para cada m√™s.

10. **Clientes com Maior Varia√ß√£o nas Compras:**
    - Identifique os clientes cuja quantidade de compras variou mais em compara√ß√£o com o m√™s anterior. Considere novamente a coluna `data`.

Lembre-se de considerar a estrutura da sua tabela e ajustar as consultas conforme necess√°rio. Boa pr√°tica!

###***`HAVING`***
Semelhante ao `WHERE` por√©m √© utilizando para filtrar em `GROUP BY`.

A cl√°usula HAVING √© usada em conjunto com a cl√°usula GROUP BY para filtrar resultados de consultas agregadas com base em condi√ß√µes espec√≠ficas. Ela permite aplicar condi√ß√µes √†s fun√ß√µes de agrega√ß√£o, como COUNT, SUM, AVG, etc., ap√≥s agrupar os dados.

Exemplo de uso:

```sql
SELECT department, AVG(salary) as avg_salary
FROM employees
GROUP BY department
HAVING avg_salary > 50000;
```

Neste exemplo, a consulta retorna os departamentos onde a m√©dia salarial √© superior a 50.000.

Agora, para exerc√≠cios:

1. **Exerc√≠cio simples com HAVING:**
   Considere uma tabela "orders" com colunas (id, customer_id, total_amount). Escreva uma consulta que retorna os IDs dos clientes cujo total de compras √© superior a 1000.

```sql
SELECT customer_id, SUM(total_amount) AS total_purchase
FROM orders
GROUP BY customer_id
HAVING total_amount > 1000;
```


2. **Exerc√≠cio com GROUP BY e HAVING:**
   Dada uma tabela "sales" com colunas (product_id, quantity_sold, date), escreva uma consulta que retorna os produtos que tiveram uma quantidade total vendida superior a 50 unidades em qualquer dia.

```sql
SELECT product_id, SUM(quantity_sold) AS total_solds
FROM sales
GROUP BY product_id
HAVING total_solds > 50;
```

3. **Exerc√≠cio com m√∫ltiplas condi√ß√µes no HAVING:**
   Utilize uma tabela "students" com colunas (student_id, course_id, grade) e escreva uma consulta que retorna os cursos onde a m√©dia das notas √© superior a 80 e o n√∫mero de alunos √© maior que 5.

```sql
SELECT course_id, COUNT(student_id) AS number_students, AVG(grade) AS media_grade
FROM students
GROUP BY course_id
HAVING media_grade > 80 AND number_students > 5;
```

Lembre-se de adaptar os exerc√≠cios com base nas suas tabelas espec√≠ficas e explorar diferentes situa√ß√µes de uso da cl√°usula HAVING.

####***Exercicios de n√≠vel m√©dio***

Certamente! Aqui est√£o mais alguns exerc√≠cios de n√≠vel m√©dio para praticar o uso de cl√°usulas GROUP BY e HAVING em consultas SQL:

4. **Exerc√≠cio de Agrupamento Temporal:**
   Considere uma tabela "transactions" com colunas (transaction_id, amount, date). Escreva uma consulta que retorna a m√©dia di√°ria de transa√ß√µes para cada m√™s, incluindo apenas os meses em que a m√©dia √© superior a $1000.

```sql
SELECT
MONTH(Date) AS month,
AVG(amount) AS media_diaria
FROM transactions
GROUP BY month
HAVING media_diaria < 1000;

5. **Exerc√≠cio com JOIN e GROUP BY:**
   Suponha duas tabelas: "employees" (employee_id, department_id, salary) e "departments" (department_id, department_name). Escreva uma consulta que retorna o nome do departamento com a maior m√©dia salarial.

6. **Exerc√≠cio com Subconsulta e HAVING:**
   Dada uma tabela "orders" com colunas (order_id, customer_id, order_date) e uma tabela "order_items" com colunas (order_id, product_id, quantity), escreva uma consulta que retorna os IDs de clientes que fizeram pelo menos duas compras em diferentes datas.

Lembre-se de adaptar os exerc√≠cios com base nas suas pr√≥prias tabelas e explorar diferentes situa√ß√µes de uso das cl√°usulas GROUP BY e HAVING. Se precisar de ajuda com as solu√ß√µes, estou aqui para ajudar!

##***JOIN's***

###***JOIN E INNER JOIN***

Vamos usar um exemplo pr√°tico para entender o JOIN e o INNER JOIN.

**Cen√°rio:**

Imagine duas tabelas em um banco de dados de uma biblioteca:

1. **Tabela "Livros":**
   - Colunas: livro_id, titulo, autor_id, ano_publicacao

2. **Tabela "Autores":**
   - Colunas: autor_id, nome_autor, pais_origem

**Exemplo de Dados:**

Tabela "Livros":

| livro_id | titulo           | autor_id | ano_publicacao |
| -------- | ---------------  | -------- | -------------- |
| 1        | Aventuras Incr√≠veis | 101      | 2005           |
| 2        | Descobrindo C√≥digos | 102      | 2010           |
| 3        | Viagem ao Desconhecido | 101  | 2018           |


Tabela "Autores":

| autor_id | nome_autor      | pais_origem |
| -------- | --------------- | ----------- |
| 101      | Jo√£o Silva      | Brasil      |
| 102      | Maria Santos    | Portugal    |

**Exemplo de JOIN:**

Suponha que queremos saber quem escreveu cada livro, juntando informa√ß√µes das duas tabelas. Usaremos um JOIN para isso:

```sql
SELECT Livros.titulo, Autores.nome_autor
FROM Livros
JOIN Autores ON Livros.autor_id = Autores.autor_id;
```

**Resultado:**

| titulo              | nome_autor  |
| ------------------- | ----------- |
| Aventuras Incr√≠veis | Jo√£o Silva   |
| Descobrindo C√≥digos | Maria Santos |
| Viagem ao Desconhecido | Jo√£o Silva |

**Explica√ß√£o:**

O JOIN aqui combina informa√ß√µes da tabela "Livros" com a tabela "Autores" usando o autor_id. Ent√£o, conseguimos ver o t√≠tulo do livro e o nome do autor correspondente em uma √∫nica tabela.

**Exemplo de INNER JOIN:**

Um INNER JOIN faz a mesma coisa que o JOIN. A diferen√ßa √© que o INNER JOIN s√≥ retorna linhas onde h√° uma correspond√™ncia nas duas tabelas. Se n√£o houver correspond√™ncia, a linha n√£o √© inclu√≠da no resultado.

```sql
SELECT Livros.titulo, Autores.nome_autor
FROM Livros
INNER JOIN Autores ON Livros.autor_id = Autores.autor_id;
```

**Resultado:**

| titulo              | nome_autor  |
| ------------------- | ----------- |
| Aventuras Incr√≠veis | Jo√£o Silva   |
| Descobrindo C√≥digos | Maria Santos |
| Viagem ao Desconhecido | Jo√£o Silva |

Neste exemplo, o INNER JOIN funciona da mesma forma que o JOIN, pois h√° correspond√™ncias em ambas as tabelas para todas as linhas.

####***JOIN Coders das tarefas***

Para ligar uma tabela a outra, unimos 2 tabelas pela propriedade em comun.
Como `ID` veja;

Contexto:

```sql
SELECT *
FROM students -- primeira tabela
JOIN enrolled -- Segunda tabela
ON student.id = enrolled.id; --Liga√ß√£o das 2 tabelas
-- Ap√≥s o ON passamos o nome da tabela seguido de um `.` entao passamos tamb√©m a propriedade.
-- passamos a primary key e depois a foreign key.
```

Selecionando linhas unidades nas tabelas de artista e album adicionando JOIN.

```sql
SELECT *
FROM artista -- primeira tabela
JOIN album -- segunda tabelas a ser percorrida
ON artista.artista_id = album.album_id;
-- ON primeira_tabela.propriedade = segunda_tabela.propriedade;
```

Mudando o nome das tabelas com o `ALIAS`

```sql
SELECT * -- Selecionando todos os itens das tabelas
FROM estudante AS e -- Apelidado a primeira tabela
INNER JOIN disciplina AS d -- Apelidado a segunda tabela
ON e.estudante_id = d.estudante_id -- Ligando pelas chaves em comum
```

Mudando o nome das `Colunas` e `Tabelas` com `ALIAS`

```sql
SELECT e.nome, d.nome
FROM estudante e
INNER JOIN disciplina d
ON e.estudante_id = d.disciplina_id
```


####***INNER JOIN Coders das tabelas***
‚ùópodemos unir tabelas com nomes de colunas diferentes

‚ùóS√≥ podemos unir tabelas com o mesmo valor

`INNER JOIN` usa uma propriedade em comum como id para conectar linhas correspondentes de duas tabelas em uma tabela de resultado.
Ex:
```sql
SELECT * -- Seleciona todos os itens das 2 tabelas.
FROM estudante -- tabela estudante
INNER JOIN classe -- tabela classe
ON estudante.id_estudante = classe.id_classe; -- Liga√ß√£o de chaves em comum
```

####***INNER JOIN selecionando colunas***

Quando voc√™ menciona "selecionando colunas", voc√™ est√° se referindo a escolher quais colunas dessas tabelas combinadas ser√£o inclu√≠das no resultado.

Vamos considerar um exemplo com duas tabelas: "Clientes" e "Pedidos". Suponha que ambas tenham uma coluna chamada "ClienteID" em comum.

```sql
SELECT Clientes.Nome, Pedidos.NumeroPedido
FROM Clientes
INNER JOIN Pedidos
ON Clientes.ClienteID = Pedidos.ClienteID;
```

Neste exemplo, estamos selecionando os nomes dos clientes e os n√∫meros dos pedidos, combinando as linhas onde o "ClienteID" nas tabelas "Clientes" e "Pedidos" s√£o iguais. Isso retorna apenas as linhas onde h√° uma correspond√™ncia nas duas tabelas.

####***INNER JOIN com ALIAS (`AS`)***

#####***Mais exemplos de utiliza√ß√£o***

Quando voc√™ usa um INNER JOIN com alias, est√° atribuindo apelidos √†s tabelas para facilitar a escrita e tornar o c√≥digo mais leg√≠vel. Aqui est√° um exemplo:

Considere duas tabelas: "Clientes" e "Pedidos". Vamos usar alias para essas tabelas, por exemplo, "c" para "Clientes" e "p" para "Pedidos".

```sql
SELECT c.Nome AS NomeCliente, p.NumeroPedido
FROM Clientes c
INNER JOIN Pedidos p
ON c.ClienteID = p.ClienteID;
```

Neste exemplo, o "c" e o "p" s√£o aliases que representam as tabelas "Clientes" e "Pedidos", respectivamente. Estamos selecionando o nome do cliente (usando o alias "c") e o n√∫mero do pedido (usando o alias "p"). O INNER JOIN ainda √© baseado na igualdade dos "ClienteID" nas duas tabelas, mas o uso de alias torna o c√≥digo mais conciso e leg√≠vel.

Certamente! Vamos considerar um cen√°rio de banco de dados simples com as tabelas "Funcionarios" e "Departamentos", onde cada funcion√°rio est√° associado a um departamento por meio da coluna "DepartamentoID". Vamos usar aliases para simplificar a consulta:

```sql
-- Selecionando o nome do funcion√°rio e o nome do departamento
SELECT f.Nome AS NomeFuncionario, d.Nome AS NomeDepartamento
FROM Funcionarios f
INNER JOIN Departamentos d ON f.DepartamentoID = d.DepartamentoID;
```
```sql
SELECT f.nome AS funcionario, d.nome AS departamento
FROM funcionarios f
INNER JOIN departamento d
ON f. f.id = d.id
```

Neste exemplo, usamos "f" como alias para a tabela "Funcionarios" e "d" como alias para a tabela "Departamentos". A consulta retorna o nome do funcion√°rio e o nome do departamento ao qual pertence, combinando as linhas com base na igualdade dos "DepartamentoID".

Outro exemplo:

```sql
-- Selecionando informa√ß√µes sobre pedidos e clientes
SELECT c.Nome AS NomeCliente, p.NumeroPedido, p.DataPedido
FROM Clientes c
INNER JOIN Pedidos p ON c.ClienteID = p.ClienteID;
```

Aqui, estamos usando "c" como alias para "Clientes" e "p" como alias para "Pedidos". A consulta retorna o nome do cliente, n√∫mero do pedido e data do pedido, combinando as linhas onde os "ClienteID" nas tabelas "Clientes" e "Pedidos" s√£o iguais.

Esses exemplos ilustram como o uso de aliases torna a sintaxe mais compacta e compreens√≠vel ao trabalhar com consultas que envolvem v√°rias tabelas.

###***LEFT JOIN***

####***LEFT JOIN com Exemplos***

LEFT JOIN √© utilizada para combinar linhas de duas ou mais tabelas com base em uma condi√ß√£o, mas ao contr√°rio do INNER JOIN, ela tamb√©m retorna as linhas da tabela √† esquerda, mesmo que n√£o haja correspond√™ncia na tabela √† direita. Se n√£o houver correspond√™ncia, as colunas da tabela √† direita ter√£o valores nulos no resultado.

Aqui est√° um exemplo usando duas tabelas, "Clientes" e "Pedidos":

```sql
-- Selecionando todos os clientes e seus pedidos (se houver)
SELECT Clientes.Nome AS NomeCliente, Pedidos.NumeroPedido
FROM Clientes
LEFT JOIN Pedidos ON Clientes.ClienteID = Pedidos.ClienteID;
```

Neste exemplo, estamos selecionando o nome do cliente e o n√∫mero do pedido, incluindo todos os clientes, mesmo que eles n√£o tenham feito nenhum pedido. Se um cliente n√£o tiver pedido correspondente na tabela "Pedidos", o n√∫mero do pedido ser√° nulo para esse cliente no resultado.

A cl√°usula LEFT JOIN √© √∫til quando voc√™ deseja incluir todas as linhas da tabela √† esquerda, independentemente de haver correspond√™ncias na tabela √† direita.

####***Exercicios Join***

**Exerc√≠cio 1: INNER JOIN**

Considere duas tabelas: `vendedores` (colunas: `id_vendedor`, `nome_vendedor`) e `pedidos` (colunas: `id_pedido`, `id_vendedor`, `detalhe_pedido`). Escreva uma consulta SQL para obter os nomes dos vendedores e os detalhes dos pedidos correspondentes.

```sql

```

**Exerc√≠cio 2: LEFT JOIN**

Suponha que tenhamos as tabelas `departamentos` (colunas: `id_departamento`, `nome_departamento`) e `funcionarios` (colunas: `id_funcionario`, `nome_funcionario`, `id_departamento`). Alguns departamentos podem n√£o ter funcion√°rios atualmente atribu√≠dos. Escreva uma consulta para listar todos os departamentos e os nomes dos funcion√°rios associados, incluindo aqueles sem funcion√°rios atribu√≠dos.

**Exerc√≠cio 3: INNER JOIN com Condi√ß√£o Adicional**

Em um sistema de blog, temos as tabelas `autores` (colunas: `id_autor`, `nome_autor`) e `artigos` (colunas: `id_artigo`, `id_autor`, `titulo_artigo`, `data_publicacao`). Escreva uma consulta para recuperar os nomes dos autores e os t√≠tulos dos artigos que foram publicados recentemente (por exemplo, nos √∫ltimos 30 dias).

**Exerc√≠cio 4: LEFT JOIN para Dados de Hist√≥rico**

Considere as tabelas `clientes` (colunas: `id_cliente`, `nome_cliente`) e `compras` (colunas: `id_compra`, `id_cliente`, `detalhe_compra`, `data_compra`). Nem todos os clientes podem ter feito compras. Escreva uma consulta para listar todos os clientes e os detalhes das compras associadas, incluindo clientes que n√£o fizeram compras.

Agora voc√™ tem os nomes das colunas para cada entidade. Se precisar de mais esclarecimentos ou quiser fornecer as consultas SQL, fique √† vontade!

**PARA FIXAR**
```sql
SELECT * --Seleciona todos os itens
FROM student --Tabela da Esquerda
LEFT JOIN enrolled --Tabela certa
ON student.id = enrolled.student_id; --Ligacao das tabelas
```

**PARA FIXAR 2**
```sql
SELECT s.name AS nome_estudantes, e.class AS classes --Utilizando `ALIAS` para nomear as colunas selecionadas
FROM student s --Renomeando a tabela por `s`
LEFT JOIN enrolled e --Renomeando a tabela certa `e`
ON s.id = e.student_id --Ligando as tabelas com os seus novos nomes
```

# **SENAC FORMA√á√ÉO ANALISE DE DADOS üìö**

## **MODULO 2 üìñ PYTHON**üêç

### ***FUN√á√ïES*** üî®

**Utiliza√ß√£o da fun√ß√£o "join()"**üîß

O m√©todo *join()* √© usado para combinar elementos de uma sequ√™ncia (como uma *lista* ou *tupla*) em uma √∫nica *string*, separando esses elementos com um caractere (ou uma sequ√™ncia de caracteres) de sua escolha. Aqui est√° a sintaxe b√°sica:

```Python
"separador".join(iter√°vel)
```
- **Separador:** Este √© o caractere (ou sequ√™ncia de caracteres) que ser√° usado para separar os elementos no resultado final. Por exemplo, voc√™ pode usar um espa√ßo em branco, uma v√≠rgula, um h√≠fen ou qualquer caractere de sua escolha.
iter√°vel: Isso representa a sequ√™ncia de elementos que voc√™ deseja combinar em uma string. Pode ser uma lista, tupla ou outra sequ√™ncia.

- **Iter√°vel:** Isso representa a sequ√™ncia de elementos que voc√™ deseja combinar em uma *string*. Pode ser uma *lista*, *tupla* ou outra *sequ√™ncia*.

***Exemplo 1 -*** Combinar uma lista de palavras em uma √∫nica string:

In [ ]:

#Exemplo 1

#Lista com strings
palavras = ["Isso", "√©","um","Exemplo"]
#Uzando a fun√ß√£o "".join()
#Lemos: Salvamos uma nova lista com a string separadora nova " ".join() e inserimos em qual lista vamos inserir esse novo separador entre parenteses.
frase = " ".join(palavras)
print(frase)

#Exemplo 2

Nome = ["Alessandro","nome do meio", "sobrenome",

Isso √© um Exemplo

***Exemplo 2 -*** Combinar uma lista de n√∫meros em uma string separada por v√≠rgulas:

>Aqui, usamos uma v√≠rgula como separador para combinar os *n√∫meros inteiros* em uma *string*, convertendo os *n√∫meros* em *strings* com "*map(str, numeros)*".

In [ ]:

numeros = [1, 2, 3, 4, 5]
texto_numeros = ",".join(map(str, numeros))
print(texto_numeros)
print(type(texto_numeros))

***Exemplo 3 -*** Criar uma URL a partir de partes separadas:

>Neste exemplo, usamos um ponto (".") como separador para combinar as partes de uma *URL* em uma √∫nica string, resultando em "https://www.exemplo.com".
O m√©todo *join()* √© uma maneira eficaz de criar *strings* formatadas combinando elementos de uma *sequ√™ncia* com delimitadores espec√≠ficos. Ele √© amplamente utilizado para criar sa√≠das de texto e construir URLs, caminhos de arquivo, entre outros.

In [ ]:

#Lista com um site em partes separadas.
partes_url = ["https://www", "exemplo", "com"]
#Uninando a lista do site com a fun√ß√£o ".join()"
url_completa = ".".join(partes_url)
#Exibindo o site Completo.
print(url_completa)

https://www.exemplo.com

**Utiliza√ß√£o da fun√ß√£o "map()"**üîß


A fun√ß√£o "*map()*" em Python √© usada para aplicar uma determinada *fun√ß√£o* a todos os *itens* de uma *sequ√™ncia* (como uma *lista* ou *tupla*) e retornar um objeto chamado "*map*". Esse objeto "*map*" pode ser convertido em uma *lista*, *tupla* ou outra *sequ√™ncia*, se necess√°rio.
Aqui est√° a sintaxe b√°sica da fun√ß√£o *map():*

```Python
map(fun√ß√£o, iter√°vel)
```

- **Fun√ß√£o:** A fun√ß√£o que voc√™ deseja aplicar a cada elemento do iter√°vel. Pode ser uma fun√ß√£o embutida ou uma fun√ß√£o definida pelo usu√°rio.
- **Iter√°vel:** A sequ√™ncia de elementos aos quais a fun√ß√£o ser√° aplicada.
Aqui est√£o alguns exemplos de como usar a fun√ß√£o *map():*

***Exemplo 1 -*** Aplicar uma fun√ß√£o a uma lista de n√∫meros:

>Neste exemplo, definimos uma *fun√ß√£o dobrar()* que multiplica um n√∫mero por 2. Usamos a *fun√ß√£o map()* para aplicar essa *fun√ß√£o* a cada n√∫mero na *lista numeros*. O resultado √© um objeto "*map*" que √© convertido em uma *lista*, resultando em [2, 4, 6, 8, 10].

In [ ]:
def dobrar(numero):
    return numero * 2

numeros = [1, 2, 3, 4, 5]
resultado = map(dobrar, numeros)

# Convertemos o resultado em uma lista
lista_resultado = list(resultado)
print(lista_resultado)

***Exemplo 2 -*** Converter uma lista de strings para mai√∫sculas:

>Neste exemplo, definimos a *fun√ß√£o maiusculas()* para transformar uma *string* em mai√∫sculas. Usamos a *fun√ß√£o map()* para aplicar essa fun√ß√£o a cada palavra na *lista palavras*. O resultado √© uma *lista* de palavras em *mai√∫sculas*.

In [ ]:

def maiusculas(texto):
    return texto.upper()

palavras = ["python", "√©", "incr√≠vel"]
resultado = map(maiusculas, palavras)

# Convertemos o resultado em uma lista
lista_resultado = list(resultado)
print(lista_resultado)

### ***DICION√ÅRIO*** üìï

***Atividade: Enquete
‚ûî O QUE FAZER?***

Crie o algoritmo abaixo:
1. Crie uma lista de pessoas que devam participar de
uma enquete sobre sua linguagem favorita.
2. Monte um dicion√°rio com as pessoas que
responderam ou n√£o a essa enquete.
3. Percorra a lista de pessoas que devem participar
da enquete. Se elas j√° tiverem respondido √†
enquete, mostre uma mensagem
agradecendo-lhes por responder. Se ainda n√£o
participaram da enquete, apresente uma
mensagem convidando-as a responder.
‚ûî COMO FAZER?
Em grupos de 3 a 4
pessoas.
‚ûî FECHAMENTO
Ouvir impress√µes gerais
da atividade.

In [ ]:
# Criamos o Dicionario com as pessoas e se elas responderam ou n√£o as perguntas.
questionario = {'Renan': 'respondeu', 'Luana': 'respondeu', 'Alessandro': 'respondeu', 'Fernando': 'n√£o respondeu', 'Hanna': 'n√£o respondeu'}
# Lista das pessoas que participaram da Enquete
lista_pessoas = ['Renan', 'Luana', 'Alessandro', 'Priscila']
print(f"Lista das Pessoas que participaram ou n√£o da lista \n{lista_pessoas}")
print("")

nova_lista = []

def verificar_questionario(lista_pessoas, questionario, nova_lista):
    for pessoa in lista_pessoas:
        if pessoa not in questionario:
            questionario[pessoa] = 'N√£o participou'

    for chave, valor in questionario.items():
        if valor == 'respondeu':
            print(f'O integrante {chave} respondeu')
        elif valor == 'N√£o participou':
            if chave in lista_pessoas:
                nova_pessoa = input(f'Ol√° {chave}, gostaria de participar do nosso Question√°rio? (sim/n√£o) ')
                if nova_pessoa.lower() == 'sim':
                    nova_lista.append(chave)

    for pessoa in nova_lista:
        questionario[pessoa] = 'respondeu'

    for chave, valor in questionario.items():
        print(f'O integrante {chave} {valor}')

while True:
    adicionar_pessoa = input("Informe um nome caso queira adicionar mais algu√©m no question√°rio? Se n√£o, digite (N√£o): ")
    if adicionar_pessoa.lower() == "n√£o":
        break
    else:
        lista_pessoas.append(adicionar_pessoa)

verificar_questionario(lista_pessoas, questionario, nova_lista)

In [ ]:
lista01 = ['Ma√ßa','Pera','Banana','Manga','Uva']
lista02 = ['a', 'b', 'c', 'd', 'e']
lista03 = [1,2,3,4,5]



#Iterando sobre zip
for item1, item2, item3 in zip(lista01, lista02, lista03):
    print(f'Item {item3}: {item1} e item {item3}: {item2}')

In [ ]:
#lista de dicion√°rios
carro01 = {'cor': 'preto', 'motor': 2.0, 'ano':2012}
carro02 = {'cor': 'branco', 'motor': 1.0, 'ano':2013}
carro03 = {'cor': 'prata', 'motor': 2.4, 'ano':2014}
carro04 = {'cor': 'vermelho', 'motor': 1.6, 'ano':2015}


#declarando dicion√°rio de dicion√°rios
dic_carros = {
    'Gol': carro01,
    'Corsa': carro02,
    'Hilux': carro03,
    'Fiesta': carro04
}
#iterando sobre dicion√°rio de dicion√°rios
for key in dic_carros:
    print(dic_carros[key])

In [ ]:
#usando tuplas como chaves de dicion√°rios
#dicion√°rio de telefones: chaves com nome e sobrenome
telefones = {
    ('Ana', 'Santos'): '555-5550',
    ('Maria', 'Nascimento'): '555-5551',
    ('Paula', 'Melo'): '555-5552',
}
informacoes = 0
#iteerando sobre o dicion√°rio
for nome,sobrenome in telefones:
    print(nome, sobrenome)

for numero in telefones.keys():
    print(numero)

for numero in telefones.values():
    print(numero)

for (nome, sobrenome), valor in telefones.items():
    print(nome, sobrenome,valor)
    informacoes = nome, sobrenome, valor
    print(informacoes)

***Atividade: Criando um aninhamento
‚ûî O QUE FAZER?***

Criar um cat√°logo de cidades:

1.Elabore um algoritmo que cria uma lista de
dicion√°rios de cidades em que as chaves s√£o o
nome da cidade e o estado a que ela pertence.
2. Armazene a popula√ß√£o, se h√° praia, regi√£o
em que est√° inserida e o gent√≠lico da cidade (ex:
paulista, carioca, recifense, etc...).
3. Apresente o nome de cada cidade e todas as
informa√ß√µes que voc√™ armazenou sobre ela.
‚ûî COMO FAZER?
Em grupos de 3 a 4 pessoas.
‚ûî FECHAMENTO
Compartilhar experi√™ncias.

In [ ]:
dic_cidade = [
    {
        'nome': 'S√£o Paulo',
        'estado': 'S√£o Paulo',
        'populacao': 12300000,
        'praia': False,
        'regiao': 'Sudeste',
        'gentilico': 'paulista'
    },
    {
        'nome': 'Rio de Janeiro',
        'estado': 'Rio de Janeiro',
        'populacao': 6747815,
        'praia': True,
        'regiao': 'Sudeste',
        'gentilico': 'carioca'
    },
    {
        'nome': 'Recife',
        'estado': 'Pernambuco',
        'populacao': 1653461,
        'praia': True,
        'regiao': 'Nordeste',
        'gentilico': 'recifense'
    }
]

for cidade in dic_cidade:
    print(f'Cidade: {cidade["nome"]}')
    print(f'Estado: {cidade["estado"]}')
    print(f'Popula√ß√£o: {cidade["populacao"]}')
    print(f'Possui praia: {"Sim" if cidade["praia"] else "N√£o"}')
    print(f'Regi√£o: {cidade["regiao"]}')
    print(f'Gent√≠lico: {cidade["gentilico"]}')
    print('-' * 20)

### **ORIENTA√á√ÉO A OBJETOS** üóΩ

**‚úç PESQUISAR SOBRE: "Os diagramas da uml"**

Diagramas Estrutural:
Diagrama de classe,
Diagrama de pacote,
Diagrama de objeto,
Diagrama de componente,
Diagrama de estrutura,
Diagrama de implanta√ß√£o.

Comportamental:   
Diagrama de atividade,
Diagrama de sequ√™ncia,
Diagrama de comunica√ß√£o,
Diagrama de vis√£o geral da intera√ß√£o,
Diagrama de tempo,
Diagrama de caso de uso,
Diagrama de transi√ß√£o de estados,
Diagrama de perfil.

Abaixo temos dois paradigmas distintos de programa√ß√£o sendo utilizados.
Voc√™ consegue dizer qual √© procedural e qual √© orientado a objetos?

In [ ]:
#Exemplo 1 - Procedural
lista = []
for i in range(5):
    msg = input("Insira um item na lista: ")
    lista.append(msg)
print(lista)

#Exemplo 2 - POO
lista = Lista()

lista.inserirItens(5)
lista.exibirItens()

‚ùï ***Exemplo de utiliza√ß√£o de Class*** ‚ùï

In [ ]:
class Cliente:
    def __init__(self, nome, telefone, numero, saldo, limite):
        self.nome = str(nome)
        self.telefone = str(telefone)
        self.numero = str(numero)
        self.saldo = saldo
        self.limite = limite
        # inicia extrato
        self.extrato = []

    def mostraCliente(self):
        print(
            f'Nome: {self.nome}, telefone: {self.telefone}, Numero: {self.numero}, Saldo: {self.saldo}, limite: {self.limite}')


teste = Cliente('Ana', '90999-0000', 10029, 100.45, 3000.00)

teste.mostraCliente()

***A forma de declarar objetos em Python utiliza class. Tudo ap√≥s o nome da
classe, dentro da indenta√ß√£o, faz parte do escopo do objeto.***

In [ ]:
class Lista():
    lista = []
    tamanho = 0

    def inserirItens(self, quantidade):
        msg = "Insira um item na lista"
        for i in range(quantidade):
            self.lista.append(msg)
            self.tamanho += 1

In [ ]:
class Lista():
    def __init__(self):
        self.lista = []
        self.tamanho = 0

    def inserirItens(self, quantidade):
        msg = "Insira um item na lista"
        for i in range(quantidade):
            self.lista.append(msg)
            self.tamanho += 1

    def exibirItens(self):
        for item in self.lista:
            print(item)

lista = Lista()
lista.inserirItens(5)
lista.exibirItens()

***Atividade:  ***
***O cachorro modelo**
***‚ûî O QUE FAZER?***

Em um arquivo .py, desenvolva uma p√°gina que ‚Äúmodela‚Äù um cachorro. Para isso, seu
algoritmo deve:

‚óè Perguntar o nome e data de nascimento do cachorro ao ser acessada;

‚óè Disponibilizar um bot√£o com o texto ‚Äúlatir‚Äù que, ao ser clicado, exibe um alerta
com o texto ‚ÄúO cachorro latiu‚Äù;

‚óè Disponibilizar um bot√£o com o texto ‚Äúcomer‚Äù que, ao ser clicado, exibe um alerta
com o texto ‚ÄúO cachorro comeu‚Äù;

‚óè Disponibilizar um bot√£o com o texto ‚Äúobjeto cachorro‚Äù que, ao ser clicado, exibe
no console o objeto do cachorro.

In [ ]:
class Cachorro:
    def __init__(self):
        self.nome = ""
        self.data_nascimento = ""
        self.acao = ""

    def iniciar(self):
        self.nome = input("Nome do Cachorro: ")
        self.data_nascimento = input("Data de Nascimento: ")

    def metodo(self):
        self.acao = [
            "1. O cachorro latiu",
            "2. O cachorro mordeu",
            "3. O cachorro se morreu"
        ]
        for acao in self.acao:
            print(acao)

    def executar(self, escolha):
        if escolha == "1":
            self.acao = "O cachorro latiu"
        elif escolha == "2":
            self.acao = "O cachorro mordeu"
        elif escolha == "3":
            self.acao = "O cachorro se morreu"
        else:
            self.acao = "A√ß√£o inv√°lida"

    def objeto_cachorro(self):
        return f"Objeto Cachorro:\nNome: {self.nome}\nData de Nascimento: {self.data_nascimento}"

cachorro = Cachorro()
cachorro.iniciar()
cachorro.metodo()

escolha = input("Escolha uma a√ß√£o (1/2/3): ")
cachorro.executar(escolha)

print(cachorro.acao)
print("Obrigado")

üìå **IMPORTANTE**

**Class NomeDaClasse**: essa linha define o nome da classe que voc√™ est√° criando.


**atributo1 = valor1:** aqui voc√™ pode definir os atributos da classe e seus valores
iniciais. Os atributos da classe podem ser acessados dentro dos m√©todos usando
self.atributo1, self.atributo2, etc.

**def metodo1(self, parametro1, parametro2):** aqui voc√™ pode definir os m√©todos da
classe.
O par√¢metro self √© obrigat√≥rio em todos os m√©todos, pois √© usado para
acessar os atributos da classe. Voc√™ tamb√©m pode definir outros par√¢metros, como
parametro1, parametro2, etc.

**return resultado:** no corpo dos m√©todos, voc√™ pode incluir o c√≥digo que executa a
l√≥gica da classe. O return √© usado para retornar um valor do m√©todo.

***Atividade: Organizando as entrevistas
‚ûî O QUE FAZER?***

Em um arquivo .py, desenvolva uma classe com os seguintes requisitos:
1. Tenha os atributos: idade, cidade, estado, sal√°rio atual e escolaridade
2. Tenha um m√©todo imprimirDados que devolva as informa√ß√µes do entrevistado
em uma string com os atributos separados por v√≠rgula (Ex: 20,Rio de
Janeiro,RJ,1000,Ensino M√©dio Completo)

In [ ]:
class Pessoa:
    def __init__(self,idade,cidade,estado,salario,escolaridade):
        self.idade = idade
        self.cidade = cidade
        self.estado = estado
        self.salario = salario
        self.escolaridade = escolaridade


def dados():
    while True:
        idade = input("Qual a sua idade? ")
        cidade = input("Qual a sua cidade? ")
        estado = input("Qual o seu estado? ")
        salario = input("Qual o seu Sal√°rio atual? ")
        escolaridade = input("Qual a sua Escolaridade? ")
        acao = input("Deseja continuar? (Sim/N√£o) ").lower()

        if acao == "n√£o":
            break
        elif acao == "Sim":
            continue
        else:
            print("Valor inv√°lido.")

def imprimir_dados():
    print("Idade:", pessoa.idade)
    print("Cidade:", pessoa.cidade)
    print("Estado:", pessoa.estado)
    print("Sal√°rio:", pessoa.salario)
    print("Escolaridade:", pessoa.escolaridade)

# Cria uma inst√¢ncia da classe Pessoa1
pessoa = Pessoa(idade="",cidade="",estado="",salario="",escolaridade="")

# Coleta os dados
dados()

# Imprime os dados
imprimir_dados(dados())

***Exerc√≠cios de orienta√ß√£o a objetos com a ajuda do BARDüí´***

**Exerc√≠cio 1:**
Criando uma classe livro e armazenamos dentro da classe o m√©todo com os detalhes do livro e depois mostre.

In [ ]:
#Criamos a Classe com os seus atributos
class Livro:
  def __init__(self,nome,autor,genero):
    self.nome = nome
    self.autor = autor
    self.genero = genero

#Criamos um m√©todo chamado 'detalhes' que imprima os detalhes do livro
  def detalhes(self):
    print(f"Nome: {self.nome}")
    print(f"Autor: {self.autor}")
    print(f"Genero: {self.genero}")

#Criando uma inst√¢ncia da classe
livro = Livro("O Senhor dos An√©is","J. R.R. Tolkien","Fantasia")

#E ent√£o chamamos o m√©todo 'detalhes'
livro.detalhes()

Nome: O Senhor dos An√©is
Autor: J. R.R. Tolkien
Genero: Fantasia

**Exerc√≠cio 2:**
Crie uma Classe pessoa com os atributos nome, idade e endere√ßo.

In [ ]:

#Criando a Classe 'Pessoa' com os atributos
# na 'def __init__():' sempre com parametro obrigat√≥rio 'self'
# seguido dos atributos como 'nome,idade, endereco.
class Pessoa:

#Criamos os atributos pela 'def __init_'
  def __init__(self, nome, idade, endereco):
    self.nome = nome
    self.idade = idade
    self.endereco = endereco

#Criando o m√©todo apresentar com a 'def apresentar(self)'
#Incluimos o self como par√¢metro nessa fun√ß√£o para a fun√ß√£o ter acesso aos atributos da pr√≥pria inst√¢ncia da classe 'Pessoa'
  def apresentar(self):
    print(f"Nome: {self.nome}")
    print(f"Idade: {self.idade}")
    print(f"Endere√ßo: {self.endereco}")

#A vari√°vel 'pessoa' √© usada para salvar a inst√¢ncia da classe 'Pessoa'
#Pessoa() √© o nome do construtor da 'Classe Pessoa'
#Dentro dos par√™nteses temos os valores dos atributos que ser√£o armazenados na classe
pessoa = Pessoa(input("Nome: "), 35, "Rua porto 25")
print(pessoa.nome)

Exemplo de Classe:

In [ ]:
class Gato:
   def __init__(self, nome, idade, raca):
        self.nome = str(nome)
        self.idade = int(idade)
        self.raca = str(raca)

   def miar(self):
        print(f"O {self.nome} est√° miando.")


meu_gato = Gato("Frajola", 9, "Persa")

print(meu_gato.nome)
print(meu_gato.idade)
meu_gato.miar()


print(meu_gato.raca)  # Imprime:

meu_gato.miar()  # Imprime: O Bolinha est√° latindo.

**Atividade: Organizando as entrevistas
‚ûî O QUE FAZER?**

Em um arquivo .py, desenvolva uma classe com os seguintes requisitos:
1. Tenha os atributos: idade, cidade, estado, sal√°rio atual e escolaridade
2. Tenha um m√©todo imprimirDados que devolva as informa√ß√µes do entrevistado
em uma string com os atributos separados por v√≠rgula (Ex: 20,Rio de
Janeiro,RJ,1000,Ensino M√©dio Completo)
‚ûî COMO FAZER?
Em grupos de 3 a 4 pessoas.
‚ûî FECHAMENTO
Compartilhar impress√µes gerais da atividade

**Atividade: Quem foi entrevistado?
‚ûî O QUE FAZER?**

No mesmo arquivo .py, desenvolva uma classe Pesquisa com os seguintes requisitos:
1. Tenha os atributos: nome e listaEntrevistados
2. Tenha um m√©todo imprimirEntrevistados que vai chamar a fun√ß√£o imprimirDados
de cada um dos entrevistados que forem adicionados a uma pesquisa criada.
‚ûî COMO FAZER?
Em grupos de 3 a 4 pessoas.
‚ûî FECHAMENTO
Compartilhar impress√µes gerais da atividade.

Exemplo 1

In [ ]:
class Entrevista():
    def __init__(self,idade:int,cidade: str,estado: str ,salario: float ,escolaridade: str ):
        self.idade = idade
        self.cidade = cidade
        self.estado = estado
        self.salario = salario
        self.escolaridade = escolaridade

    def imprimir_dados_entrevista(self) -> str :
        return f"Ex:{self.idade},{self.cidade},{self.estado},{self.salario},{self.escolaridade}";


entrevista1 = Entrevista(20,"Rio de Janeiro","RJ",1000.0,",Ensino M√©dio Completo")
entrevista2 = Entrevista(21,"S√£o Paulo","SP",2000.0,",Ensino M√©dio Completo")

print(entrevista1.imprimir_dados_entrevista())
print(entrevista2.imprimir_dados_entrevista())

class Pesquisa():
    def __init__(self,nome,entrevistado: Entrevista ):
        self.nome = nome
        self.lista_de_entrevistados = [entrevistado]

    def imprimir_dados(self):
        for cd in self.lista_de_entrevistados:
            return f"Candidato: {self.nome}, Dados: {cd.idade},{cd.cidade},{cd.estado},{cd.salario},{cd.escolaridade}"
pesquisa1 = Pesquisa("Junior",entrevista1)
pesquisa2 = Pesquisa("Junior2",entrevista2)

print(pesquisa1.imprimir_dados())
print(pesquisa2.imprimir_dados())

Exemplo 2

In [ ]:
class Entrevista():
    def __init__(self,idade:int,cidade: str,estado: str ,salario: float ,escolaridade: str ):
        self.idade = idade
        self.cidade = cidade
        self.estado = estado
        self.salario = salario
        self.escolaridade = escolaridade

    def imprimir_dados_entrevista(self) -> str :
        return f"Ex:{self.idade},{self.cidade},{self.estado},{self.salario},{self.escolaridade}";


entrevista1 = Entrevista(20,"Rio de Janeiro","RJ",1000.0,",Ensino M√©dio Completo")
entrevista2 = Entrevista(21,"S√£o Paulo","SP",2000.0,",Ensino M√©dio Completo")

print(entrevista1.imprimir_dados_entrevista())
print(entrevista2.imprimir_dados_entrevista())

class Pesquisa():
    def __init__(self,nome,entrevistado: Entrevista ):
        self.nome = nome
        self.lista_de_entrevistados = [entrevistado]

    def imprimir_dados(self):
        for cd in self.lista_de_entrevistados:
            return f"Candidato: {self.nome}, Dados: {cd.idade},{cd.cidade},{cd.estado},{cd.salario},{cd.escolaridade}"
pesquisa1 = Pesquisa("Junior",entrevista1)
pesquisa2 = Pesquisa("Junior2",entrevista2)

print(pesquisa1.imprimir_dados())
print(pesquisa2.imprimir_dados())

Exemplo 3

In [ ]:
class Entrevistado:
    # def __init__(self, nome = False, idade = False, cidade = False, estado = False, salario_atual = False, escolaridade = False):
    def __init__(self, nome, idade, cidade, estado, salario_atual, escolaridade):
        self.nome = str(nome)
        self.idade = idade
        self.cidade = cidade
        self.estado = estado
        self.salario_atual = salario_atual
        self.escolaridade = escolaridade

    def retornadados(self):
        dados = f"Nome: {self.nome}, Idade: {self.idade}, Cidade: {self.cidade}, Estado: {self.estado}, Sal√°rio atual: {self.salario_atual}, Escolaridade: {self.escolaridade}"
        return dados


class Pesquisa:
    def __init__(self):
        self.listaEntrevistados = []

    def adicionarEntrevistado(self):
        while True:
            nome = str(input("\nNome do entrevistado: "))
            idade = str(input("idade do entrevistado: "))
            cidade = str(input("cidade do entrevistado: "))
            estado = str(input("Estado do entrevistado: "))
            salario_atual = str(input("Salario do entrevistado: "))
            escolaridade = str(input("Escolaridade do entrevistado: "))
            print("")

            Decisao = input("Aciona mais um candidato? [S/N]").upper()
            if Decisao == "N":
                entrevistado = Entrevistado(nome, idade, cidade, estado, salario_atual, escolaridade)
                self.listaEntrevistados.append(entrevistado.retornadados())
                break
            elif Decisao == "S":
                entrevistado = Entrevistado(nome, idade, cidade, estado, salario_atual, escolaridade)
                self.listaEntrevistados.append(entrevistado.retornadados())
                print("Proximo entrevistado:")
            else:
                print("Sim ou N√£o?")

    def imprimir(self):
        print("\nNomes presentes na lista:")
        lista = self.listaEntrevistados
        for i in lista:
            print(i)

**POO: acesso externo**

Para acessar atributos e m√©todos de um objeto, externamente, utilizamos o nome
do objeto/inst√¢ncia junto com o operador ‚Äú.‚Äù!

In [ ]:
# Ex:
lampada.cor = 'Amarela'
lampada.acender()
lampada.apagar()

**Acesso Interno 'self'**

Para acessar internamente os valores do nosso objeto podemos usar a palavra
reservada self, algo como ‚Äúpr√≥prio/pr√≥pria''. Essa palavra vai apontar para o pr√≥prio
objeto e vamos conseguir acessar seus m√©todos e atributos.

POO: acesso interno
Para acessar atributos e m√©todos de um objeto, internamente, utilizamos a palavra
reservada self com o operador ‚Äú.‚Äù!

In [ ]:
# Ex:
class lampada():
 cor = "Amarela"
 acesa = False
 def acender(self):
 if ~(self.acesa):
 self.acesa=True

**Construtor**

Em Python, o construtor padr√£o √© o m√©todo init(). Quando um objeto √© criado a partir
de uma classe, o Python automaticamente chama o m√©todo init() e passa o objeto
criado como o primeiro argumento (self). O programador pode definir outros
argumentos necess√°rios para inicializar os atributos da classe

Construtores s√£o m√©todos especiais de uma classe. Eles s√£o utilizados para transformar
o molde no objeto de fato. O m√©todo __init__() √© utilizado para declar√°-los. Geralmente
eles recebem como argumentos os atributos da classe e os inicializam.

In [ ]:
# Exemplo: class Carro:
 __init__(self, rodas, capacidadeTanque):
 self.rodas = rodas
 self.qtdLitrosTanque = capacidadeTanque

**Getter**

Em Python, os getters s√£o geralmente implementados como m√©todos p√∫blicos que
retornam o valor de um atributo privado. Por exemplo, se tivermos uma classe
chamada "Pessoa" com um atributo privado chamado "_idade", podemos criar um
getter para esse atributo da seguinte maneira.

Getters s√£o m√©todos especiais de um objeto. Eles s√£o utilizados para retornar o valor
de um atributo espec√≠fico. Seu nome √©, geralmente, uma jun√ß√£o entre get e o nome
do atributo.

In [ ]:
# Exemplo:
class Carro:
 cor = "Amarela"
__init__(self, rodas, capacidadeTanque):
 self.rodas = rodas
 self.qtdLitrosTanque = capacidadeTanque

 def get_cor():
 return self.cor

**Setter**

Os setters s√£o m√©todos de uma classe que permitem a atribui√ß√£o de um valor a um
atributo privado (ou protegido) da classe. Eles s√£o usados para implementar a
encapsula√ß√£o, que √© um dos princ√≠pios fundamentais da programa√ß√£o orientada a
objetos (POO).

Um Setter √© geralmente definido com o prefixo "set_" seguido pelo nome do atributo
correspondente, sem o sublinhado inicial. Por exemplo, se tivermos um atributo
privado chamado "_idade", o m√©todo Setter correspondente seria definido como
"set_idade". O objetivo do m√©todo Setter √© permitir que os usu√°rios da classe atribuam
valores ao atributo privado "_idade", sem a necessidade de acess√°-lo diretamente.

Setters s√£o m√©todos especiais de um objeto e s√£o utilizados para alterar o valor de
um atributo espec√≠fico. Para isso, precisam receber como argumento o novo valor.
Seu nome √©, geralmente, uma jun√ß√£o entre set e o nome do atributo.

In [ ]:
# Exemplo:
class Carro:
 cor = "Amarela"
__init__(self, rodas, capacidadeTanque):
 self.rodas = rodas
 self.qtdLitrosTanque = capacidadeTanque

 def set_cor(novaCor):
 self.cor = novaCor

***Atividade: Computador de bordo***

‚ûî O QUE FAZER?

Desenvolva uma p√°gina que ‚Äúemula‚Äù um computador de bordo de autom√≥vel. Para isso::
1. Seu algoritmo deve possuir um objeto que represente um carro com as caracter√≠sticas:
cor, capacidade do tanque, quantidade de combust√≠vel no tanque, consumo m√©dio
(Km/Litro);
2. O carro deve possuir m√©todos que:
a. Forne√ßam a previs√£o de quantos KM espera-se rodar com a quantidade de combust√≠vel e o
consumo m√©dio;
b. Ande uma determinada quantidade de Km (argumento) e diminua a quantidade de gasolina
do tanque a partir da quantidade Km rodados e a m√©dia de consumo;
c. Getters e Setters para: cor, capacidade do tanque e consumo m√©dio;
d. Construtor com modelo e cor.

In [ ]:
class Carro:
    def __init__(self, cor, cap_tanque, qtd_combustivel, c_medio):
        self.cor = str(cor)
        self.cap_tanque = float(cap_tanque)
        self.qtd_combustivel = float(qtd_combustivel)
        self.c_medio = c_medio

    # A

    def prev(self):
        m = self.qtd_combustivel * self.c_medio
        print(
            f"Com {self.qtd_combustivel} no tanque, espera-se rodar aproximadamente {m:.0f}Km"
        )

    # B

    def andar(self):
        m = float(input("Digite a quantidade de Km a serem andados:"))
        km = 1 / self.c_medio

        total = m * km

        if total <= self.qtd_combustivel:
            self.qtd_combustivel -= total
            print(
                f"Voc√™ percorreu {m:.0f} km. Restam {self.qtd_combustivel:.2f} litros de combust√≠vel no tanque."
            )
        else:
            print("Voc√™ n√£o tem combust√≠vel suficiente para isso.")

    # C

    def set_cor(self, Ncor):
        self.cor = Ncor

    def set_cap_tanque(self, Ncap_tanque):
        self.cap_tanque = Ncap_tanque

    def set_qtd_combustivel(self, Nqtd_combustivel):
        self.qtd_combustivel = Nqtd_combustivel

    def set_c_medio(self, Nc_medio):
        self.c_medio = Nc_medio

    # C.2

    def get_cor(self):
        return self.cor

    def set_cap_tanque(self):
        return self.cap_tanque

    def set_qtd_combustivel(self):
        return self.qtd_combustivel

    def set_c_medio(self):
        return self.c_medio

    # D

    # Construtor com modelo e cor?


c = Carro("Amarelo", 100, 100, 2)
c.prev()
c.andar()


# Menu
def iniciar():
    while True:
        print("Crie um carro.")
        cor = input("Digite a cor do carro")
        cap_tanque = float(input("Digite a cor do carro"))
        qtd_combustivel = float(input("Digite a cor do carro"))
        c_medio = float(input("Digite a cor do carro"))
        carro = Carro(cor, cap_tanque, qtd_combustivel, c_medio)
        break


def menu():
    op = [
        "Andar",
        "Set",
        "Get",
    ]

    for i in range(len(op)):

**Exemplo de Classe com agrega√ß√£o**

In [ ]:
class Clienteconta:
    def __init__(self,  nome, telefone, numero, saldo, limite):
        self.nome = str(nome)
        self.telefone = str(telefone)
        self.numero = str(numero)
        self.saldo = saldo
        self.limite = limite
        # inicia extrato
        self.extrato = []

    def saque(self, valor):
        if valor < (self.saldo + self.limite):
            self.saldo -= valor
            # adiciona ao extrato
            self.extrato.append("- Saque: " + str(valor))
            return valor
        else:
            print ('Saldo insuficiente')

    def deposito(self, valor):
        self.saldo += valor
        # adiciona ao extrato
        self.extrato.append("+ Deposito: " + str(valor))

    def extrato(self):
        print ('------Extrato------')
        print('Conta: ', self.numero+'\n')
        for i in self.extrato:
            print( i + '\n')
        print('Saldo: ', self.saldo)
        print ('Limite: ', self.limite)
        print ('Disponivel: ', self.saldo+self.limite)


    def mostraCliente(self):
        print(f'Nome: {self.nome}, telefone: {self.telefone}, Numero: {self.numero}, Saldo: {self.saldo}, limite: {self.limite}')

teste = Clienteconta('Ana','90999-0000',10029, 100.00, 3000.00)


teste.mostraCliente()
teste.saque(50)
teste.deposito(200)

teste.mostraCliente()

In [ ]:
______________________________________________

# Lista para os resultados dos candidatos
candidatos = [ ]

def calcularmedia(entrevista, teorico, pratico, soft_skills):
    return (entrevista + teorico + pratico + soft_skills) / 4

def avaliaraprovacao(media):
    return "Aprovado" if media >= 7 else "Reprovado"

def adicionarcandidato():
    nome = str(input("Nome do candidato: "))
    entrevista = float(input("Nota da entrevista: "))
    teorico = float(input("Nota do teste te√≥rico: "))
    pratico = float(input("Nota do teste pr√°tico: "))
    soft_skills = float(input("Nota de soft skills: "))

    media = calcularmedia(entrevista, teorico, pratico, soft_skills)
    resultado = avaliaraprovacao(media)

    candidato = {
        "Nome": nome,
        "Entrevista": entrevista,
        "Te√≥rico": teorico,
        "Pr√°tico": pratico,
        "Soft Skills": soft_skills,
        "M√©dia": media,
        "Resultado": resultado
    }

    candidatos.append(candidato)

def buscar_candidato(nome):
    for candidato in candidatos:
        if candidato["Nome"] == nome:
            print(f"Nome: {candidato['Nome']}")
            print(f"Entrevista NOTA {candidato['Entrevista']}, Teoria NOTA {candidato['Te√≥rico']}, Pr√°tica NOTA {candidato['Pr√°tico']}, Soft NOTA {candidato['Soft Skills']}")
            print(f"Resultado: {candidato['Resultado']}")
            return

continuar = True

while continuar:
    adicionarcandidato()
    continuarresposta = input("Deseja continuar inserindo candidatos (sim/n√£o)? ").lower()
    continuar = continuarresposta == "sim"

nomebuscar = input("Digite o nome do candidato que deseja buscar: ")
buscar_candidato(nomebuscar)

***Atividade: √â de casa ‚ûî O QUE FAZER?***

Criar tr√™s classes que representem as entidades Casa, Fatura e Pessoa; Com base nelas, aplique os conceitos de agrega√ß√£o e composi√ß√£o; Dica: lembrem que as pessoas que moram na casa pagam faturas. A partir destas rela√ß√µes ser√° poss√≠vel aplicar os conceitos de agrega√ß√£o e combina√ß√£o.

‚ûî COMO FAZER? Em grupos de 3 a 4 pessoas.

‚ûî FECHAMENTO Compartilhar impress√µes gerais da atividade

Atividade: Criando nosso resilog
‚ûî O QUE FAZER?

Temos como requisito para nossa aplica√ß√£o os seguintes pontos:
1. Vamos criar as classes para Categorias e Eventos;
2. As categorias tem apenas t√≠tulo por enquanto;
3. Eventos devem ter t√≠tulo, data e categoria;
4. Ao criar um evento uma lista com as poss√≠veis categorias deve aparecer para
ajudar o usu√°rio a saber quais op√ß√µes ele tem;
5. Cada evento vai ser inserido em um arquivo de texto que vai ficar com nosso log.

In [ ]:
class Categoria:
    def __init__(self, titulo):
        self.titulo = titulo

class Evento:
    def __init__(self, titulo, data, categoria):
        self.titulo = titulo
        self.data = data
        self.categoria = categoria

# Lista de categorias dispon√≠veis
categorias_disponiveis = [
    Categoria("Categoria 1"),
    Categoria("Categoria 2"),
    Categoria("Categoria 3"),
    Categoria("Categoria 4"),
    Categoria("Categoria 5"),
]

# Fun√ß√£o para exibir as categorias dispon√≠veis
def exibir_categorias():
    print("Categorias dispon√≠veis:")
    for i, categoria in enumerate(categorias_disponiveis, 1):
        print(f"{i}. {categoria.titulo}")

# Fun√ß√£o para criar um evento
def criar_evento():
    titulo = input("Digite o t√≠tulo do evento: ")
    data = input("Digite a data do evento (ex: 01/01/2023): ")

    exibir_categorias()
    escolha_categoria = int(input("Escolha a categoria do evento (digite o n√∫mero correspondente): "))

    if 1 <= escolha_categoria <= len(categorias_disponiveis):
        categoria = categorias_disponiveis[escolha_categoria - 1]
        evento = Evento(titulo, data, categoria)
        salvar_evento(evento)
        print("Evento criado com sucesso!")
    else:
        print("Evento n√£o criado.")

def salvar_evento(evento):
    with open('eventos.txt', 'a', encoding='utf-8') as arquivo_eventos:
        arquivo_eventos.write(f"T√≠tulo: {evento.titulo}\n")
        arquivo_eventos.write(f"Data: {evento.data}\n")
        arquivo_eventos.write(f"Categoria: {evento.categoria.titulo}\n")
        arquivo_eventos.write("\n")


criar_evento()

### **EXERC√çCIOS DO MODULO 2 - RESILIA** üì†
***ESTRUTURA DE DADOS***

‚úÖ **1. Fila de espera.**

**Temas: Estruturas de repeti√ß√£o, Listas, Sa√≠da de dados, Python**

Classifica√ß√£o: Intermedi√°rio

**O que √© para fazer:**

Crie uma fila de espera com os nomes de cinco pessoas e execute as seguintes opera√ß√µes: 1-Imprima na tela a fila atual. 2-Remova o primeiro elemento da fila e imprima na tela a fila atualizada. 3-Adicione mais dois nomes √† fila e imprima na tela a fila atualizada.

**Como Fazer:**

Crie uma lista com cinco nomes de pessoas, que representar√° a fila de espera;
Utilize a fun√ß√£o print() para imprimir na tela a fila atual;
Utilize o m√©todo pop(0) para remover o primeiro elemento da lista;
Utilize novamente a fun√ß√£o print() para imprimir a fila atualizada;
Utilize o m√©todo append() para adicionar dois novos nomes √† lista;
Novamente, utilize a fun√ß√£o print() para imprimir a fila atualizada.

In [ ]:
fila = ["Ana", "Julia","Ester","Clara","Joelma"]
print(fila)

fila.pop(0)
print(fila)

fila.append("Juju")
fila.append("Janja")
print(fila)

['Ana', 'Julia', 'Ester', 'Clara', 'Joelma']
['Julia', 'Ester', 'Clara', 'Joelma']
['Julia', 'Ester', 'Clara', 'Joelma', 'Juju', 'Janja']

‚úÖ **2. Fus√£o de Listas**

**Temas: Listas, Sa√≠da de dados, Python**

Classifica√ß√£o: Intermedi√°rio

**O que √© para fazer:**

Crie duas listas de tamanho igual com valores num√©ricos de sua escolha. Crie uma nova lista que seja a fus√£o das duas primeiras, de forma que os elementos sejam intercalados. Por fim, imprima a nova lista na tela.

**Como Fazer:**

Crie duas listas de tamanho igual com valores num√©ricos de sua escolha;
Crie uma nova lista vazia para armazenar a fus√£o das duas primeiras;
Utilize um la√ßo de repeti√ß√£o para percorrer todos os √≠ndices das listas originais;
Para cada √≠ndice, adicione o elemento da primeira lista na nova lista e, em seguida, adicione o elemento correspondente da segunda lista na nova lista;
Se as listas originais possuem tamanhos diferentes, adicione os elementos restantes da lista maior no final da nova lista;
Imprima a nova lista na tela.

In [ ]:
# Crie duas listas de tamanho igual
lista1 = [1, 2, 3, 4, 5]
lista2 = [6, 7, 8, 9, 10]

# Combine as duas listas e aplane-as
nova_lista = sum(zip(lista1, lista2), ())

# Imprima a nova lista na tela
print(nova_lista)

(1, 6, 2, 7, 3, 8, 4, 9, 5, 10)

‚úÖ **3. Soma de valores em uma lista.**

**Temas: Listas, Sa√≠da de dados, Python**

Classifica√ß√£o: Iniciante
O que √© para fazer:

Crie uma lista com 5 n√∫meros inteiros de sua escolha e calcule a soma desses valores. Imprima o resultado da soma na tela.

**Como Fazer:**

Crie uma lista com 5 n√∫meros inteiros de sua escolha;
Declare uma vari√°vel para armazenar a soma dos valores da lista;
Utilize um la√ßo de repeti√ß√£o para percorrer todos os elementos da lista e ir somando seus valores na vari√°vel criada no passo anterior;
Imprima o resultado da soma na tela.

In [ ]:
lista = [5,10,15,41,100]
soma_lista = 0

for numero in lista:
  soma_lista += numero


print(soma_lista)

‚úÖ **4. Manipula√ß√£o de tuplas.
   .**

**Temas: Sa√≠da de dados, Filas, Python**

Crie uma tupla com 5 elementos e realize as seguintes opera√ß√µes:

1- Imprima na tela o tamanho da tupla;

2- Crie uma nova tupla que contenha os elementos da tupla original em ordem reversa;

3- Imprima na tela os elementos da nova tupla separados por ""-"".

**Como Fazer:**


1. Crie uma tupla com 5 elementos de sua escolha.

2. Utilize a fun√ß√£o len() para imprimir na tela o tamanho da tupla.

3. Crie uma nova tupla que contenha os elementos da tupla original em ordem reversa, utilizando o fatiamento com par√¢metro -1.

4. Utilize o m√©todo join() para imprimir na tela os elementos da nova tupla, separados por ""-"".

In [ ]:
# Exemplo 1
# Crie uma tupla com 5 elementos
tupla_original = (10, 20, 30, 40, 50)

# Use a fun√ß√£o len() para imprimir o tamanho da tupla
tamanho = len(tupla_original)
print("Tamanho da tupla original:", tamanho)

# Crie uma nova tupla com elementos da tupla original em ordem reversa
tupla_reversa = tupla_original[::-1]

# Use o m√©todo join() para imprimir os elementos da nova tupla separados por "-"
elementos_separados = "-".join(map(str, tupla_reversa))
print("Tupla reversa separada por '-':", elementos_separados)

# Exemplo 2
# Criar uma tupla com 5 elementos
nomes = ("Ale","Brito","Raquel","Cristine","Gisa")

# Use a fun√ß√£o len() para imprimir o tamanho da Tupla
tamanho = len(nomes)
print("Tamanho da tupla - ", tamanho)

# Crie uma nova tupla com elementos da tupla original em ordem Reversa
nomes_inverso = nomes[::-1]

# Use o m√©todo join() para imprimir os elementos da nova tupla separados por "-"
nomes_inversos_separados = "-".join(nomes_inverso)
print(nomes_inversos_separados)

Tamanho da tupla original: 5
Tupla reversa separada por '-': 50-40-30-20-10
Tamanho da tupla -  5
Gisa-Cristine-Raquel-Brito-Ale

‚úÖ5. **Temas:** Sa√≠da de dados, Tuplas, Python

**Classifica√ß√£o:** Iniciante

**O que √© para fazer:**

Crie uma lista com 6 elementos e utilize o fatiamento para imprimir na tela as seguintes sub-listas: os tr√™s primeiros elementos, os tr√™s √∫ltimos elementos e uma sub-lista com o segundo e o terceiro elemento.

**Como Fazer:**

Crie uma lista com 6 elementos de sua escolha.
Utilize o fatiamento para imprimir na tela os tr√™s primeiros elementos da lista.
Utilize o fatiamento para imprimir na tela os tr√™s √∫ltimos elementos da lista.
Utilize o fatiamento para imprimir na tela uma sub-lista com o segundo e o terceiro elementos da lista.

###***Trabalho Individual - Modulo 2*** ‚úÖ

In [ ]:
# Criar uma lista para armazenar os resultados
resultado=[]
# Dicion√°rio de Candidatos
candidatos = {
"Candidato 1": {"Entrevista":("e",5),
"T√©cnica":("t",10),
"Pr√°tica":("p",8),
"Soft Skill":("s",8)},
"Candidato 2": {"Entrevista":("e",10),
"T√©cnica":("t",7),
"Pr√°tica":("p",7),
"Soft Skill":("s",8)},
"Candidato 3": {"Entrevista":("e",8),
"T√©cnica":("t",5),
"Pr√°tica":("p",4),
"Soft Skill":("s",9)},
"Candidato 4": {"Entrevista":("e",2),
"T√©cnica":("t",2),
"Pr√°tica":("p",2),
"Soft Skill":("s",1)},
"Candidato 5": {"Entrevista":("e",10),
"T√©cnica":("t",10),
"Pr√°tica":("p",8),
"Soft Skill":("s",9)}
}

# Fun√ß√£o que busca o candidato de acordo com os crit√©rios digitados pelo usu√°rio
def requisito_vaga():
    print("verificador de compatibilidade de um candidato com uma vaga")
    print("Temos uma vaga para Analista e os requisitos m√≠nimos s√£o:")
    requisitos = [int(input("Entrevista: ")),int(input("T√©cnica: ")), int(input("Pr√°tica: ")), int(input("Soft Skill: "))]
    resultado.append(requisitos)
    return requisitos

def buscar_candidatos(requisitos):
    candidatos_compativeis = []

    for candidato, habilidades in candidatos.items():
        atende_requisitos = all(habilidades[chave][1] >= requisito for chave, requisito in zip(habilidades.keys(), requisitos))

        if atende_requisitos:
            requisitos_formatados = "_".join(f"{chave[0].lower()}{requisito[1]}" for chave, requisito in habilidades.items())
            candidatos_compativeis.append((candidato, requisitos_formatados))

    return candidatos_compativeis

requisitos = requisito_vaga()
candidatos_compativeis = buscar_candidatos(requisitos)

print("Candidatos compat√≠veis com os requisitos m√≠nimos:")
for candidato, requisitos_formatados in candidatos_compativeis:
    requisitos_str = "_".join(requisitos_formatados.split("_")[:])
    print(f"Candidato: {candidato}, Requisitos: {requisitos_str}")

## **MODULO 3 üìñ  - SQL** ü•É
***Banco de Dados*** üìö

***FireBase*** üî•
>O Firebase √© uma plataforma de desenvolvimento de aplicativos m√≥veis e web oferecida pelo Google. Ele fornece uma variedade de servi√ßos e ferramentas que ajudam os desenvolvedores a criar aplicativos de alta qualidade de maneira mais r√°pida e eficiente.

###**MySQL WorkBench üêü**

###***CONSULTAS DO BANCO PIZZARIA***

#####***ATIVIDADE - Segunda rodada***

O QUE FAZER?
Criar consultas SQL para cada um dos cen√°rios:
1. Selecionar os nomes dos clientes que realizaram mais de 2 pedidos.
2. Retornar a quantidade de pedidos de cada pizza.
3. Retornar a quantidade de pedidos de cada categoria de pizza.
4. Retornar a soma dos pre√ßos dos pedidos agrupados pelo nome da pizza.
5. Retornar a soma dos pre√ßos dos pedidos agrupados pelo nome da pizza, filtrando pelas pizzas de
categoria ‚ÄúZero Lactose‚Äù.

***Resposta n1***
```sql
SELECT tb_cliente.nome,
COUNT(tb_pedido.id_pedido) AS numero_pedidos
FROM tb_cliente
JOIN tb_pedido ON tb_cliente.id_cliente = tb_pedido.id_cliente
GROUP BY tb_cliente.nome HAVING numero_pedidos > 2
ORDER BY numero_pedidos;
```

***Resposta n2***
```sql
SELECT tb_pizza.nome, COUNT(tb_pedido_pizza.id_pedido) AS numero_pedidos
FROM tb_pizza JOIN tb_pedido_pizza
ON tb_pizza.id_pizza = tb_pedido_pizza.id_pizza
GROUP BY tb_pizza.nome
ORDER BY numero_pedidos desc;
```

***Resposta n3***

```sql
SELECT tb_pizza.categoria, COUNT(tb_pedido_pizza.id_pedido) AS numero_pedidos
FROM tb_pizza JOIN tb_pedido_pizza
ON tb_pizza.id_pizza = tb_pedido_pizza.id_pizza
GROUP BY tb_pizza.categoria
ORDER BY numero_pedidos desc;
```

***Resposta n4***
```sql
select tb_pizza.nome, sum(tb_pizza.preco) from tb_pedido inner join tb_pedido_pizza inner join tb_pizza
where (tb_pedido.id_pedido = tb_pedido_pizza.id_pedido) and
(tb_pizza.id_pizza = tb_pedido_pizza.id_pizza)
group by tb_pizza.nome;
```

***Resposta n5***
```sql
select tb_pizza.nome, sum(tb_pizza.preco), categoria
from tb_pedido inner join tb_pedido_pizza inner join tb_pizza
where(tb_pedido.id_pedido = tb_pedido_pizza.id_pedido)
group by tb_pizza.nome having categoria = "Zero Lactose";
```

####***JOINN's***

```sql
use  pizzaria;
select  * from tb_cliente
inner join tb_pedido on tb_cliente.id_cliente = tb_pedido.id_pedido;
```

```sql
use  pizzaria;
select  nome,tipo_entrega,preco from tb_cliente
 inner join tb_pedido on tb_cliente.id_cliente = tb_pedido.id_pedido;
 ```

```sql
use  pizzaria;
select  nome,tipo_entrega,preco from tb_cliente
 inner join tb_pedido on tb_cliente.id_cliente = tb_pedido.id_cliente;
 ```

```sql
 select  nome,tipo_entrega,preco from tb_cliente
 inner join tb_pedido on tb_cliente.id_cliente = tb_pedido.id_cliente group by nome;
 ```

```sql
select  *  from tb_pizza WHERE nome LIKE '%piry' ;

select  *  from tb_pizza WHERE nome LIKE '%piry' ;

select  *  from tb_pizza WHERE nome LIKE '%com%' ;

select  *  from tb_pizza WHERE nome LIKE '%com%' ;

select * from tb_cliente where endereco LIKE 'rua das flores%';

select *  from tb_pizza where descricao like '%bacon%' (Busca que cont√©m pizza)

select * from tb_pizza where nome like '_a%'; (Busca que cont√©m o A como segunda letra)

select nome,preco from tb_cliente inner join tb_pedido on tb_cliente.id_cliente=tb_pedido.id_cliente where preco in (45,95,120); (Retorna o cliente e o pre√ßo que ele j√° gastou)

select max(preco) from tb_pedido;

select min(preco) from tb_pedido;

select avg(preco) from tb_pedido; (AVG tira a m√©dia)

select count(preco) from tb_pedido where preco > 60;

select count(preco) from tb_pedido where preco >100;
```

####***AQUECIMENTO***

1. Selecionar o nome dos clientes e o pre√ßo dos pedidos com o tipo de entrega Delivery.
```sql
SELECT nome,preco
FROM tb_cliente
INNER JOIN tb_pedido ON tb_cliente.id_cliente = tb_pedido.id_cliente
WHERE tb_pedido.tipo_entrega = 'Delivery';
```
2. Selecionar o nome dos clientes e o nome das pizzas pedidas por eles.
```sql
SELECT tb_cliente.nome, tb_pedido.preco
FROM tb_cliente
INNER JOIN tb_pedido ON tb_cliente.id_cliente= tb_pedido.id_ciente
WHERE tb_pedido.preco > 160;


3. Selecionar o nome dos clientes e o nome das pizzas pedidas por eles filtrando pelas
pizzas que s√£o Zero Lactose.
```sql
SELECT tb_cliente.nome,

```

4. Selecionar o total de pre√ßo dos pedidos, agrupado pelos nomes dos clientes e
ordenados pelos que mais gastaram.

###**CRIANDO BANCO DE DADOS MAGAZU**

CRIANDO BANCO DE DADOS MAGAZU
'''
create database magazu;
'''

SELECIONA O BANCO DE DADOS A SER UTILIZADO E TODAS AS PESQUISAS SUBSEQUENTES SER√ÉO FEITAAS PARA ESSE BANCO DE DADOS.
use magazu;

ISSO RECUPERAR√Å(mostrar√°) TODOS OS REGISTROS E TODAS AS COLUNAS DA TABELA ESPECIFICADA.
select * from pedido;
select * from cliente;
select * from fornecedor;
select * from produto;

CRIANDO UMA NOVA TABELA CLIENTE COM (CREATE TABLE 'nome_tabela'('colunas'))

'''
NOT NULL
Quando uma coluna √© definida como NOT NULL, voc√™ est√° garantindo que os registros na tabela devem conter um valor v√°lido para essa coluna.
Isso significa que a coluna n√£o pode ser deixada em branco (ou nula) em nenhum registro.
Sintaxe: A restri√ß√£o NOT NULL √© aplicada durante a cria√ß√£o da tabela, ao definir a estrutura da coluna.
'''

'''
PRIMARY KEY
Unicidade: Garante que valores na coluna (ou colunas) sejam √∫nicos em cada registro.
N√£o Nulidade: Exige que a coluna (ou colunas) n√£o contenha valores nulos.
Identifica√ß√£o √önica: Serve para identificar registros exclusivamente na tabela.
Sintaxe: Usada durante a cria√ß√£o da tabela com PRIMARY KEY ou com ALTER TABLE para definir a chave prim√°ria.
'''
'''
FOREIGN KEY
A restri√ß√£o FOREIGN KEY (chave estrangeira) em SQL √© usada para estabelecer uma rela√ß√£o entre duas tabelas em um banco de dados relacional. Aqui est√° um resumo conciso dos principais pontos sobre a restri√ß√£o FOREIGN KEY:
Relacionamento entre Tabelas: Uma chave estrangeira √© usada para criar um relacionamento entre duas tabelas, geralmente uma tabela pai (referenciada) e uma tabela filha (referenciadora).
Garante Referencial Integridade: A restri√ß√£o FOREIGN KEY garante a integridade referencial, o que significa que os valores na coluna da chave estrangeira na tabela filha devem corresponder aos valores na coluna da chave prim√°ria na tabela pai.
Restri√ß√£o de Valores: Os valores na coluna da chave estrangeira devem corresponder aos valores na coluna da chave prim√°ria da tabela pai. Isso evita inconsist√™ncias nos dados.
Sintaxe: A restri√ß√£o FOREIGN KEY √© definida durante a cria√ß√£o da tabela ou com a instru√ß√£o ALTER TABLE. Ela especifica a coluna da chave estrangeira na tabela filha e a tabela e coluna da chave prim√°ria na tabela pai.
A√ß√µes de Atualiza√ß√£o e Exclus√£o: Pode-se definir a√ß√µes a serem executadas quando registros relacionados s√£o atualizados ou exclu√≠dos, como CASCADE (atualiza ou exclui registros relacionados), SET NULL (define valores nulos na coluna da chave estrangeira), entre outras.
Melhora a Integridade e a Consist√™ncia dos Dados: A chave estrangeira ajuda a manter a consist√™ncia dos dados, garantindo que as refer√™ncias entre tabelas sejam v√°lidas.
Em resumo, a restri√ß√£o FOREIGN KEY √© usada para estabelecer rela√ß√µes entre tabelas, garantir a integridade referencial e manter a consist√™ncia dos dados em um banco de dados relacional.
'''

CREATE TABLE `cliente` (
  `codcliente` int(11) NOT NULL PRIMARY KEY auto_increment,
  `nome` varchar(20) NOT NULL,
  `endereco` varchar(30) NOT NULL,
  `celular` varchar(14) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

ENTIDADES
BANCO MAGAZU

TABELA CLIENTE
CHAVE PRIMARIA


TABELA FORNECEDOR
CHAVE PRIMARIA

TABELA PRODUTO
CHAVE PRIMARIA

TABELA PEDIDO
CHAVE PRIMARIA

USE magazu;

CREATE TABLE departamento(
coddepartamento INT(11) NOT NULL PRIMARY KEY AUTO_INCREMENT,
nome VARCHAR(20) NOT NULL,
sigla VARCHAR(30) NOT NULL,
valorOrcamento FLOAT NOT NULL);

CREATE TABLE funcionario(
codfuncionario INT(11) NOT NULL PRIMARY KEY AUTO_INCREMENT,
nome VARCHAR(20) NOT NULL,
cargo VARCHAR(30) NOT NULL,
salario FLOAT NOT NULL,
coddepartamento INT NOT NULL);

TABLE -
CONSTRAINT -
REFERENCES -
RELACIONANDO A TABELA FUNCIONARIO COM O DEPARTAMENTO
FUNCIONARIO(FOREIGN KEY) E DEPARTAMENTO(PRIMARY KEY)
ALTER TABLE funcionario ADD CONSTRAINT fk_funcionario
FOREIGN KEY(coddepartamento)
REFERENCES departamento(coddepartamento);

ALTER TABLE pedido
DROP quantidade,
DROP valor;

CREATE TABLE itempedido(
numero_item INT(11) NOT NULL PRIMARY KEY AUTO_INCREMENT,
qtde INT NOT NULL,
valor FLOAT NOT NULL,
codpedido INT NOT NULL);

ALTER TABLE itempedido ADD CONSTRAINT fk_itempedido
FOREIGN KEY(codpedido)
REFERENCES pedido(codpedido);

SPOTIFY EXERCICIO PARA FAZER
EXERCICIO DA FLORICULTURA
PACK 3 - A PARTIR DA PAGINA 23

####**CRIANDO UM BANCO DE FLORICULTURA**

### **CRIANDO SPOTIFY**

create database spotify
USE spotify;

CREATE TABLE usuario (
idusuario int(11) NOT NULL PRIMARY KEY AUTO_INCREMENT,
nome varchar(30) NOT NULL,
email varchar(50) NOT NULL,
senha int(14) NOT NULL) ;

CREATE TABLE musica (
idmusica int(11) NOT NULL PRIMARY KEY AUTO_INCREMENT,
nome varchar(30) NOT NULL,
duracao varchar(50) NOT NULL,
categoria varchar(14) NOT NULL,
idartista int(20) NOT NULL) ;

CREATE TABLE artista (
idartista int(11) NOT NULL PRIMARY KEY AUTO_INCREMENT,
nome varchar(30) NOT NULL) ;

CREATE TABLE playlist (
idplaylist int(11) NOT NULL PRIMARY KEY AUTO_INCREMENT,
idmusica INT(30) NOT NULL,
Data date) ;

ALTER TABLE musica ADD CONSTRAINT fk_musica
FOREIGN KEY(idartista)
REFERENCES artista(idartista);

ALTER TABLE playlist ADD CONSTRAINT fk_playlist
FOREIGN KEY(idmusica)
REFERENCES musica(idmusica);

INSERT INTO usuario (idusuario, nome, email, senha) VALUES (NULL, 'ailton', 'Rua jacaiol, 1102', 546723);

INSERT INTO artista (idartista, nome) VALUES (NULL, 'Grace');
INSERT INTO artista (idartista, nome)VALUES (NULL, 'Pericles');

INSERT INTO musica (idmusica, nome, duracao, categoria, idartista) VALUES (NULL, 'from', '2:50', 'Pop Rock', 1);

####**Criando Bancos**
EXECUTAR UM POR UM

Banco de dados: `floricultura`
create database floricultura;
use floricultura;

cria√ß√£o da tabela `cliente`

CREATE TABLE cliente (
  codcliente int(11) NOT NULL PRIMARY KEY  AUTO_INCREMENT,
  nome varchar(30) NOT NULL,
  endereco varchar(50) NOT NULL,
  email varchar(50) NOT NULL,
  telefone varchar(14) NOT NULL
) ;


 Estrutura da tabela `compra`

CREATE TABLE compra (
  codcompra int(11) NOT NULL PRIMARY KEY AUTO_INCREMENT ,
  data date NOT NULL,
  valor float NOT NULL,
  total float NOT NULL,
  codcliente int(11) NOT NULL,
  codproduto int(11) NOT NULL
) ;

 Estrutura da tabela `produto`


CREATE TABLE produto (
  codproduto int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY ,
  descricao varchar(30) NOT NULL,
  valor float NOT NULL,
  qtd int(11) NOT NULL
) ;
 chaves estrangeiras
ALTER TABLE compra
  ADD CONSTRAINT teste1 FOREIGN KEY (codcliente) REFERENCES cliente (codcliente),
  ADD CONSTRAINT teste2 FOREIGN KEY (codproduto) REFERENCES produto (codproduto);
  
INSERT INTO cliente (codcliente, nome, endereco, email, telefone) VALUES (NULL, 'Ana', 'Rua Abc, 10', 'ana@gmail.com', '65656');

INSERT INTO produto(codproduto, descricao, valor, qtd) VALUES (NULL, 'Notebook', '3000', '10');

create database magazu;
use magazu;
 Banco de dados: `magazu`


-- --------------------------------------------------------


Estrutura da tabela `cliente`

CREATE TABLE `cliente` (
  `codcliente` int(11) NOT NULL,
  `nome` varchar(20) NOT NULL,
  `endereco` varchar(30) NOT NULL,
  `celular` varchar(14) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;


 Extraindo dados da tabela `cliente`


INSERT INTO `cliente` (`codcliente`, `nome`, `endereco`, `celular`) VALUES
(1, 'Ana', 'Rua asas', '445545'),
(2, 'Pedro', 'Rua BCV', '7988998');

-- --------------------------------------------------------


 Estrutura da tabela `departamento`


CREATE TABLE `departamento` (
  `coddepartamento` int(11) NOT NULL,
  `nome` varchar(20) NOT NULL,
  `sigla` varchar(30) NOT NULL,
  `valorOrcamento` float NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- --------------------------------------------------------


 Estrutura da tabela `fornecedor`


CREATE TABLE `fornecedor` (
  `codfornecedor` int(11) NOT NULL,
  `razaosocial` varchar(40) NOT NULL,
  `cnpj` varchar(18) NOT NULL,
  `endereco` varchar(40) NOT NULL,
  `email` varchar(40) NOT NULL,
  `telefone` varchar(14) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;


 Extraindo dados da tabela `fornecedor`


INSERT INTO `fornecedor` (`codfornecedor`, `razaosocial`, `cnpj`, `endereco`, `email`, `telefone`) VALUES
(1, 'Empresa CWE', 'CWE Equipamentos', '676767767676', 'b@gmail.com', '44332'),
(2, 'Empresa jtr', 'qwe Equipamentos', '88767767676', 'b@gmail.com', '44332');

-- --------------------------------------------------------


 Estrutura da tabela `funcionario`


CREATE TABLE `funcionario` (
  `codfuncionario` int(11) NOT NULL,
  `nome` varchar(20) NOT NULL,
  `cargo` varchar(30) NOT NULL,
  `salario` float NOT NULL,
  `coddepartamento` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- --------------------------------------------------------


 Estrutura da tabela `itempedido`


CREATE TABLE `itempedido` (
  `numeroitem` int(11) NOT NULL,
  `qtd` int(11) NOT NULL,
  `valor` float NOT NULL,
  `codpedido` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- --------------------------------------------------------


 Estrutura da tabela `pedido`


CREATE TABLE `pedido` (
  `codpedido` int(11) NOT NULL,
  `datapedido` date NOT NULL,
  `total` float NOT NULL,
  `codcliente` int(11) NOT NULL,
  `codproduto` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;


 Extraindo dados da tabela `pedido`


INSERT INTO `pedido` (`codpedido`, `datapedido`, `total`, `codcliente`, `codproduto`) VALUES
(1, '2023-10-11', 2500, 1, 3),
(2, '2023-11-06', 2500, 2, 3),
(3, '2023-11-06', 2500, 1, 3);

-- --------------------------------------------------------


 Estrutura da tabela `produto`


CREATE TABLE `produto` (
  `codproduto` int(11) NOT NULL,
  `descricao` varchar(40) NOT NULL,
  `categoria` varchar(25) NOT NULL,
  `preco` float NOT NULL,
  `data` date NOT NULL,
  `codfornecedor` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;


 Extraindo dados da tabela `produto`


INSERT INTO `produto` (`codproduto`, `descricao`, `categoria`, `preco`, `data`, `codfornecedor`) VALUES
(1, 'Notebook', 'Info', 3000, '2023-11-08', 1),
(2, 'Mouse', 'Info', 3000, '0000-00-00', 1),
(3, 'Monitor', 'Info', 3000, '0000-00-00', 2);


 √çndices para tabelas despejadas



 √çndices para tabela `cliente`

ALTER TABLE `cliente`
  ADD PRIMARY KEY (`codcliente`);


 √çndices para tabela `departamento`

ALTER TABLE `departamento`
  ADD PRIMARY KEY (`coddepartamento`);


 √çndices para tabela `fornecedor`

ALTER TABLE `fornecedor`
  ADD PRIMARY KEY (`codfornecedor`);


 √çndices para tabela `funcionario`

ALTER TABLE `funcionario`
  ADD PRIMARY KEY (`codfuncionario`),
  ADD KEY `fk_funcionario` (`coddepartamento`);


 √çndices para tabela `itempedido`

ALTER TABLE `itempedido`
  ADD PRIMARY KEY (`numeroitem`),
  ADD KEY `item` (`codpedido`);


 √çndices para tabela `pedido`


 alter table pedido add(codproduto int not null)


ALTER TABLE `pedido`
  ADD PRIMARY KEY (`codpedido`),
  ADD KEY `fk_produtos` (`codproduto`),
  ADD KEY `fk_produtos3` (`codcliente`);


 √çndices para tabela `produto`

ALTER TABLE `produto`
  ADD PRIMARY KEY (`codproduto`),
  ADD KEY `fk_fornecedor` (`codfornecedor`);


 AUTO_INCREMENT de tabelas despejadas



 AUTO_INCREMENT de tabela `cliente`

ALTER TABLE `cliente`
  MODIFY `codcliente` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=3;


 AUTO_INCREMENT de tabela `departamento`

ALTER TABLE `departamento`
  MODIFY `coddepartamento` int(11) NOT NULL AUTO_INCREMENT;


AUTO_INCREMENT de tabela `funcionario`

ALTER TABLE `funcionario`
  MODIFY `codfuncionario` int(11) NOT NULL AUTO_INCREMENT;


 AUTO_INCREMENT de tabela `itempedido`

ALTER TABLE `itempedido`
  MODIFY `numeroitem` int(11) NOT NULL AUTO_INCREMENT;


 AUTO_INCREMENT de tabela `pedido`

ALTER TABLE `pedido`
  MODIFY `codpedido` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=5;


 AUTO_INCREMENT de tabela `produto`

ALTER TABLE `produto`
  MODIFY `codproduto` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=4;


 Restri√ß√µes para despejos de tabelas



 Limitadores para a tabela `funcionario`

ALTER TABLE `funcionario`
  ADD CONSTRAINT `fk_funcionario` FOREIGN KEY (`coddepartamento`) REFERENCES `departamento` (`coddepartamento`);


Limitadores para a tabela `itempedido`

ALTER TABLE `itempedido`
  ADD CONSTRAINT `item` FOREIGN KEY (`codpedido`) REFERENCES `pedido` (`codpedido`);


 Limitadores para a tabela `pedido`

ALTER TABLE `pedido`
  ADD CONSTRAINT `fk_produtos` FOREIGN KEY (`codproduto`) REFERENCES `produto` (`codproduto`),
  ADD CONSTRAINT `fk_produtos2` FOREIGN KEY (`codcliente`) REFERENCES `cliente` (`codcliente`),
  ADD CONSTRAINT `fk_produtos3` FOREIGN KEY (`codcliente`) REFERENCES `cliente` (`codcliente`);


 Limitadores para a tabela `produto`

ALTER TABLE `produto`
  ADD CONSTRAINT `fk_fornecedor` FOREIGN KEY (`codfornecedor`) REFERENCES `fornecedor` (`codfornecedor`);

### ***CRIANDO PIZZARIA***

create database pizzaria;
use pizzaria;


CREATE TABLE tb_cliente(
	`id_cliente` INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
    `nome` VARCHAR(30) NOT NULL,
    `email` VARCHAR(30) NOT NULL,
    `enderececo` VARCHAR(90) NOT NULL
);


CREATE TABLE tb_pedido(
	`id_pedido` INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
    `id_cliente` INT NOT NULL,
    `observacao` VARCHAR(30) NOT NULL,
    `tipo_entrega` VARCHAR(30) NOT NULL,
    `preco` FLOAT NOT NULL,
    `data_pedido` DATE NOT NULL
);


CREATE TABLE tb_pizza(
	`id_pizza` INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
    `nome` VARCHAR(30) NOT NULL,
    `descricao` VARCHAR(100) NOT NULL,
    `categoria` VARCHAR(30) NOT NULL,
    `preco` FLOAT NOT NULL
);

CREATE TABLE tb_pedido_pizza(
	`id_pedido` INT NOT NULL,
    `id_pizza` INT NOT NULL,
    `quantidade` VARCHAR(30) NOT NULL
);


-- INSERINDO AS CHAVES ESTRANGEIRAS
ALTER TABLE tb_pedido ADD FOREIGN KEY(id_cliente) REFERENCES tb_cliente (id_cliente);
ALTER TABLE tb_pedido_pizza ADD FOREIGN KEY(id_pedido) REFERENCES tb_pedido (id_pedido);
ALTER TABLE tb_pedido_pizza ADD FOREIGN KEY(id_pizza) REFERENCES tb_pizza (id_pizza);


-- INSERINDO AS PIZZAS DISPONIVEIS
INSERT INTO tb_pizza(nome, descricao, categoria, preco)
VALUES('pepperoni', 'de linguica', 'Cont√©m Lactose', 35.00),
('Frango com Catupiry', 'Frango, catupiry, queijo, molho', 'Cont√©m Lactose', 38.00),
('4 Queijos', 'Mussarela, Minas, gorgonzola, buffala, molho', 'Cont√©m Lactose', 38.00);


-- NOVAS PIZZAS ZERO LACTOSE
INSERT INTO tb_pizza(nome, descricao, categoria, preco)
VALUES('Vegetariana', 'Tomate, cogumelos, cebola, piment√£o e azeitonas.','Zero Lactose',50),
('Margarita sem Queijo', 'Molho de tomate, tomate fatiado, manjeric√£o e azeite de oliva.', 'Zero Lactose', 48),
('Mediterr√¢nea','Molho de tomate, espinafre, tomate seco, azeitonas e alho.','Zero Lactese',43),
('Primavera', 'Molho de tomate, abobrinha, tomate cereja, br√≥colis e manjeric√£o.', 'Zero Lactose', 45);



-- INSERINDO CLIENTES
INSERT INTO tb_cliente (nome, email, endereco)
VALUES ('Antonio', 'antonio@gmail.com', 'Rua prof Olinto n393'),
('Nunes', 'nunes@gmail.com', 'Rua prof de oliveira n111'),
('alules', 'alules@gmail.com', 'Estrada porto nac n373'),

INSERT INTO tb_cliente (nome, email, endereco)
VALUES
('Carlos', 'carlos@gmail.com', 'Avenida Central n789'),
('Fernanda', 'fernanda@gmail.com', 'Rua das Flores n456'),
('Lucia', 'lucia@gmail.com', 'Travessa da Paz n222'),
('Roberto', 'roberto@gmail.com', 'Alameda dos Sonhos n333'),
('Juliana', 'juliana@gmail.com', 'Pra√ßa da Liberdade n777'),
('Mateus', 'mateus@gmail.com', 'Rua da Amizade n888'),
('Isabel', 'isabel@gmail.com', 'Avenida do Sol n555');


-- INSERINDO PEDIDO_PIZZA
INSERT INTO tb_pedido_pizza (id_pedido, id_pizza, quantidade)
VALUES
(28, 1, 'MEIA'),
(29, 2, 'INTEIRA'),
(30, 3, 'MEIA'),
(31, 1, 'MEIA'),
(32, 3, 'INTEIRA'),
(33, 2, 'MEIA'),
(34, 3, 'INTEIRA'),
(35, 1, 'INTEIRA'),
(36, 2, 'INTEIRA');



-- INSERINDO NOVOS PEDIDO_PIZZA
INSERT INTO tb_pedido_pizza (id_pedido, id_pizza, quantidade)
VALUES
(37, 1, 'MEIA'),
(37, 2, 'INTEIRA'),
(37, 3, 'MEIA'),
(38, 1, 'MEIA'),
(38, 3, 'INTEIRA'),
(38, 1, 'MEIA'),
(39, 4, 'INTEIRA'),
(39, 7, 'INTEIRA'),
(39, 6, 'INTEIRA');



-- INSERINDO PEDIDOS
INSERT INTO tb_pedido (id_cliente, observacao, tipo_entrega, preco, data_pedido)
VALUES
(1, 'Pedido 1', 'Entrega expressa', 35, '2023-11-22'),
(2, 'Pedido 2', 'Entrega padr√£o', 38, '2023-11-23'),
(3, 'Pedido 3', 'Retirada na loja', 38, '2023-11-24'),
(4, 'Pedido 4', 'Entrega expressa', 35, '2023-11-25'),
(5, 'Pedido 5', 'Entrega expressa', 38, '2023-12-02'),
(6, 'Pedido 6', 'Retirada na loja', 38, '2023-12-03'),
(7, 'Pedido 7', 'Entrega padr√£o', 38, '2023-12-04'),
(8, 'Pedido 8', 'Entrega expressa', 35, '2023-12-05'),
(9, 'Pedido 9', 'Retirada na loja', 38, '2023-12-06');



-- INSERINDO NOVOS PEDIDOS
INSERT INTO tb_pedido (id_cliente, observacao, tipo_entrega, preco, data_pedido)
VALUES
(1, 'Pedido 10', 'Entrega expressa', 111, '21-04-2021'),
(5, 'Pedido 11', 'Entrega expressa', 108, '25-04-2021'),
(4, 'Pedido 12', 'Entrega expressa', 138, '23-04-2021'),


-- MUDANDO O NOME DE UMA COLUNA
ALTER TABLE tb_cliente
CHANGE COLUMN enderececo endereco VARCHAR(255);


ALTER TABLE tb_pizza
CHANGE ROW


-- SELECIONANDO UMA TABELA
SELECT * FROM tb_pedido
WHERE id_pedido = 0;


-- SELECIONANDO A COLUNA pedido_pizza
SELECT * FROM tb_pedido_pizza;
SELECT * FROM tb_pizza;



-- DELETANDO ITENS DE UMA TABELA
DELETE FROM tb_pedido
WHERE id_pedido BETWEEN 0 AND 27;

-- DELETANDO TODOS OS ITENS DE UMA TABELA
DROP FROM tb_pedido;


-- SELECIONANDO NOME E ENDERE√áO, ORDENANDO POR ORDEM ALFAB√âTICA
SELECT nome, endereco FROM tb_cliente ORDER BY nome;

-- CONSULTANDO O PRECO E O TIPO DA ENTREGA COM O OPERADOR >=
SELECT preco,tipo_entrega
FROM tb_pedido
WHERE preco >=10;

SELECT preco, tipo_entrega
FROM tb_pedido
WHERE preco <> 35 AND tipo_entrega='Retirada na loja';

SELECT *
FROM tb_cliente
WHERE nome LIKE 'a%';

SELECT *
FROM tb_cliente
WHERE email LIKE '%hotmail.com';

SELECT *
FROM tb_pizza
WHERE categoria = 'Zero Lactose';

SELECT *
FROM tb_pizza
WHERE categoria <> 'Zero Lactose';

UPDATE tb_pizza
SET categoria = 'Zero Lactese'
WHERE categoria = 'Zero Lactose';

UPDATE tb_pizza
SET categoria = 'Zero Lactose'
WHERE categoria = 'Zero Lactese'
LIMIT 4;

SELECT *
FROM tb_pizza;

###***PIZZARIA***

create database pizzaria;
use pizzaria;

CREATE TABLE tb_cliente (
  id_cliente int(11) primary key AUTO_INCREMENT NOT NULL,
  nome varchar(20) NOT NULL,
  email varchar(20) NOT NUll,
  endereco varchar(50) NOT NULL
) ;

CREATE TABLE tb_pedido (
	id_cliente int(11),
    observacao VARCHAR(100),
    tipo_entrega varchar(100),
    preco float,
    data_pedido datetime,
    id_pedido INT(11) PRIMARY KEY AUTO_INCREMENT,
    FOREIGN KEY (id_cliente) REFERENCES tb_cliente(id_cliente)
);

CREATE TABLE tb_pizza (
    id_pizza INT(11) PRIMARY KEY AUTO_INCREMENT,
    nome VARCHAR(100),
    descricao varchar(100),
    categoria varchar(100),
    preco float
);

CREATE TABLE tb_pedido_pizza (
    id_pedido INT(11),
    id_pizza int(11),
    quantidade varchar(11),
    FOREIGN KEY (id_pedido) REFERENCES tb_pedido(id_pedido),
    FOREIGN KEY (id_pizza) REFERENCES tb_pizza(id_pizza)
);

INSERT INTO tb_cliente (nome,email,endereco) VALUES
	 ('Francisco Jose','franc@xpto.com','av. Beltrano, numero 32, apt. 13, Centro'),
	 ('Antonio Luiz','ant_luz@fb.com','rua das Flores, quadra B, numero 2, Liberdade'),
	 ('Belchior Lopez','blopez@fb.com','rua Projetada, numero 2, Lagos'),
	 ('Maria Jose','jmaria21@xpto.com','av. Embaixador Luiz, numero 3, Centro'),
	 ('Jose de Ribamar','joseribas@yes.com','av. Beira mar, numero 33, Lagoa Amarela'),
	 ('Maria Fernanda','mary100@fb.com','av. Rocha, numero 5, Rio Vermelho'),
	 ('Michael Rey','mrey@xpto.com','rua das Flores, quadra C, numero 12, Liberdade'),
	 ('Lara Goncalves','lg@yes.com','av. Embaixador Luiz, numero 13, Centro'),
	 ('Julia da Silva','juju_s@fb.com','av. beira mar, numero 25, Lagoa Amarela'),
	 ('Raimundo Nonato','rai7@xpto.com','av. Rocha, numero 12, Rio Vermelho'),
	 ('Enzo Gabriel','gabriel_enzo@fb.com','av. Olimpica, numero 10, apt. 102, Centro'),
	 ('Valentina Rangel','val_rangel@xpto.com','rua 4, quadra B, numero 3, Montes Altos');

INSERT INTO tb_pizza (nome,descricao,categoria,preco) VALUES
     ('BACON COM CATUPIRY', 'Molho de tomate, queijo mozarela, fatias de bacon e Catupiry', 'Tradicionais', 55.0),
     ('CALABRESA COM CATUPIRY', 'Molho de tomate, queijo mozarela, calabresa fatiada Cerati, Catupiry, cebola e or√©gano', 'Tradicionais', 50.0),
     ('MARGUERITA ESPECIAL', 'Molho de tomate, queijo mozarela, tomate confit, queijo parmes√£o ralado na hora e manjeric√£o', 'Tradicionais', 45.0),
     ('PORTUGUESA', 'Molho de tomate, queijo mozarela, presunto, ovo, cebola, azeitona preta e or√©gano', 'Tradicionais', 50.0),
     ('CAPRESE', 'Molho de tomate, queijo mozarela, mozarela de b√∫fala, molho pesto, tomate cereja e manjeric√£o', 'Especiais', 60.0),
     ('PALETA SU√çNA DEFUMADA COM GELEIA DE PIMENTA', 'Molho de tomate, queijo mozarela, paleta su√≠na defumada e geleia de pimenta', 'Especiais', 60.0),
     ('PEPPERONI AO PESTO', 'Molho de tomate, queijo mozarela, pepperoni, e molho pesto', 'Especiais', 55.0),
     ('QUATRO QUEIJOS', 'Molho de tomate, queijos gorgonzola, provolone, mozarela e parmes√£o ralado na hora', 'Especiais', 60.0),
     ('ROMEU E JULIETA', 'Queijo mozarela, peda√ßos de goiabada e queijo parmes√£o ralado na hora', 'Especiais', 40.0),
     ('TOMATE SECO COM R√öCULA', 'Molho de tomate, queijo mozarela, mozarela de b√∫fala, tomate seco, r√∫cula e parmes√£o ralado na hora', 'Especiais', 60.0),
     ('BACON ZERO LACTOSE', 'Molho de tomate, queijo mozarela zero lactose, fatias de bacon', 'Zero Lactose', 55.0),
     ('CALABRESA ZERO LACTOSE', 'Molho de tomate, queijo mozarela zero lactose, calabresa fatiada Cerati, Catupiry, cebola e or√©gano', 'Zero Lactose', 55.0),
     ('MARGUERITA ESPECIAL ZERO LACTOSE', 'Molho de tomate, queijo mozarela zero lactose, tomate confit e manjeric√£o', 'Zero Lactose', 55.0),
     ('PORTUGUESA ZERO LACTOSE', 'Molho de tomate, queijo mozarela zero lactose, presunto, ovo, cebola, azeitona preta e or√©gano', 'Zero Lactose', 55.0),
     ('PALETA SU√çNA DEFUMADA COM GELEIA DE PIMENTA ZERO LACTOSE', 'Molho de tomate, queijo mozarela zero lactose, paleta su√≠na defumada e geleia de pimenta', 'Zero Lactose', 60.0),
     ('PEPPERONI AO PESTO ZERO LACTOSE', 'Molho de tomate, queijo mozarela zero lactose, pepperoni, e molho pesto', 'Zero Lactose', 55.0),
     ('ROMEU E JULIETA ZERO LACTOSE', 'Queijo mozarela zero lactose e peda√ßos de goiabada', 'Zero Lactose', 40.0),
     ('TOMATE SECO COM R√öCULA ZERO LACTOSE', 'Molho de tomate, queijo mozarela zero lactose, tomate seco e r√∫cula', 'Zero Lactose', 55.0);

INSERT INTO tb_pedido (id_cliente,observacao,tipo_entrega,preco,data_pedido) VALUES
	 (1,NULL,'Delivery',55.00,'2021-04-17 19:12:23'),
	 (2,NULL,'Delivery',120.00,'2021-04-17 19:17:20'),
	 (3,'Sem molho pesto.','Delivery',55.00,'2021-04-17 20:51:17'),
	 (1,NULL,'Delivery',60.00,'2021-04-18 18:02:03'),
	 (4,NULL,'Delivery',57.50,'2021-04-18 18:12:35'),
	 (5,'Sem cebola.','Retirada no balc√£o',90.00,'2021-04-18 18:35:12'),
	 (3,NULL,'Delivery',55.00,'2021-04-18 18:47:44'),
	 (2,NULL,'Delivery',55.00,'2021-04-18 19:21:07'),
	 (6,NULL,'Delivery',60.00,'2021-04-18 19:24:10'),
	 (7,NULL,'Delivery',155.00,'2021-04-18 19:32:55'),
	 (1,NULL,'Delivery',320.00,'2021-04-18 19:57:00'),
	 (8,NULL,'Delivery',110.00,'2021-04-18 20:01:45'),
	 (9,NULL,'Delivery',55.00,'2021-04-18 20:12:13'),
	 (2,NULL,'Delivery',55.00,'2021-04-18 20:18:09'),
	 (5,NULL,'Retirada no balc√£o',60.00,'2021-04-18 20:30:08'),
	 (6,NULL,'Delivery',95.00,'2021-04-18 20:47:56'),
	 (4,NULL,'Delivery',57.50,'2021-04-18 21:07:09'),
	 (9,NULL,'Retirada no balc√£o',107.50,'2021-04-20 18:17:23'),
	 (10,NULL,'Delivery',260.00,'2021-04-20 18:50:35'),
	 (11,NULL,'Delivery',45.00,'2021-04-20 19:20:46'),
	 (6,NULL,'Delivery',57.50,'2021-04-20 20:47:19'),
	 (12,NULL,'Retirada no balc√£o',100.00,'2021-04-20 21:15:02'),
	 (1,NULL,'Delivery',100.00,'2021-04-20 22:30:44'),
	 (12,NULL,'Retirada no balc√£o',50.00,'2021-04-21 19:41:00'),
	 (3,NULL,'Delivery',60.00,'2021-04-21 20:22:59'),
	 (4,NULL,'Delivery',95.00,'2021-04-22 20:05:13'),
	 (11,NULL,'Delivery',57.50,'2021-04-22 21:37:41'),
	 (5,NULL,'Delivery',215.00,'2021-04-23 19:02:33'),
	 (9,NULL,'Delivery',60.00,'2021-04-23 19:55:56'),
	 (1,NULL,'Delivery',47.50,'2021-04-23 20:47:42');

INSERT INTO tb_pedido_pizza (id_pedido,id_pizza,quantidade) VALUES
	 (1,11,'Inteira'),
	 (2,5,'Meia'),
	 (2,6,'Meia'),
	 (2,8,'Meia'),
	 (2,10,'Meia'),
	 (3,1,'Meia'),
	 (3,7,'Meia'),
	 (4,10,'Inteira'),
	 (5,7,'Meia'),
	 (5,8,'Meia'),
	 (6,9,'Inteira'),
	 (6,2,'Meia'),
	 (6,4,'Meia'),
	 (7,16,'Inteira'),
	 (8,12,'Inteira'),
	 (9,5,'Meia'),
	 (9,6,'Meia'),
	 (10,1,'Meia'),
	 (10,2,'Meia'),
	 (10,4,'Meia'),
	 (10,7,'Meia'),
	 (10,9,'Meia'),
	 (10,10,'Meia'),
	 (11,1,'Inteira'),
	 (11,2,'Inteira'),
	 (11,3,'Inteira'),
	 (11,4,'Inteira'),
	 (11,5,'Inteira'),
	 (11,6,'Inteira'),
	 (12,6,'Meia'),
	 (12,2,'Meia'),
	 (13,1,'Inteira'),
	 (14,13,'Meia'),
	 (14,14,'Meia'),
	 (15,5,'Inteira'),
	 (16,3,'Inteira'),
	 (16,4,'Inteira'),
	 (17,15,'Meia'),
	 (17,16,'Meia'),
	 (18,4,'Meia'),
	 (18,7,'Meia'),
	 (18,1,'Inteira'),
	 (19,1,'Inteira'),
	 (19,2,'Inteira'),
	 (19,4,'Inteira'),
	 (19,3,'Inteira'),
	 (19,5,'Inteira'),
	 (20,3,'Inteira'),
	 (21,1,'Meia'),
	 (21,5,'Meia'),
	 (22,1,'Meia'),
	 (22,3,'Meia'),
	 (22,2,'Meia'),
	 (22,4,'Meia'),
	 (23,10,'Inteira'),
	 (23,9,'Inteira'),
	 (24,2,'Inteira'),
	 (24,4,'Inteira'),
	 (25,15,'Inteira'),
	 (26,11,'Meia'),
	 (26,12,'Meia'),
	 (26,9,'Inteira'),
	 (27,7,'Meia'),
	 (27,8,'Meia'),
	 (28,1,'Inteira'),
	 (28,3,'Inteira'),
	 (28,5,'Inteira'),
	 (28,9,'Inteira'),
	 (29,5,'Meia'),
	 (29,6,'Meia'),
	 (30,3,'Meia'),
	 (30,4,'Meia');

###***BANCO RESILIA - MODULO 3***


```sql
DROP TABLE IF EXISTS senac;
DROP TABLE IF EXISTS aluno;
DROP TABLE IF EXISTS matricula;
DROP TABLE IF EXISTS curso;
DROP TABLE IF EXISTS turma;
DROP TABLE IF EXISTS monitor;
DROP TABLE IF EXISTS facilitador;
DROP TABLE IF EXISTS modulo;
DROP TABLE IF EXISTS presenca;
DROP TABLE IF EXISTS presenca_aluno_monitor ;
DROP TABLE IF EXISTS presenca_aluno_facilitador;
DROP TABLE IF EXISTS coordena√ß√£o_senac;


CREATE TABLE senac (
unidade VARCHAR(100) PRIMARY KEY NOT NULL,
endereco VARCHAR(250) NOT NULL);

CREATE TABLE aluno (
matricula_pk INT(50) PRIMARY KEY NOT NULL,
nome VARCHAR(200) NOT NULL,
cpf INT(20) NOT NULL,
idade INT(3) NOT NULL,
genero VARCHAR(100) NOT NULL,
email VARCHAR(250) NOT NULL,
senha VARCHAR(100) NOT NULL);

CREATE TABLE matricula (
matricula INT PRIMARY KEY NOT NULL DEFAULT 50,
unidade_fk VARCHAR(100) NOT NULL,
curso_fk VARCHAR(200) NOT NULL,
status VARCHAR(100) NOT NULL);

CREATE TABLE curso (
matricula_fk INTEGER(100) NOT NULL,
curso VARCHAR(200) PRIMARY KEY NOT NULL,
duracao VARCHAR(100) NOT NULL,
inicio DATE NOT NULL,
fim DATE NOT NULL);

CREATE TABLE turma (
curso_fk VARCHAR(200) NOT NULL,
unidade_fk VARCHAR(100) NOT NULL,
turma_pk INT(3) PRIMARY KEY NOT NULL,
sala INT(3) NOT NULL,
computador INT(34) NOT NULL);

CREATE TABLE monitor (
cpf_monitor INT(11) PRIMARY KEY NOT NULL,
turma_fk INT(10) NOT NULL,
nome VARCHAR(200) NOT NULL,
idade INT(3) NOT NULL,
genero VARCHAR(100) NOT NULL,
email VARCHAR(250) NOT NULL,
senha VARCHAR(250) NOT NULL);

CREATE TABLE facilitador (
cpf_facilitador INT(11) PRIMARY KEY NOT NULL,
turma_fk INT(10) NOT NULL,
nome VARCHAR NOT NULL DEFAULT '250',
idade INT(3) NOT NULL,
genero VARCHAR(100) NOT NULL,
especializacao VARCHAR(200) NOT NULL,
email VARCHAR(250) NOT NULL,
senha CHAR(250) NOT NULL);

CREATE TABLE modulo (
modulo INT(10) PRIMARY KEY NOT NULL,
curso_fk VARCHAR(200) NOT NULL,
cpf_facilitador INT(11) NOT NULL,
avaliacao INT(3));

CREATE TABLE presenca (
id_presenca INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
matricula_fk INTEGER(100) NOT NULL,
aula_soft DATE,
aula_hard DATE,
presenca_aluno_facilitador_fk BOOLEAN NOT NULL,
presenca_aluno_monitor_fk BOOLEAN NOT NULL,
login_computador INT(250) NOT NULL);

CREATE TABLE presenca_aluno_monitor  (
presenca_aluno_monitor_fk BOOLEAN PRIMARY KEY NOT NULL,
data DATE NOT NULL,
cpf_monitor INT(11) NOT NULL);

CREATE TABLE presenca_aluno_facilitador (
presenca_aluno_facilitador BOOLEAN PRIMARY KEY NOT NULL,
data DATE NOT NULL,
cpf_facilitador INT(11) NOT NULL);

CREATE TABLE coordena√ß√£o_senac (
id_cordenacao INT(10) PRIMARY KEY NOT NULL,
supervisor_tecnico VARCHAR(200) NOT NULL,
coordenador VARCHAR(200) NOT NULL,
turma_fk INT(10) NOT NULL,
unidade_fk VARCHAR(100) NOT NULL);

ALTER TABLE matricula ADD CONSTRAINT matricula_unidade_fk_senac_unidade FOREIGN KEY (unidade_fk) REFERENCES senac(unidade);
ALTER TABLE matricula ADD CONSTRAINT matricula_curso_fk_curso_curso FOREIGN KEY (curso_fk) REFERENCES curso(curso);
ALTER TABLE curso ADD CONSTRAINT curso_matricula_fk_aluno_matricula_pk FOREIGN KEY (matricula_fk) REFERENCES aluno(matricula_pk);
ALTER TABLE turma ADD CONSTRAINT turma_curso_fk_curso_curso FOREIGN KEY (curso_fk) REFERENCES curso(curso);
ALTER TABLE turma ADD CONSTRAINT turma_unidade_fk_senac_unidade FOREIGN KEY (unidade_fk) REFERENCES senac(unidade);
ALTER TABLE monitor ADD CONSTRAINT monitor_turma_fk_turma_turma_pk FOREIGN KEY (turma_fk) REFERENCES turma(turma_pk);
ALTER TABLE facilitador ADD CONSTRAINT facilitador_turma_fk_turma_turma_pk FOREIGN KEY (turma_fk) REFERENCES turma(turma_pk);
ALTER TABLE modulo ADD CONSTRAINT modulo_curso_fk_curso_curso FOREIGN KEY (curso_fk) REFERENCES curso(curso);
ALTER TABLE modulo ADD CONSTRAINT modulo_cpf_facilitador_facilitador_cpf_facilitador FOREIGN KEY (cpf_facilitador) REFERENCES facilitador(cpf_facilitador);
ALTER TABLE presenca ADD CONSTRAINT presenca_matricula_fk_aluno_matricula_pk FOREIGN KEY (matricula_fk) REFERENCES aluno(matricula_pk);
ALTER TABLE presenca ADD CONSTRAINT presenca_presenca_aluno_facilitador_fk_presenca_aluno_facilitador_presenca_aluno_facilitador FOREIGN KEY (presenca_aluno_facilitador_fk) REFERENCES presenca_aluno_facilitador(presenca_aluno_facilitador);
ALTER TABLE presenca ADD CONSTRAINT presenca_presenca_aluno_monitor_fk_presenca_aluno_monitor _presenca_aluno_monitor_fk FOREIGN KEY (presenca_aluno_monitor_fk) REFERENCES presenca_aluno_monitor (presenca_aluno_monitor_fk);
ALTER TABLE presenca_aluno_monitor  ADD CONSTRAINT presenca_aluno_monitor _cpf_monitor_monitor_cpf_monitor FOREIGN KEY (cpf_monitor) REFERENCES monitor(cpf_monitor);
ALTER TABLE presenca_aluno_facilitador ADD CONSTRAINT presenca_aluno_facilitador_cpf_facilitador_facilitador_cpf_facilitador FOREIGN KEY (cpf_facilitador) REFERENCES facilitador(cpf_facilitador);
ALTER TABLE coordena√ß√£o_senac ADD CONSTRAINT coordena√ß√£o_senac_turma_fk_turma_turma_pk FOREIGN KEY (turma_fk) REFERENCES turma(turma_pk);
ALTER TABLE coordena√ß√£o_senac ADD CONSTRAINT coordena√ß√£o_senac_unidade_fk_senac_unidade FOREIGN KEY (unidade_fk) REFERENCES senac(unidade);

```

###***ACOMPANHANDO A AULA***

```sql
--

USE pizzaria;

select length(nome) from tb_cliente;
SELECT data_pedido from tb_pedido;
SELECT extract(year from data_pedido) from tb_pedido;
SELECT extract(month from data_pedido) from tb_pedido;

SELECT tb_cliente a, tb_pedido b, cliente_pedido
FROM tb_cliente

--

create view cliente2 as select nome, email from tb_cliente;

select * from cliente2;
create or replace view cliente2 as select nome,email,endereco from tb_cliente;

--

create view cliente2 as select nome, email from tb_cliente;

select * from cliente2;

create or replace view cliente2 as
select nome,email,endereco from tb_cliente;

--

use pizzaria;
create view cliente2 as select nome, email from tb_cliente;
use pizzaria;
create view cliente2 as select nome, email from tb_cliente;
select * from cliente2;
SELECT c.nome,pz.nome,pz.categoria,p.tipo_entrega FROM tb_cliente c
INNER JOIN tb_pedido p ON p.id_cliente = c.id_cliente
INNER JOIN tb_pedido_pizza pp ON pp.id_pedido = p.id_pedido
INNER JOIN tb_pizza pz ON pz.id_pizza = pp.id_pizza
WHERE categoria = 'zero lactose';

--

SELECT c.nome,pz.nome,pz.categoria,p.tipo_entrega FROM tb_cliente c
INNER JOIN tb_pedido p ON p.id_cliente = c.id_cliente
INNER JOIN tb_pedido_pizza pp ON pp.id_pedido = p.id_pedido
INNER JOIN tb_pizza pz ON pz.id_pizza = pp.id_pizza
WHERE categoria = 'zero lactose';

--

SELECT nome
FROM tb_pizza
WHERE id_pizza IN (
    SELECT pp.id_pizza
    FROM tb_pedido_pizza pp
    JOIN tb_pedido p ON pp.id_pedido = p.id_pedido
    WHERE categoria = 'zero lactose'
);

--

SELECT * FROM tb_pizza WHERE id_pizza IN ( SELECT id_pizza FROM tb_pedido WHERE categoria = 'Zero Lactose');

--

SELECT c.nome FROM tb_cliente c where id_cliente in(SELECT p.id_cliente FROM tb_pedido p WHERE tipo_entrega="Delivery");
SELECT c.nome FROM tb_cliente c (SELECT p.tipo_entrega FROM tb_pedido p WHERE tipo_entrega="Delivery");

--

SELECT *
FROM tb_cliente
WHERE id_cliente IN (
    SELECT id_cliente
    FROM tb_pedido
    WHERE tipo_entrega = 'Delivery'
);

--

select nome from tb_cliente where id_cliente in (select id_cliente from tb_pedido where tipo_entrega = 'Delivery');

--

SELECT c.nome FROM tb_cliente c (SELECT p.tipo_entrega FROM tb_pedido p WHERE tipo_entrega="Delivery");

--

select tbc.nome, tp.nome from  tb_cliente tbc
inner join tb_pedido tbp on tbc.id_cliente = tbp.id_cliente
inner join tb_pedido_pizza tbpp on tbp.id_pedido  = tbpp.id_pedido
inner join tb_pizza tp on tp.id_pizza = tbpp.id_pizza group by tbc.nome ;

--

SELECT c.nome,pz.nome as pizza,MAX(p.id_pedido) AS qtd FROM tb_cliente c INNER JOIN tb_pedido p ON c.id_cliente=1 INNER JOIN tb_pedido_pizza pp ON pp.id_pedido=p.id_pedido INNER JOIN tb_pizza pz ON pz.id_pizza=pp.id_pizza ;

--

select tbc.nome, tp.nome from  tb_cliente tbc
inner join tb_pedido tbp on tbc.id_cliente = tbp.id_cliente
inner join tb_pedido_pizza tbpp on tbp.id_pedido  = tbpp.id_pedido
inner join tb_pizza tp on tp.id_pizza = tbpp.id_pizza

--

SELECT c.nome,COUNT(p.id_pizza) AS qtd FROM tb_pizza c
INNER JOIN tb_pedido_pizza p ON p.id_pizza=c.id_pizza GROUP BY c.nome ;

--

SELECT c.nome,COUNT(p.id_pizza) AS qtd FROM tb_pizza c INNER JOIN tb_pedido_pizza p ON p.id_pizza=c.id_pizza GROUP BY c.nome ;

--

SELECT tb_cliente.id_cliente, tb_cliente.nome, COUNT(tb_pedido.id_pedido) AS total_pedidos
FROM tb_cliente
inner JOIN tb_pedido  ON tb_cliente.id_cliente = tb_pedido.id_cliente
GROUP BY tb_cliente.nome;

--

SELECT c.nome,COUNT(p.id_pedido) AS qtd FROM tb_cliente c INNER JOIN tb_pedido p ON c.id_cliente=p.id_cliente GROUP BY c.nome ;

--

SELECT c.nome,COUNT(p.id_pedido) AS qtd FROM tb_cliente c
INNER JOIN tb_pedido p ON c.id_cliente=p.id_cliente GROUP BY c.nome  ;

--

SELECT id_cliente, nome_cliente, COUNT(p.id_pedido) AS total_pedidos
FROM tb_clientes
LEFT JOIN tb_pedido  ON tb_cliente.id_cliente = tb_pedidoid_cliente
GROUP BY id_cliente, nome;

--

SELECT c.nome,COUNT(p.id_pedido) AS qtd FROM tb_cliente c INNER JOIN tb_pedido p ON c.id_cliente=p.id_cliente GROUP BY c.nome ORDER BY c.nome ;

--

SELECT c.nome,p.tipo_entrega FROM tb_cliente c LEFT JOIN tb_pedido p ON c.id_cliente=p.id_cliente;

--

select tb_cliente.nome, tb_pedido.tipo_entrega from   tb_cliente
inner join tb_pedido  on tb_cliente.id_cliente = tb_pedido.id_cliente ;
select tb_cliente.nome, tb_pedido.tipo_entrega from   tb_cliente
inner join tb_pedido  on tb_cliente.id_cliente = tb_pedido.id_cliente ;

select tb_cliente.nome, tb_pedido.tipo_entrega from   tb_cliente
left join tb_pedido  on tb_cliente.id_cliente = tb_pedido.id_cliente ;

select tb_cliente.nome, tb_pedido.tipo_entrega from   tb_cliente
right join tb_pedido  on tb_cliente.id_cliente = tb_pedido.id_cliente ;

--
```

##**MODULO 4 - PANDA E NUMPY**

In [1]:
print('ola mundo')

ola mundo

# **ESTUDOS E EXERCICIOS DE PYTHON üêç**
Estrutura de Dados com listas, Dicion√°rio, tuplas e conjunto.

### Listas üìã

Em Python, voc√™ pode iniciar uma lista de diversas maneiras. Aqui est√£o alguns exemplos:

1. Iniciar uma lista vazia:
```python
minha_lista = []
```

2. Iniciar uma lista com elementos:
```python
minha_lista = [1, 2, 3, 4, 5]
```

3. Iniciar uma lista com strings:
```python
frutas = ["ma√ß√£", "banana", "laranja"]
```

4. Iniciar uma lista com tipos de dados mistos:
```python
dados_mistos = [1, "cachorro", 3.14, True]
```

5. Iniciar uma lista usando a fun√ß√£o `list()`:
```python
outra_lista = list(range(1, 6))  # Cria uma lista de 1 a 5
```

6. Iniciar uma lista com valores repetidos:
```python
repeticoes = [0] * 3  # Cria uma lista com tr√™s zeros: [0, 0, 0]
```

E temos tamb√©m a lista como fun√ß√£o:

1. Converter uma string em uma lista de caracteres:
```python
texto = "Python"
lista_de_caracteres = list(texto)  # Converte para: ['P', 'y', 't', 'h', 'o', 'n']
```

2. Converter uma tupla em uma lista:
```python
tupla = (1, 2, 3)
lista = list(tupla)  # Converte para: [1, 2, 3]
```

3. Converter um conjunto em uma lista:
```python
conjunto = {4, 5, 6}
lista = list(conjunto)  # Converte para: [4, 5, 6]
```

4. Converter um dicion√°rio em uma lista de chaves, valores ou itens:
```python
dicionario = {'a': 1, 'b': 2, 'c': 3}
chaves = list(dicionario.keys())  # Converte para: ['a', 'b', 'c']
valores = list(dicionario.values())  # Converte para: [1, 2, 3]
itens = list(dicionario.items())  # Converte para: [('a', 1), ('b', 2), ('c', 3)]
```

A fun√ß√£o `list()` √© vers√°til e √∫til para converter outros tipos de dados em listas em Python.

Podemos tamb√©m acessar elementos individuais nas listas adicionando "CONCHETES"
Ex.
numero = [1, 2, 3, 4, 5]
print(numero[0])

Existem v√°rios m√©todos para manipulados as Listas em Python.

‚ñ† append(): adiciona um elemento ao final da lista;

‚ñ† insert(): adiciona um elemento em uma posi√ß√£o espec√≠fica da lista;

‚ñ† remove(): remove o primeiro elemento da lista que corresponde a um
valor espec√≠fico;

‚ñ† pop(): remove e retorna o elemento na posi√ß√£o especificada da lista.

### Tuplas üìã

Atividade: Criando tuplas

‚ûî O QUE FAZER?
Elaborar um algoritmo que cria duas tuplas de dez posi√ß√µes e fazer a
multiplica√ß√£o dos elementos de mesmo √≠ndice, colocando o resultado em uma
terceira tupla que deve ser mostrada como sa√≠da.

In [ ]:
Ex: 1
x = (1, 2, 3, 4, 5)
y = (2, 3, 4, 5, 6)
z = ()
for i in range(len(x)):
    z += (x[i] * y[i],)
print(z)

Ex: 2
tupla_x = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tupla_y = (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
tupla_z = tuple(x * y for x, y in zip(tupla_x, tupla_y))
#
print(tupla_z)

(2, 6, 12, 20, 30)
(10, 18, 24, 28, 30, 30, 28, 24, 18, 10)

### Dicion√°rios üìã

***Formas de criar um dicion√°rio.***

Em Python, voc√™ pode criar um dicion√°rio de v√°rias maneiras. Aqui est√£o algumas das formas mais comuns de criar um dicion√°rio:

1. **Chaves e Valores Literais:**
   Voc√™ pode definir um dicion√°rio diretamente, especificando suas chaves e valores. Por exemplo:
   ```python
   meu_dicionario = {"chave1": "valor1", "chave2": "valor2"}
   ```

2. **Usando o Construtor `dict()`:**
   Voc√™ pode usar o construtor `dict()` para criar um dicion√°rio. Por exemplo:
   ```python
   meu_dicionario = dict(chave1="valor1", chave2="valor2")
   ```

3. **Usando Listas de Tuples:**
   Voc√™ pode criar um dicion√°rio a partir de uma lista de tuples, onde cada tuple cont√©m uma chave e um valor. Por exemplo:
   ```python
   lista_de_tuples = [("chave1", "valor1"), ("chave2", "valor2")]
   meu_dicionario = dict(lista_de_tuples)
   ```

4. **Usando Listas de Chaves e Listas de Valores:**
   Voc√™ pode criar um dicion√°rio a partir de duas listas separadas, uma contendo as chaves e a outra contendo os valores. Por exemplo:
   ```python
   chaves = ["chave1", "chave2"]
   valores = ["valor1", "valor2"]
   meu_dicionario = dict(zip(chaves, valores))
   ```

5. **Usando Compreens√µes de Dicion√°rio (Dictionary Comprehensions):**
   Voc√™ pode criar um dicion√°rio usando uma compreens√£o de dicion√°rio. Por exemplo:
   ```python
   meu_dicionario = {chave: valor for chave, valor in lista_de_tuples}
   ```

6. **Inicializa√ß√£o Vazia e Adi√ß√£o de Elementos:**
   Voc√™ pode criar um dicion√°rio vazio e adicionar elementos posteriormente. Por exemplo:
   ```python
   meu_dicionario = {}
   meu_dicionario["chave1"] = "valor1"
   meu_dicionario["chave2"] = "valor2"
   ```

Essas s√£o algumas das formas de criar dicion√°rios em Python. Escolha a que melhor se adapte √† sua situa√ß√£o e aos seus dados.

***Exerc√≠cio de Dicionario***

In [ ]:

#Criando um dicion√°rio vazio
inglesPort = {}
# Dicion√°rio
inglesPort = {'one':'um', 'two':'dois','three':'tr√™s'}
# N√∫mero de chaves-valores dentro do Dicion√°rio
print(len(inglesPort))
# Adicionar
inglesPort['one']='zero'

print(inglesPort)
print(len(inglesPort))

if 'one' in inglesPort:
  print('Essa √© uma chave v√°lida')
if 'um' in inglesPort:
  print('Essa √© uma chave v√°lida')

3
{'one': 'zero', 'two': 'dois', 'three': 'tr√™s'}
3
Essa √© uma chave v√°lida

***Acessando Elementos***

In [ ]:
inglesPort = { 'one': 'um', 'two': 'dois', 'three': 'tr√™s'}

print(inglesPort['two'])
print(inglesPort.get('two'))

dois
dois

In [ ]:
inglesPort = { 'one': 'um', 'two': 'dois', 'three': 'tr√™s'}

print(inglesPort.keys())
inglesPort = { 'one': 'um', 'two': 'dois', 'three': 'tr√™s'}

print(inglesPort.values())
inglesPort = { 'one': 'um', 'two': 'dois', 'three': 'tr√™s'}

print(inglesPort.values())
print(inglesPort.keys())
inglesPort = { 'one': 'um', 'two': 'dois', 'three': 'tr√™s'}

print(inglesPort.values())
print(inglesPort.keys())
print(inglesPort.items())

dict_keys(['one', 'two', 'three'])
dict_values(['um', 'dois', 'tr√™s'])
dict_values(['um', 'dois', 'tr√™s'])
dict_keys(['one', 'two', 'three'])
dict_values(['um', 'dois', 'tr√™s'])
dict_keys(['one', 'two', 'three'])
dict_items([('one', 'um'), ('two', 'dois'), ('three', 'tr√™s')])

***Atividade: Meu primeiro dicion√°rio***

‚ûî O QUE FAZER?
Criar um gloss√°rio. Elaborar um algoritmo que:

1. Crie um dicion√°rio e adicione cinco palavras relacionadas √† programa√ß√£o que voc√™ conheceu nos
m√≥dulos anteriores.

2. Use essas palavras como chaves em seu gloss√°rio e armazene seus significados como valores.

3. Em seguida, leia do usu√°rio palavras a serem buscadas no seu gloss√°rio e exiba em tela seu
significado.

In [ ]:
# Exemplo 1
#Criando um Dicion√°rio
d = {
    "fruta": "banana",
    "numero": "um",
    "objeto": "tesoura",
    "adjetivo": "belo",
    "criatura": "humano",
}

#Fun√ß√£o print para pular uma linha
print("")

#Mostrando as chaves do Dicionario
print(d.keys())

#Salvando na vari√°vel x uma chave do dicion√°rio
x = input("Digite uma chave do dicionario:")

#Criando uma condi√ß√£o 'if', seguido de um operador 'in' para verificar se a vari√°vel 'x' tem alguma chave do dicionario 'd'.
if x in d:
# O d.get(x) mostra o valor da chave 'x'
    print(d.get(x))
else:
    print("Palavra n√£o esta no dicionario")

dict_keys(['fruta', 'numero', 'objeto', 'adjetivo', 'criatura'])

KeyboardInterrupt: ignored

In [ ]:
# pedir ao usu√°rio uma palavra para buscar no gloss√°rio
glossario = {
    "fruta": "banana",
    "numero": "um",
    "objeto": "tesoura",
    "adjetivo": "belo",
    "criatura": "humano",
}
print(glossario)
palavra = input("Digite uma palavra que tenha a ver com programa√ß√£o ")
# ver se a palavra existe no dicion√°rio
if palavra in glossario:
    # Exibir o significado da palavra
    print(f"{palavra}: {glossario[palavra]}")
else:
    # Exibir uma mensagem de erro
    print(f"Desculpe, essa palavra {palavra} n√£o foi encontrada no gloss√°rio.")

***Removendo itens do dicion√°rio***

In [ ]:
#Exemplo 2
# Criando Dicion√°rio
inglesPort = { 'one': 'um', 'two': 'dois', 'three': 'tr√™s'}
print(inglesPort)

# Remover chave-valor
inglesPort.pop('one')
print(inglesPort)

# Remover pela chave
del inglesPort['two']
print(inglesPort)

# Remove o √∫ltimo item inserido
inglesPort.popitem()
print(inglesPort)

# Esvaziando o dicion√°rio
inglesPort.clear()
print(inglesPort)

### Orienta√ß√£o a Objeto üóΩ

Exerc√≠cio 1 - Criar um Carro

In [ ]:
class Carro:
  quantidade_rodas = None
  velocidade_maxima = None

  def __init__ (self,quantidade_rodas, velocidade_maxima):
    self.quantidade_rodas = quantidade_rodas
    self.velocidade_maxima = velocidade_maxima

  def mostrar_info(self):
    print('Possui {} Rodas e a velocidade m√°xima √© {}'.format(self.quantidade_rodas,self.velocidade_maxima))

carro = Carro(4,200)
carro.mostrar_info()

#Criar uma Classe Carro com os atributos, rodas e velocidade.
class Carro:
  def __init__(self, rodas, velocidade):
    self.rodas = rodas
    self.velocidade = velocidade

#Criar o m√©todo mostrar informa√ß√µes

  def mostrar (self):
    print("Possui {} Rodas e a velocidade m√°xima √© {}.".format(self.rodas,self.velocidade))

carro = Carro(4,200)
carro.mostrar()

#

Possui 4 Rodas e a velocidade m√°xima √© 200
Possui 4 Rodas e a velocidade m√°xima √© 200.

#**üë®‚Äçüî¨CIENTISTA DE DADOS - ADA** üìä

##***ESTATISTICA***üìà

###***Amostragem*** üß™

A amostragem √© uma t√©cnica crucial na estat√≠stica e na ci√™ncia de dados, onde se extrai um subconjunto representativo de uma popula√ß√£o maior para realizar an√°lises e infer√™ncias. Aqui est√£o alguns pontos-chave sobre amostragem:

### ***Popula√ß√£o e Amostra:***

- **Popula√ß√£o:** √â o conjunto completo de elementos que possuem uma caracter√≠stica espec√≠fica. Exemplo: todos os clientes de uma empresa.
- **Amostra:** √â um subconjunto representativo da popula√ß√£o.

### ***Tipos de Amostragem:***

1. **Amostragem Aleat√≥ria Simples:**
   - Cada elemento tem a mesma chance de ser selecionado.

   **EXEMPLO de Amostragem Simples:** Vamos Retirar 9 Amostras de 90 pessoas para um sorteio. Com os n√∫meros dentro de uma urna, sorteamos um n√∫mero, e esse n√∫mero pode ser repetido enviando-o de volta para a urna, ou sorteamos um n√∫mero e retiramos ele da urna para n√£o ser repetido novamente. E armazenamos esses n√∫meros em uma lista.

2. **Amostragem Estratificada:**
   - A popula√ß√£o √© dividida em estratos e, em seguida, s√£o selecionadas amostras de cada estrato.

   **EXEMPLO de Amostragem Estratificada:**
   - Vamos retirar 10% de cada Extrato da popula√ß√£o. Um exemplo de extrato de pessoas √© separ√°-las por sua orienta√ß√£o sexual. Ent√£o: Grupo de pessoas masculinas (54 √ó 0.1 = 5,4 - Arredondados para baixo). Grupo de pessoas femininas (36 √ó 0.1 = 3,6 - Arredondados para cima). Total dos grupos: 9.

3. ***Amostragem Sistem√°tica***üéØ

  - A amostragem sistem√°tica √© um m√©todo de sele√ß√£o de amostras em que os elementos s√£o escolhidos a intervalos fixos de uma lista ordenada. A ideia b√°sica √© selecionar um ponto de partida aleat√≥rio e, em seguida, escolher elementos subsequentes em intervalos predefinidos.

## ***Exemplo Pr√°tico:***

Suponha que voc√™ tenha uma popula√ß√£o de 1000 pessoas e deseje selecionar uma amostra sistem√°tica de 100 indiv√≠duos. O primeiro passo seria calcular o intervalo, que seria dado por:

*INTERVALO =*
*Tamanho da Popula√ß√£o* - 1000
*Tamanho da amostra* - 100
*Dividido pelo tamanho da Amostra* - 10

Agora, voc√™ escolhe um n√∫mero aleat√≥rio entre 1 e 10, que determinar√° o ponto de partida. Se escolhermos 4, por exemplo, come√ßar√≠amos a sele√ß√£o a partir do quarto elemento da lista. A partir da√≠, a cada 10 elementos, um novo elemento seria inclu√≠do na amostra.

Assumindo que come√ßamos no quarto elemento, a sele√ß√£o seria feita da seguinte forma:
- Elemento 4
- Elemento 14
- Elemento 24
- ...
- Elemento 994

Isso garante que a amostra seja representativa e que todos os elementos da popula√ß√£o tenham uma chance igual de serem inclu√≠dos na amostra.

A amostragem sistem√°tica √© eficiente quando a ordem dos elementos n√£o influencia a sele√ß√£o. No entanto, se houver algum padr√£o na ordem que possa coincidir com o intervalo, isso pode levar a resultados enviesados. Portanto, √© importante garantir que a lista seja aleat√≥ria ou que qualquer padr√£o na ordem n√£o afete os resultados desejados.


4. **Amostragem por Conglomerados:**
   - A popula√ß√£o √© dividida em conglomerados, e alguns s√£o escolhidos aleatoriamente.

### ***Erro Amostral:***
- O erro amostral √© a diferen√ßa entre os resultados obtidos na amostra e os resultados que seriam obtidos se toda a popula√ß√£o fosse medida.

### ***Tamanho da Amostra:***
- Determinar o tamanho adequado da amostra √© crucial para garantir resultados representativos e minimizar o erro amostral. Isso √© muitas vezes feito usando c√°lculos estat√≠sticos ou por experi√™ncia pr√©via.

### ***Import√¢ncia na Ci√™ncia de Dados:***
- Na ci√™ncia de dados, amostragem eficiente pode economizar recursos computacionais ao analisar grandes conjuntos de dados.

### ***Vi√©s de Amostragem:***
- O vi√©s ocorre quando a amostra n√£o √© representativa da popula√ß√£o. Isso pode levar a conclus√µes incorretas.

### ***Intervalos de Confian√ßa:***
- Os intervalos de confian√ßa s√£o frequentemente usados para expressar a precis√£o de uma estimativa baseada em uma amostra.

### ***Testes de Hip√≥teses:***
- Amostragem √© fundamental para a realiza√ß√£o de testes de hip√≥teses, onde se avalia se as diferen√ßas observadas s√£o significativas.

*Em resumo*, a amostragem desempenha um papel essencial em tornar poss√≠vel a generaliza√ß√£o de resultados obtidos a partir de uma amostra para toda a popula√ß√£o, tornando as conclus√µes mais acess√≠veis e eficientes.

##***Constru√ß√£o de Tabelas***

Ao construir uma tabela na estat√≠stica, √© fundamental incluir algumas informa√ß√µes essenciais para tornar a apresenta√ß√£o dos dados completa e compreens√≠vel. Aqui est√£o elementos-chave a considerar:

1. **T√≠tulo da Tabela:**
   - Fornece uma descri√ß√£o clara do conte√∫do da tabela, identificando as vari√°veis ou caracter√≠sticas espec√≠ficas que est√£o sendo analisadas.

2. **Cabe√ßalhos de Coluna e Linha:**
   - Indicam o que cada coluna e linha representa. Os cabe√ßalhos de coluna geralmente incluem as categorias das vari√°veis, enquanto os de linha podem indicar subgrupos ou intervalos.

3. **Unidades de Medida:**
   - Se os dados envolverem quantidades (como valores monet√°rios, medidas f√≠sicas, etc.), √© importante indicar as unidades de medida relevantes.

4. **Fontes e Refer√™ncias:**
   - Quando aplic√°vel, inclua fontes de dados ou refer√™ncias para que os leitores possam verificar a autenticidade e a origem das informa√ß√µes apresentadas.

5. **Notas Explicativas:**
   - Adicione notas explicativas para esclarecer aspectos espec√≠ficos da tabela, como defini√ß√µes de termos, m√©todos de coleta de dados, ou qualquer outra informa√ß√£o relevante.

6. **Totais e Subtotais:**
   - Inclua totais de coluna e/ou linha, dependendo da natureza dos dados. Subtotais podem ser √∫teis para categorias espec√≠ficas.

7. **Frequ√™ncias Cumulativas:**
   - Em tabelas de frequ√™ncia, √© comum incluir uma coluna de frequ√™ncias acumuladas, fornecendo uma vis√£o mais abrangente da distribui√ß√£o dos dados.

8. **Legendas e S√≠mbolos:**
   - Utilize legendas e s√≠mbolos quando necess√°rio para explicar c√≥digos, abrevia√ß√µes ou outros elementos espec√≠ficos na tabela.

Lembre-se de que a clareza e a precis√£o s√£o cruciais ao apresentar dados estat√≠sticos. Ao incorporar esses elementos, voc√™ ajuda os leitores a interpretar e entender as informa√ß√µes de maneira eficaz.

## **Tipos de Dados na Estat√≠sticas**

Em estat√≠sticas, os "tipos de dados" referem-se √†s diferentes formas que os dados podem assumir. Existem dois principais tipos de dados: dados qualitativos (ou categ√≥ricos) e dados quantitativos.

1. **Dados Qualitativos (Categ√≥ricos):**
   - S√£o dados que representam categorias ou qualidades.
   - Exemplos incluem cores, g√™neros, estados civis, tipos de frutas, entre outros.
   - Podem ser nominais, onde n√£o h√° ordem ou hierarquia (por exemplo, cores), ou ordinais, onde existe uma ordem espec√≠fica (por exemplo, classifica√ß√µes de satisfa√ß√£o: "baixo", "m√©dio", "alto").

2. **Dados Quantitativos:**
   - Representam quantidades num√©ricas e s√£o subdivididos em dois tipos principais: discretos e cont√≠nuos.
   - **Dados Discretos:**
     - S√£o cont√°veis e geralmente representam n√∫meros inteiros.
     - Exemplos incluem o n√∫mero de alunos em uma sala de aula, o n√∫mero de carros em um estacionamento.
   - **Dados Cont√≠nuos:**
     - Representam valores que podem assumir qualquer n√∫mero dentro de um intervalo.
     - Exemplos incluem altura, peso, temperatura.

Al√©m disso, os dados podem ser classificados como univariados ou bivariados:

- **Dados Univariados:**
  - Envolvem apenas uma vari√°vel.
  - Exemplo: altura de uma amostra de pessoas.

- **Dados Bivariados:**
  - Envolvem duas vari√°veis e exploram a rela√ß√£o entre elas.
  - Exemplo: altura e peso de uma amostra de pessoas.

A escolha do tipo de dados depende da natureza da informa√ß√£o que est√° sendo coletada e analisada. Compreender esses tipos √© fundamental para selecionar as t√©cnicas estat√≠sticas apropriadas para an√°lise.

###***EXEMPLO*** de cada tipo de dados de tabela.

**1. Tabelas de Frequ√™ncia:**

   - **Univariadas: Vari√°veis Qualitativas**
   
     *Contexto:* A pesquisa de mercado envolveu a coleta de respostas sobre a prefer√™ncia de cores de 47 participantes. Ap√≥s a coleta dos dados, cada resposta foi categorizada nas op√ß√µes Azul, Vermelho ou Verde. As frequ√™ncias foram contadas e registradas na tabela.

| Cor    | Frequ√™ncia |
|--------|------------|
| Azul   | 15         |
| Vermelho| 20         |
| Verde  | 12         |

     *Processo:* Ap√≥s a categoriza√ß√£o das respostas, contamos quantas pessoas escolheram cada cor. A categoria Vermelho foi escolhida com mais frequ√™ncia, resultando em uma frequ√™ncia de 20.

   - **Univariadas: Vari√°veis Quantitativas Discretas**
   
     *Contexto:* Um estudo realizado em uma amostra de 25 fam√≠lias coletou dados sobre o n√∫mero de filhos em cada fam√≠lia. As fam√≠lias foram agrupadas com base no n√∫mero de filhos e a frequ√™ncia foi registrada.

| N√∫mero | Frequ√™ncia |
|--------|------------|
| 1      | 5          |
| 2      | 8          |
| 3      | 12         |

     *Processo:* Contamos quantas fam√≠lias tinham 1, 2 ou 3 filhos. A maioria das fam√≠lias tinha 3 filhos, resultando em uma frequ√™ncia de 12.

**2. Tabelas de Conting√™ncia:**

   *Contexto:* Um levantamento em uma escola coletou dados sobre prefer√™ncias esportivas em g√™neros diferentes. Cada aluno foi classificado como Gosta ou N√£o Gosta de Esportes, e a tabela de conting√™ncia mostra a distribui√ß√£o dessas prefer√™ncias com base no g√™nero.

|               | G√™nero Masculino | G√™nero Feminino |
|---------------|-------------------|-----------------|
| Gosta de Esporte | 15              | 20              |
| N√£o Gosta de Esporte | 5             | 8               |

   *Processo:* Cada aluno foi questionado sobre sua prefer√™ncia por esportes, e essas respostas foram categorizadas. Os n√∫meros foram registrados na tabela, revelando que mais mulheres indicaram que n√£o gostam de esportes em compara√ß√£o com os homens.

**3. Tabelas de Distribui√ß√£o de Frequ√™ncia Cumulativa:**

   *Contexto:* Um professor de matem√°tica registrou as notas de 25 alunos em uma prova. A tabela de distribui√ß√£o de frequ√™ncia cumulativa mostra como as notas est√£o distribu√≠das e como a frequ√™ncia acumulada aumenta.

| Nota  | Frequ√™ncia | Frequ√™ncia Acumulada |
|-------|------------|----------------------|
| 60    | 5          | 5                    |
| 70    | 12         | 17                   |
| 80    | 8          | 25                   |

   *Processo:* Cada aluno recebeu uma nota na prova, e essas notas foram agrupadas em intervalos (60, 70, 80). A frequ√™ncia de alunos que obtiveram notas em cada intervalo foi registrada, e a frequ√™ncia acumulada foi calculada, indicando quantos alunos atingiram ou ficaram abaixo de determinada nota.

###***EXEMPLO 2*** de cada tipo de dados de tabela.

Na estat√≠stica, ao construir tabelas, tr√™s conceitos relacionados s√£o frequentemente utilizados para descrever a distribui√ß√£o de dados: frequ√™ncia, frequ√™ncia relativa e frequ√™ncia relativa percentual. Vamos entender cada um deles:

1. **Frequ√™ncia:**
   - A frequ√™ncia √© o n√∫mero de vezes que uma determinada categoria ou valor ocorre em um conjunto de dados. Por exemplo, em uma tabela que mostra a distribui√ß√£o de notas em uma sala de aula, a frequ√™ncia de "7" pode ser 5, indicando que cinco alunos obtiveram a nota 7.

2. **Frequ√™ncia Relativa:**
   - A frequ√™ncia relativa √© a propor√ß√£o ou a porcentagem de vezes que uma determinada categoria ou valor ocorre em rela√ß√£o ao total de observa√ß√µes. √â calculada dividindo a frequ√™ncia da categoria pelo total de observa√ß√µes. A f√≥rmula √©:

\[ \text{Frequ√™ncia Relativa} = \frac{\text{Frequ√™ncia da Categoria}}{\text{Total de Observa√ß√µes}} \]

   - Essa medida fornece uma ideia da contribui√ß√£o de cada categoria para o conjunto de dados em termos percentuais ou proporcionais.

3. **Frequ√™ncia Relativa Percentual:**
   - A frequ√™ncia relativa percentual expressa a frequ√™ncia relativa como uma porcentagem. Essa medida √© obtida multiplicando a frequ√™ncia relativa por 100. A f√≥rmula √©:

\[ \text{Frequ√™ncia Relativa Percentual} = \text{Frequ√™ncia Relativa} \times 100\% \]

   - Essa medida √© √∫til para apresentar as propor√ß√µes em termos mais facilmente compreendidos, pois est√° na escala percentual.

**Exemplo:**
Vamos considerar uma tabela de frequ√™ncia para as notas de uma turma:

| Nota | Frequ√™ncia |
|------|------------|
| 5    | 3          |
| 6    | 7          |
| 7    | 5          |
| 8    | 2          |
| 9    | 3          |
| 10   | 1          |

- **Frequ√™ncia Relativa:**
  - Para a nota 6: \[ \frac{7}{21} \] (onde 21 √© o total de observa√ß√µes).
  - O mesmo racioc√≠nio se aplica a outras notas.

- **Frequ√™ncia Relativa Percentual:**
- Para a nota 6: \[ \frac{7}{21} \times 100\% \].

Esses conceitos fornecem uma vis√£o abrangente da distribui√ß√£o dos dados, permitindo uma an√°lise mais aprofundada.

# WORKANA

https://betransfero.gupy.io/jobs/6004907?jobBoardSource=share_link

chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https://d3uyk7qgi7fgpo.cloudfront.net/lms/modules/materials/Modelagem%20l%C3%B3gica-04bf46e4415e3488f1d1963b0aab7e2c.pdf

https://d3uyk7qgi7fgpo.cloudfront.net/lms/modules/materials/Modelagem%20l%C3%B3gica-04bf46e4415e3488f1d1963b0aab7e2c.pdf

https://t.me/vagastalentsjuniors

https://www.dio.me/bootcamp/potencia-tech-ifood-programacao-do-zero?ref=CG




https://ead.escoladotrabalhador40.com.br/